<div class="card">
    <div class="header">
        <h4>{{_enttdetails.psngrtype}}</h4>

        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme" (click)="savePassengerInfo()">
                    <i class="material-icons">save</i>
                </a>
            </li>
            <li>
                <a role="button" class="btn btn-theme" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i>
                </a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-6 border">
                <div class="row clearfix">
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">First Name <strong>*</strong></label>
                                <input type="text" name="fname" [(ngModel)]="fname" maxlength="50" class="form-control fname" tabindex="1" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Middle Name</label>
                                <input type="text" name="mname" [(ngModel)]="mname" maxlength="50" class="form-control mname" tabindex="3" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Last Name <strong>*</strong></label>
                                <input type="text" name="lname" [(ngModel)]="lname" maxlength="50" class="form-control lname" tabindex="3" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Date Of Birth <strong>*</strong></label>
                                <input type="date" name="dob" [(ngModel)]="dob" maxlength="50" class="form-control dob" (change)="formatDateToWord(dob)" tabindex="4" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-8">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Birth Date in Words</label>
                                <input type="text" name="dob" [(ngModel)]="dobword" maxlength="50" disabled class="form-control" tabindex="5" />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row clearfix">
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Birth Place</label>
                                <input type="text" name="birthplace" [(ngModel)]="birthplace" maxlength="50" class="form-control dob" tabindex="6" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Aadhar No</label>
                                <input type="number" name="aadharno" [(ngModel)]="aadharno" maxlength="12" class="form-control" tabindex="7" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Gender</label>
                                <select id="gender" name="gender" [(ngModel)]="gender" class="form-control" tabindex="8">
                                    <option [value]="''">Select Gender</option>
                                    <option *ngFor="let row of genderDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <strong>Allowed only below 150 KB File</strong> <br />
                    <p-fileUpload mode="basic" name="fileUploaded" url="{{uploadphotoconfig.server + '?width=150'}}" chooseLabel="{{chooseLabel}}" (onUpload)="onPhotoUpload($event)" accept="{{uploadphotoconfig.acceptedFiles}}" maxFileSize="{{uploadphotoconfig.maxFilesize}}"
                        auto="true"></p-fileUpload>

                    <div *ngIf="uploadPhotoDT.length">
                        <div *ngFor="let file of uploadPhotoDT">
                            <div class="row clearfix">
                                <div class="col-md-9">
                                    <img *ngIf="gender == 'M'" alt="{{psngrname}}" src="{{uploadphotoconfig.uploadurl + file.athurl}}" onerror="this.src='assets/img/default-male.png';" height="40px">
                                    <img *ngIf="gender == 'F'" alt="{{psngrname}}" src="{{uploadphotoconfig.uploadurl + file.athurl}}" onerror="this.src='assets/img/default-female.png';" height="40px">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-danger" (click)="removePhotoUpload()">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Status</label>
                                <select id="status" name="status" [(ngModel)]="status" class="form-control class" tabindex="9">
                                    <option [value]="'active'">Active</option>
                                    <option [value]="'inactive'">InActive</option>
                                    <option [value]="'left'">Left</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4" *ngIf="status == 'left'">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Left Date <strong>*</strong></label>
                                <input type="date" name="leftdate" [(ngModel)]="leftdate" maxlength="50" class="form-control leftdate" tabindex="10" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix" *ngIf="status == 'left'">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Left Reason <strong>*</strong></label>
                                <textarea name="leftreason" [(ngModel)]="leftreason" rows="6" class="form-control no-resize auto-growth leftreason" tabindex="11"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Father Name</label>
                                <input type="text" name="fthrname" [(ngModel)]="fthrname" class="form-control fthrname" tabindex="12" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Mother Name</label>
                                <input type="text" name="mthrname" [(ngModel)]="mthrname" class="form-control mthrname" tabindex="13" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Father Mobile <strong>*</strong></label>
                                <input type="text" name="fthrmobile" [(ngModel)]="fthrmobile" maxlength="10" class="form-control email fthrmobile" tabindex="14">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Mother Mobile</label>
                                <input type="text" name="mthrmobile" [(ngModel)]="mthrmobile" maxlength="10" class="form-control mthrmobile" tabindex="15">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Father Email <strong>*</strong></label>
                                <input type="text" name="fthremail" [(ngModel)]="fthremail" class="form-control fthremail" tabindex="16">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Mother Email</label>
                                <input type="text" name="mthremail" [(ngModel)]="mthremail" class="form-control mthremail" tabindex="17">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Country <strong>*</strong></label>
                                <input type="text" [(ngModel)]="country" class="form-control country" maxlength="20" tabindex="18" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">State <strong>*</strong></label>
                                <select id="state" [(ngModel)]="state" class="form-control state" (ngModelChange)="fillCityDropDown()" tabindex="19">
                                    <option [value]="0">Select State</option>
                                    <option *ngFor="let row of stateDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">City <strong>*</strong></label>
                                <select id="area" [(ngModel)]="city" class="form-control city" (ngModelChange)="fillAreaDropDown()" tabindex="20">
                                    <option [value]="0">Select City</option>
                                    <option *ngFor="let row of cityDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Area <strong>*</strong></label>
                                <select id="city" [(ngModel)]="area" class="form-control area" tabindex="21">
                                    <option [value]="0">Select Area</option>
                                    <option *ngFor="let row of areaDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Pin Code</label>
                                <input type="text" [(ngModel)]="pincode" class="form-control" maxlength="20" tabindex="22" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="row clearfix">
            <div class="col-md-4 border">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="control-label">Alert</label>
                        <select id="alert" name="alert" [(ngModel)]="alert" class="form-control" tabindex="23">
                            <option [value]="''">Select Alert</option>
                            <option *ngFor="let row of alertDT" [value]="row.key">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="control-label">Residental Address <strong>*</strong></label>
                        <textarea name="resiaddr" [(ngModel)]="resiaddr" rows="4" class="form-control no-resize auto-growth resiaddr" (keydown.tab)="getLatAndLong('resiaddr')" tabindex="24"></textarea>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Residental Lat <strong>*</strong></label>
                                <input type="text" name="resilet" [(ngModel)]="resilet" maxlength="50" class="form-control resilet" tabindex="25" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Residental Long <strong>*</strong></label>
                                <input type="text" name="resilong" [(ngModel)]="resilong" maxlength="50" class="form-control resilong" tabindex="26" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 border">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Pick Up Route</label>
                                <select id="pickrtid" name="pickrtnm" [(ngModel)]="pickrtid" class="form-control" tabindex="27" (ngModelChange)="fillPickStopsDDL()">
                                    <option [value]="0">Select Route</option>
                                    <option *ngFor="let row of pickrouteDT" [value]="row.rtid">
                                        {{row.rtname}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Pick Up Stops</label>
                                <select id="pickstpid" name="pickstpnm" [(ngModel)]="pickstpid" class="form-control" tabindex="28" (ngModelChange)="getPickAddressLatLon()">
                                    <option [value]="0">Select Stops</option>
                                    <option *ngFor="let row of pickstopsDT" [value]="row.stpid">
                                        {{row.stpname}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input *ngIf="pickstpid == 0" id="pickaddr" name="chkpickaddr" type="checkbox" [(ngModel)]="isCopyPickAddr" (change)="copyPDAddrAndLatLong('pickaddr')" class="filled-in">
                        <label for="pickaddr" class="control-label">Pick Up Address <strong>*</strong></label>
                        <textarea name="pickaddr" [(ngModel)]="pickaddr" rows="4" class="form-control no-resize auto-growth pickaddr" (keydown.tab)="getLatAndLong('pickaddr')" tabindex="29"></textarea>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Pick Latitude <strong>*</strong></label>
                                <input type="text" name="picklet" [(ngModel)]="picklet" maxlength="50" class="form-control picklet" tabindex="30" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Pick Longitude <strong>*</strong></label>
                                <input type="text" name="picklong" [(ngModel)]="picklong" maxlength="50" class="form-control picklong" tabindex="31" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Drop Route</label>
                                <select id="droprtid" name="droprtnm" [(ngModel)]="droprtid" class="form-control" tabindex="32" (ngModelChange)="fillDropStopsDDL()">
                                    <option [value]="0">Select Route</option>
                                    <option *ngFor="let row of droprouteDT" [value]="row.rtid">
                                        {{row.rtname}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Drop Stops</label>
                                <select id="dropstpid" name="dropstpnm" [(ngModel)]="dropstpid" class="form-control" tabindex="33" (ngModelChange)="getDropAddressLatLon()">
                                    <option [value]="0">Select Stops</option>
                                    <option *ngFor="let row of dropstopsDT" [value]="row.stpid">
                                        {{row.stpname}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group form-float">
                    <div class="form-line">
                        <input *ngIf="dropstpid == 0" id="dropaddr" name="chkdropaddr" type="checkbox" [(ngModel)]="isCopyDropAddr" (change)="copyPDAddrAndLatLong('dropaddr')" class="filled-in">
                        <label for="dropaddr" class="control-label">Drop Address <strong>*</strong></label>
                        <textarea name="dropaddr" [(ngModel)]="dropaddr" rows="4" class="form-control no-resize auto-growth dropaddr" (keydown.tab)="getLatAndLong('dropaddr')" tabindex="14"></textarea>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Drop Lat <strong>*</strong></label>
                                <input type="text" name="droplet" [(ngModel)]="droplet" maxlength="50" class="form-control droplet" tabindex="15" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Drop Long <strong>*</strong></label>
                                <input type="text" name="droplong" [(ngModel)]="droplong" maxlength="50" class="form-control droplong" tabindex="16" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="row clearfix">
            <div class="col-md-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="control-label">Other Info</label>
                        <textarea name="otherinfo" [(ngModel)]="otherinfo" rows="4" class="form-control no-resize auto-growth" tabindex="17"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="control-label">Remark</label>
                        <textarea name="remark1" [(ngModel)]="remark1" rows="4" class="form-control no-resize auto-growth" tabindex="18"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>