<div class="card">
    <div class="header">
        <h4>Vehicle</h4>

        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme" (click)="addVehicleForm()">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>

        <div class="row clearfix">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" [(ngModel)]="srcvehname" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="body">
        <table class="table table-responsive">
            <thead>
                <tr class="grid-header">
                    <th width="100px">Vehicle Type</th>
                    <th width="120px">Vehicle Name</th>
                    <th width="300px">Vehicle Registration No</th>
                    <th width="120px">Sim No</th>
                    <th width="150px">IMEI</th>
                    <th width="60px">Status</th>
                    <th width="80px">Is Owner</th>
                    <th width="60px"></th>
                </tr>
            </thead>
            <tbody *ngFor="let row of vehicleDT | filterBy: {'vehiclename': srcvehname}">
                <tr [ngClass]="!row.isowner ? 'grid-body bg-transparent' : 'grid-body'">
                    <td>
                        {{row.vehicletype}}
                    </td>
                    <td>
                        {{row.vehiclename}}
                    </td>
                    <td>
                        {{row.vehregno}} <br />
                        <span *ngIf="!row.isowner"><b>Owner : </b>{{row.ownenttname}}</span>
                    </td>
                    <td>
                        {{row.simno}}
                    </td>
                    <td>
                        {{row.imei}}
                    </td>
                    <td>
                        {{row.mode}}
                    </td>
                    <td>
                        <span class="material-icons" *ngIf="row.isowner">done</span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-theme" (click)="editVehicleForm(row)">
                            <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>