<div class="card">
    <div class="header">
        <h4>Batch</h4>
        <ul class="header-dropdown m-r--5">
            <li *ngIf="batchid !== 0">
                <span class="switch">
                    <label class="control-label"><input type="checkbox" [(ngModel)]="isactive" (ngModelChange)="active_deactiveBatchInfo()"><span class="lever"></span></label>
                </span>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveBatchInfo()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-9 border">
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Entity Name <strong>*</strong></label>
                                <p-autoComplete id="enttname" name="enttname" [(ngModel)]="enttname" [tabindex]="9" (onSelect)="selectEntityData($event)" [suggestions]="entityDT" (completeMethod)="getEntityData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete enttname"></p-autoComplete>
                                <span class="material-icons inputserachico">search</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Batch Code <strong>*</strong></label>
                                <input type="text" [(ngModel)]="batchcode" class="form-control batchcode" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Batch Name <strong>*</strong></label>
                                <input type="text" [(ngModel)]="batchname" class="form-control batchname" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">From Time <strong>*</strong></label>
                                <input type="time" [(ngModel)]="fromtime" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">To Time <strong>*</strong></label>
                                <input type="time" [(ngModel)]="totime" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Remark</label>
                                <textarea [(ngModel)]="instruction" rows="4" class="form-control no-resize auto-growth"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Working Days <strong>*</strong></label>
                    <div *ngFor="let week of weekDT">
                        <div class="form-line">
                            <p-checkbox name="{{week.key}}" value="{{week.key}}" label="{{week.val}}" [(ngModel)]="selectedWeek"></p-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>