<div class="card">
    <div class="header">
        <h4>Routes / Stops</h4>

        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme" (click)="addRoutesForm()">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row clearfix">
    <div *ngFor="let row of stopsDT | groupBy:'rtgroup'; let i = index;" class="col-md-3 col-xs-6">
        <div class="card">
            <div class="header header-title">
                <h4>{{row.key.split('~')[1]}}</h4>

                <ul class="header-dropdown hdr-ddl">
                    <li><a role="button" (click)="editRoutesForm(row)"><i class="material-icons">edit</i></a></li>
                </ul>
            </div>
            <div class="body">
                <p *ngFor="let rtrow of row.value; let i = index;">
                    <b>{{i+1}}. </b> {{rtrow.stpname}}
                </p>
            </div>
        </div>
    </div>
</div>