<div class="card">
    <div class="header">
        <h4>Routes / Stops</h4>

        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="addRoutesForm()">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row clearfix">
    <div *ngFor="let row of stopsDT | groupBy:'rtgroup'; let i = index" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="card">
            <div class="header">
                <h4>{{row.key.split('~')[1]}}</h4>

                <ul class="header-dropdown m-r--5 pull-right">
                    <li><a role="button" (click)="editRoutesForm(row)"><i class="material-icons">edit</i></a></li>
                </ul>
            </div>
            <div class="body">
                <p *ngFor="let rtrow of row.value">{{rtrow.stpname}}</p>
            </div>
        </div>
    </div>
</div>