<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-3">
                <h4>Routes / Stops</h4>
            </div>
            <div class="col-md-6 col-xs-9" *ngIf="actviewrights === 'view'">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Entity Name <strong>*</strong></label>
                        <p-autoComplete id="enttname" name="enttname" [(ngModel)]="enttname" [tabindex]="1" (onSelect)="selectEntityData($event)" [suggestions]="entityDT" (completeMethod)="getEntityData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete enttname"></p-autoComplete>
                        <span class="material-icons inputserachico">search</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-3" align="right" *ngIf="actaddrights === 'add'">
                <button type="button" class="btn btn-theme btn-xs" (click)="addRoutesForm()">
                    <i class="material-icons">add</i></button>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div *ngFor="let row of stopsDT | groupBy:'rtname'; let i = index;" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="card">
            <div class="header">
                <h4>{{row.key}}</h4>
                <ul class="header-dropdown m-r--5 pull-right">
                    <li><a role="button" (click)="editRoutesForm(stopsDT[i])"><i class="material-icons">edit</i></a></li>
                </ul>
            </div>
            <div class="body">
                <p *ngFor="let rtrow of row.value">{{rtrow.stpname}}</p>
            </div>
        </div>
    </div>
</div>