<div class="header">
    <div class="row clearfix">
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-line">
                    <label class="control-label">Driver Name <strong>*</strong></label>
                    <p-autoComplete id="drvid" name="drvname" [(ngModel)]="selectDriver" [tabindex]="2" (onSelect)="selectDriverData($event)" [suggestions]="autoDriverDT" (completeMethod)="getDriverData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete drvname"></p-autoComplete>
                    <span class="material-icons inputsearchico pad-12">
                        <a role="button" (click)="viewDriverDashboard()" class="btn btn-search">arrow_forward</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-right pad-20">
            <div class="form-group">
                <a role="button" class="btn btn-theme" (click)="viewDriverProfile()">
                    <span class="float-left pad-03">View Profile</span> <span class="material-icons">arrow_forward</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="body">
    <div class="row clearfix">
        <div class="col-md-8">
            <div class="row clearfix">
                <div class="col-md-6">
                    <div class="card">
                        <div class="header-title">
                            Personal Details
                        </div>
                        <div class="body" *ngFor="let row of infoDT">
                            <div class="row clearfix">
                                <div class="col-md-3">
                                    <img alt="{{row.drivername}}" src="{{global.uploadurl + row.driverphoto}}" onerror="this.src='assets/img/default-male.png';" height="100px" width="100px">
                                </div>
                                <div class="col-md-9">
                                    <p><b>Driver : </b>{{row.drivername}}</p>
                                    <p><b>Mobile : </b>{{row.mobileno1}}</p>
                                    <p *ngIf="row.mobileno2 != ''"><b>Alternate Mobile : </b>{{row.mobileno2}}</p>
                                    <p *ngIf="row.email1 != ''"><b>Email : </b>{{row.email1}}</p>
                                    <p *ngIf="row.email2 != ''"><b>Alternate Email : </b>{{row.email2}}</p>
                                    <p *ngIf="row.licenseno != ''"><b>License No : </b>{{row.licenseno}}</p>
                                    <p *ngIf="row.aadharno != ''"><b>Aadhar No : </b>{{row.aadharno}}</p>
                                </div>
                            </div>

                            <p *ngFor="let erow of row.enttdata; let i = index;">
                                <span class="p-5 {{erow.bgcolor}}"><b>{{i + 1}}.</b> {{erow.enttname}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="header-title">
                            Vehicle Details
                        </div>
                        <div class="body overflow-panel">
                            <div *ngFor="let row of vehicleDT; let i = index;" class="p-b-5">
                                <h5>{{i + 1}}. {{row.vehname}}</h5>
                                <p>{{row.vehregno}}</p>
                                <p>{{row.attr}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="header-title">
                    Schedule
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-md-6" *ngFor="let row of scheduleDT">
                            <p><b>Schedule : </b>{{row.schdlname}}</p>
                            <p><b>Batch : </b>{{row.batchname}}</p>
                            <p><b>Day : </b>{{row.day}}</p>
                            <p><b>Date : </b>{{row.schdldate}}</p>
                            <p><b>Time : </b>{{row.schdltime}}</p>
                            <p><b>Driver : </b>{{row.drivername}}</p>
                            <p><b>Vehicle : </b>{{row.vehiclename}}</p>
                            <p><b>Route : </b>{{row.rtname}}</p>
                            <p><b>Student : </b>{{row.countstuds}}</p>

                            <p class="font-12" *ngFor="let srow of row.studdata; let i = index;">
                                <b>{{i + 1}}.)</b> {{srow.studname}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header-title">
                    Trip Details
                </div>
                <div class="body padding-0">
                    <iframe id="divtrip" width="100%" height="520" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>