<div class="card">
    <div class="header">
        <h4>Assesment</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveAssesment()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-6 border">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Class <strong>*</strong></label>
                                <select id="clsid" name="clsname" [(ngModel)]="clsid" (ngModelChange)="fillAssesmentTypeDropDown();" class="form-control class" tabindex="1">
                                    <option [value]="0">Select Class</option>
                                    <option *ngFor="let row of classDT" [value]="row.id">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Assesment Type <strong>*</strong></label>
                                <select id="asstypid" name="asstypname" [(ngModel)]="asstypid" class="form-control asstype" tabindex="2">
                                    <option [value]="0">Select Assesment Type</option>
                                    <optgroup id="subject" label="Subject">
                                        <option *ngFor="let row of subjectDT" [value]="row.id">
                                            {{row.val}}
                                        </option>
                                    </optgroup>
                                    <optgroup id="activity" label="Activity">
                                        <option *ngFor="let row of activityDT" [value]="row.id">
                                            {{row.val}}
                                        </option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Heading <strong>*</strong></label>
                        <input type="text" [(ngModel)]="heading" class="form-control" tabindex="3">
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-10">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Sub Heading <strong>*</strong></label>
                                <input type="text" [(ngModel)]="subheadname" class="form-control subheadname" tabindex="4">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 pad-20 tex-right" *ngIf="!iseditsubhead">
                        <div class="form-group">
                            <button type="button" (click)="addSubHeading()" class="btn btn-theme btn-xs">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-2 pad-20 text-right" *ngIf="iseditsubhead">
                        <div class="form-group">
                            <button type="button" (click)="updateSubHeading()" class="btn btn-theme btn-xs">
                                <i class="material-icons">done</i>
                            </button>
                            <button type="button" (click)="resetSubHeading()" class="btn btn-danger btn-xs">
                                <i class="material-icons">cancel</i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row clearfix" *ngFor="let row of subheadList; let i = index;">
                    <div class="col-md-10">
                        {{row.subheadname}}
                    </div>
                    <div class="col-md-2" align="right">
                        <div class="form-group">
                            <button type="button" (click)="editSubHeading(row)" class="btn btn-theme btn-xs">
                                <i class="material-icons">edit</i>
                            </button>
                            <button type="button" (click)="deleteSubHeading(row)" class="btn btn-danger btn-xs">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row clearfix" *ngIf="gradeDT.length">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input id="selectall" name="selectall" type="checkbox" (change)="selectAndDeselectAllCheckboxes()" class="filled-in">
                            <label for="selectall">Select All</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="allcheckboxes">
                            <div class="row clearfix">
                                <div class="col-md-4" *ngFor="let row of gradeDT; let i = index;">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <span id="grade{{row.id}}">
                                                <input id="{{row.id}}" name="grade{{i + 1}}" type="checkbox" value="{{row.id}}" class="filled-in" />
                                                <label for="{{row.id}}">{{row.val}}</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Remark</label>
                        <textarea [(ngModel)]="remark" rows="5" class="form-control no-resize auto-growth msg" maxlength="500" tabindex="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>