<div class="card">
    <div class="header">
        <h4>Album</h4>
        <ul class="header-dropdown m-r--5">
            <li *ngIf="albumid !== 0">
                <span class="switch">
                    <label class="control-label"><input type="checkbox" [(ngModel)]="isactive" (ngModelChange)="active_deactiveAlbumInfo()"><span class="lever"></span></label>
                </span>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveAlbumInfo()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-6 border">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Academic Year <strong>*</strong></label>
                                <select id="ayid" name="ayname" [(ngModel)]="ayid" class="form-control ayname" tabindex="1">
                                    <option [value]="0">Select Academic Year</option>
                                    <option *ngFor="let row of ayDT" [value]="row.id">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Date <strong>*</strong></label>
                                <input type="date" [(ngModel)]="date" class="form-control date" maxlength="20" tabindex="2" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Title <strong>*</strong></label>
                        <input type="text" [(ngModel)]="title" class="form-control title" maxlength="20" tabindex="3" />
                    </div>
                </div>

                <div class="form-group">
                    <p-fileUpload mode="basic" name="fileUploaded" url="{{uploadcoverconfig.server + '?width=150'}}" chooseLabel="{{chooseCoverLabel}}" (onUpload)="onCoverUpload($event)" accept="{{uploadcoverconfig.acceptedFiles}}" maxFileSize="{{uploadcoverconfig.maxFilesize}}"
                        auto="true"></p-fileUpload>

                    <div *ngIf="uploadCoverDT.length">
                        <div *ngFor="let file of uploadCoverDT" class="box">
                            <div class="row clearfix">
                                <div class="col-md-9">
                                    <img src="{{uploadcoverconfig.uploadurl + file.coverph}}" onerror="this.src='assets/img/album.gif';" height="40px" />
                                </div>
                                <div class="col-md-3" align="right">
                                    <button type="button" class="btn btn-danger btn-xs" (click)="removeCoverUpload()">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Description</label>
                        <textarea [(ngModel)]="desc" rows="5" class="form-control no-resize auto-growth desc" maxlength="500" tabindex="4"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#photo" data-toggle="tab">Photo</a></li>
                <li role="presentation"><a href="#video" data-toggle="tab">Video</a></li>
                <li role="presentation"><a href="#audio" data-toggle="tab">Audio</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="photo">
                    <p-fileUpload mode="basic" name="fileUploaded" url="{{uploadphotoconfig.server + '?width=250'}}" chooseLabel="Upload Photos" (onUpload)="onPhotoUpload($event)" multiple="multiple" accept="{{uploadphotoconfig.acceptedFiles}}" maxFileSize="{{uploadphotoconfig.maxFilesize}}"
                        auto="true"></p-fileUpload>

                    <div *ngIf="uploadPhotoDT.length">
                        <div *ngFor="let row of uploadPhotoDT" class="box">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="{{uploadphotoconfig.uploadurl + row.gurl}}" height="80px" />
                                </div>
                                <div class="col-md-3">
                                    <b>Size : </b> {{formatSizeUnits(row.gsize)}}
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <!-- <input type="text" [(ngModel)]="row.tagname" class="form-control tagname" maxlength="100" tabindex="5" (keydown.tab)="addPhotoTag(row)" (keydown.enter)="addPhotoTag(row)" /> -->

                                            <p-autoComplete id="row.gtagid" name="row.gtagnm" [(ngModel)]="row.gtagdata" [tabindex]="5" (onSelect)="selectGroupTagData($event, row)" [suggestions]="groupTagDT" (completeMethod)="getGroupTagData($event)" field="tagnm" [minLength]="1" [size]="30" class="form-controlAutoComplete tagnm"></p-autoComplete>
                                            <span class="material-icons inputinlineserachico">search</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <span *ngFor="let trow of row.tagDT">
                                            {{trow.gtagnm + " | "}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2" align="right">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-danger btn-xs" (click)="removePhotoUpload()">
                                            <span class="material-icons">delete</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="video">
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" [(ngModel)]="vdurl" placeholder="e.g. https://www.youtube.com/watch?v=RYMH3qrHFEM" class="form-control vdurl" maxlength="100" tabindex="6" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <button type="button" class="btn btn-theme btn-xs" (click)="addVideo()">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor="let row of uploadVideoDT">
                            <td>
                                {{row.gurl}}
                            </td>
                            <td>
                                <div class="form-group">
                                    <button type="button" class="btn btn-theme btn-xs" (click)="editVideo()">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" (click)="cancelVideo()">
                                        <i class="material-icons">cancel</i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="audio">
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" [(ngModel)]="adurl" class="form-control adurl" maxlength="100" tabindex="7" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <button type="button" class="btn btn-theme btn-xs" (click)="addAudio()">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor="let row of uploadAudioDT">
                            <td>
                                {{row.gurl}}
                            </td>
                            <td>
                                <div class="form-group">
                                    <button type="button" class="btn btn-theme btn-xs" (click)="editAudio()">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" (click)="cancelAudio()">
                                        <i class="material-icons">cancel</i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>