<div class="card">
    <div class="header">
        <h4>Fees Collection</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveFeesCollection()">
                    <i class="material-icons">save</i>
                </a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i>
                </a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-2">
                <div class="form-group">
                    <b>Class Fees : </b>{{classfees | _currency:loginUser.globsettings[0]}}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <b>Pending Fees : </b>{{pendingfees | _currency:loginUser.globsettings[0]}}
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-4">
                <p>
                    <img *ngIf="gndrkey == 'M'" alt="{{studname}}" src="{{global.uploadurl + studphoto}}" onerror="this.src='assets/img/default-male.png';" height="100px">
                    <img *ngIf="gndrkey == 'F'" alt="{{studname}}" src="{{global.uploadurl + studphoto}}" onerror="this.src='assets/img/default-female.png';" height="100px">
                </p>
                <p><b>Name :</b> {{studname}} </p>
                <p><b>Class :</b> {{classname}}</p>
                <p><b>Gender :</b> {{gndrval}}</p>
                <p><b>Roll No :</b> {{rollno}}</p>
            </div>
            <div class="col-md-6">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Receive Date <strong>*</strong></label>
                                <input type="date" [(ngModel)]="receivedate" class="form-control receivedate" tabindex="1">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Payment Mode <strong>*</strong></label>
                                <select id="paymodecode" name="paymodename" [(ngModel)]="paymodecode" class="form-control paymentmode" tabindex="2">
                                    <option [value]="''">Select</option>
                                    <option *ngFor="let pmrow of paymentmodeDT" [value]="pmrow.key">
                                        {{pmrow.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" *ngIf="paymodecode == 'cheque'">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Cheque Status <strong>*</strong></label>
                                <select id="chequestatus" name="chequestatus" [(ngModel)]="chequestatus" class="form-control chequestatus" tabindex="3">
                                    <option [value]="''">Select Cheque Status</option>
                                    <option [value]="'pending'">Pending</option>
                                    <option [value]="'complete'">Complete</option>
                                    <option [value]="'bounce'">Bounce</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Cheque No <strong>*</strong></label>
                                <input type="text" OnlyNumber="true" [(ngModel)]="chequeno" class="form-control text-right chequeno" tabindex="4">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Cheque Date <strong>*</strong></label>
                                <input type="date" [(ngModel)]="chequedate" class="form-control chequedate" tabindex="5">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Remark</label>
                        <textarea [(ngModel)]="remark" rows="5" class="form-control no-resize auto-growth msg" maxlength="500" tabindex="6"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-10">
                <table class="table table-bordered table-responsive reports">
                    <thead>
                        <tr>
                            <th width="40px"></th>
                            <th width="300px">Category</th>
                            <th width="300px">Sub Category</th>
                            <th width="80px" align="right">Fees</th>
                            <th width="80px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <div class="form-group">
                                    <div class="form-line">
                                        <select id="ddlcatname" name="catname" [(ngModel)]="catid" (ngModelChange)="fillSubCateogryDropDown();getClassFees();" class="form-control catname" tabindex="7">
                                            <option [value]="0">Select Category</option>
                                            <option *ngFor="let crow of categoryDT" [value]="crow.key">
                                                {{crow.val}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="form-line">
                                        <select id="ddlscatname" name="scatname" [(ngModel)]="scatid" (ngModelChange)="getClassFees()" class="form-control scatname" tabindex="8">
                                            <option [value]="0">Select Sub Category</option>
                                            <option *ngFor="let scrow of subCategoryDT" [value]="scrow.key">
                                                {{scrow.val}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" OnlyNumber="true" [(ngModel)]="fees" class="form-control text-right fees" tabindex="9">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group text-right" *ngIf="isaddfees">
                                    <button type="button" class="btn btn-theme btn-xs" (click)="addFeesCollection()">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                                <div class="form-group text-right" *ngIf="iseditfees">
                                    <button type="button" class="btn btn-theme btn-xs" (click)="updateFeesCollection()">
                                        <i class="material-icons">done</i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" (click)="resetFeesCollection()">
                                        <i class="material-icons">cancel</i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor="let row of studentFeesDT; let i = index">
                            <td>
                                {{i + 1}}
                            </td>
                            <td>
                                {{row.catname}}
                            </td>
                            <td>
                                {{row.scatname}}
                            </td>
                            <td align="right">
                                {{row.fees | _currency:loginUser.globsettings[0]}}
                            </td>
                            <td>
                                <div class="form-group text-right">
                                    <button type="button" class="btn btn-theme btn-xs" (click)="editFeesCollection(row)">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" (click)="deleteFeesCollection(row)">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="tr-table">
                            <th colspan="3" class="text-right">
                                <b>Total</b>
                            </th>
                            <th class="text-right">
                                <b>{{totalFees() | _currency:loginUser.globsettings[0]}}</b>
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>