<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-10 col-xs-4">
                <h4>Co-ordinator / Attendent</h4>
            </div>
            <div class="col-md-2 col-xs-8">
                <div class="pull-right">
                    <button type="button" class="btn bg-orange waves-effect btn-xs" (click)="saveOwnerInfo()">
                        <i class="material-icons">save</i>
                    </button>
                    <button type="button" class="btn bg-orange waves-effect btn-xs" (click)="backViewData()">
                        <i class="material-icons">arrow_back</i>
                    </button>
                </div>
                <div class="pull-right">
                    <div class="switch">
                        <label><input type="checkbox" [(ngModel)]="isactive" (ngModelChange)="active_deactiveOwnerInfo()"><span class="lever"></span></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-6 border">
                <div class="form-group form-float">
                    <div class="demo-radio-button">
                        <p-radioButton name="typ" value="Co-ordinator" label="Co-ordinator" [(ngModel)]="typ"></p-radioButton>
                        <p-radioButton name="typ" value="Attendent" label="Attendent" [(ngModel)]="typ"></p-radioButton>
                    </div>
                </div>

                <div class="form-group form-float">
                    <div class="demo-radio-button">
                        <p-radioButton name="ownership" value="N" label="School Owned" [(ngModel)]="isthirdparty"></p-radioButton>
                        <p-radioButton name="ownership" value="Y" label="3rd Party" [(ngModel)]="isthirdparty"></p-radioButton>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">{{typ}} Code</label>
                                <input type="text" [(ngModel)]="ownercode" class="form-control" placeholder="{{typ}} Code" maxlength="10" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Password</label>
                                <input type="password" [(ngModel)]="ownerpwd" class="form-control" placeholder="Password" maxlength="10" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">{{typ}} Name</label>
                                <input type="text" [(ngModel)]="ownername" class="form-control" placeholder="{{typ}} Name" maxlength="20" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Lat</label>
                                <input type="text" [(ngModel)]="lat" class="form-control" placeholder="Lat" maxlength="5" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Lon</label>
                                <input type="text" [(ngModel)]="lon" class="form-control" placeholder="Lon" maxlength="5" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Aadhar No</label>
                                <input type="text" [(ngModel)]="aadharno" class="form-control" placeholder="Aadhar No" maxlength="15" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Remark</label>
                                <textarea [(ngModel)]="remark1" rows="5" class="form-control no-resize auto-growth" placeholder="Remark" maxlength="500"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">School</label>
                                <p-autoComplete id="schoolname" name="schoolname" [(ngModel)]="schoolname" placeholder="School Name" [tabindex]="9" (onSelect)="selectSchoolData($event)"
                                    [suggestions]="schoolDT" (completeMethod)="getSchoolData($event)" field="label" [minLength]="1"
                                    [size]="30" class="form-controlAutoComplete schoolname"></p-autoComplete>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="schoolList.length">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let row of schoolList">
                            {{row.schnm}}
                            <button type="button" class="btn btn-xs pull-right" (click)="deleteSchool(row)"><i class="material-icons">remove</i></button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Mobile</label>
                                <input type="text" [(ngModel)]="mobileno1" class="form-control" placeholder="Mobile" maxlength="10" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Alternate Mobile</label>
                                <input type="text" [(ngModel)]="mobileno2" class="form-control" placeholder="Alternate Mobile" maxlength="10" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Email</label>
                                <input type="text" [(ngModel)]="email1" class="form-control" placeholder="Email" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Alternate Email</label>
                                <input type="text" [(ngModel)]="email2" class="form-control" placeholder="Alternate Email" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Address</label>
                                <textarea [(ngModel)]="address" rows="5" class="form-control no-resize auto-growth" placeholder="Address" maxlength="500"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Country</label>
                                <input type="text" [(ngModel)]="country" class="form-control" placeholder="Country" maxlength="20" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">State</label>
                                <input type="text" [(ngModel)]="state" class="form-control" placeholder="State" maxlength="20" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">City</label>
                                <input type="text" [(ngModel)]="city" class="form-control" placeholder="City" maxlength="20" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Pin Code</label>
                                <input type="text" [(ngModel)]="pincode" class="form-control" placeholder="Pin Code" maxlength="20" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>