<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-10 col-xs-8">
                <h4>Employee</h4>
            </div>
            <div id="divShow" class="col-md-1 col-xs-2">
                <button type="button" class="btn btn-theme btn-xs" (click)="isshEmployee('grid')">
                    <i class="material-icons">apps</i></button>
                <button type="button" class="btn btn-theme btn-xs" (click)="isshEmployee('list')">
                    <i class="material-icons">list</i></button>
            </div>
            <div class="col-md-1 col-xs-2" align="right">
                <button type="button" class="btn btn-theme btn-xs" (click)="addEmployeeForm()">
                    <i class="material-icons">add</i></button>
            </div>
        </div>
    </div>

    <div class="body no-padding">
        <div class="row clearfix" *ngIf="isShowGrid">
            <div class="col-md-12" *ngIf="employeeDT.length">
                <p-dataGrid [value]="employeeDT" [paginator]="true" [rows]="8">
                    <ng-template let-drow pTemplate="item">
                        <div style="padding:3px" class="ui-g-12 ui-md-3">
                            <p-panel [header]="drow.empname" [style]="{'text-align':'center'}">
                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <a class="navbar-brand" (click)="viewEmployeeProfile(drow)">
                                            <img alt="{{drow.empname}}" src="{{global.uploadurl + drow.empphoto}}" onerror="this.src='assets/img/default.gif';" height="100px">
                                        </a>
                                    </div>
                                    <div class="col-md-12">
                                        <hr class="hr ui-widget-content">
                                    </div>
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-theme btn-xs" (click)="editEmployeeForm(drow)">
                                            <i class="material-icons">edit</i>
                                        </button> {{drow.mode}}
                                    </div>
                                </div>
                            </p-panel>
                        </div>
                    </ng-template>
                </p-dataGrid>
            </div>
        </div>
        <div class="row clearfix" *ngIf="isShowList">
            <div class="col-md-12">
                <p-dataTable [value]="employeeDT" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30,40]">
                    <p-column header="" [style]="{'width':'60px','text-align':'center'}">
                        <ng-template let-row="rowData" pTemplate type="body">
                            <img alt="{{row.empname}}" src="{{global.uploadurl + row.empphoto}}" onerror="this.src='assets/img/default.gif';" height="40px" width="40px">
                        </ng-template>
                    </p-column>
                    <p-column field="empname" header="Employee Name" [style]="{'width':'200px','text-align':'left'}"></p-column>
                    <p-column field="aadharno" header="Aadhar No" [style]="{'width':'150px', 'text-align':'left'}"></p-column>
                    <p-column field="address" header="Address" [style]="{'text-align': 'left'}"></p-column>
                    <p-column field="mobileno1" header="Mobile" [style]="{'width':'100px', 'text-align':'left'}"></p-column>
                    <p-column field="mode" header="Status" [style]="{'width':'100px', 'text-align':'left'}"></p-column>
                    <p-column [style]="{'width': '50px', 'align': 'left'}">
                        <ng-template let-row="rowData" pTemplate type="body">
                            <button type="button" class="btn btn-theme btn-xs" (click)="editEmployeeForm(row)">
                                <i class="material-icons">edit</i>
                            </button>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>