<div class="card">
    <div class="header">
        <h4>Subject</h4>

        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="addSubject()">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>

        <div class="row clearfix">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Subject Type <strong>*</strong></label>
                        <select id="subtype" [(ngModel)]="subtype" (ngModelChange)="getSubject()" class="form-control subtype" tabindex="1">
                            <option [value]="''">Select Subject Type</option>
                            <option *ngFor="let row of subtypeDT" [value]="row.id">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="body no-padding">
        <div class="row clearfix">
            <div class="col-md-12">
                <p-dataTable [value]="subjectDT">
                    <p-column field="subtypename" header="Subject Type" [style]="{'width': '200px', 'text-align': 'left'}"></p-column>
                    <p-column field="subname" header="Title" [style]="{'width': '200px', 'text-align': 'left'}"></p-column>
                    <p-column field="subdesc" header="Description" [style]="{'text-align': 'left'}"></p-column>
                    <p-column [style]="{'width': '50px', 'align': 'left'}">
                        <ng-template let-row="rowData" pTemplate type="body">
                            <button type="button" class="btn btn-theme btn-xs" (click)="editSubject(row)">
                                <i class="material-icons">edit</i>
                            </button>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>