<div class="card">
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-6">
                <h4>Pick Up and Drop</h4>
            </div>
            <div class="col-md-6" align="right">
                <button type="button" class="btn bg-orange waves-effect btn-xs" (click)="savePickDropInfo()">
                    <i class="material-icons">save</i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <p-autoComplete id="ownername" name="ownername" [(ngModel)]="ownername" placeholder="Co-ordinator Name" [tabindex]="1" (onSelect)="selectAutoData($event, 'owner')"
                            [suggestions]="ownersDT" (completeMethod)="getOwnerData($event, 'Co-ordinator')" field="label" [minLength]="1"
                            [size]="30" class="form-controlAutoComplete ownername"></p-autoComplete>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <select [(ngModel)]="schoolid" class="form-control" (ngModelChange)="fillBatchDropDown();getStudentData($event);" tabindex="2">
                            <option [value]="0">Select School</option>
                            <option *ngFor="let row of schoolDT" [value]="row.schid">	
                                {{row.schnm}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <select [(ngModel)]="batchid" class="form-control" tabindex="3" (ngModelChange)="getPickDropInfo()">
                            <option [value]="0">Select Batch</option>
                            <option *ngFor="let row of batchDT" [value]="row.key">	
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-6">
        <div class="card">
            <div class="body">
                <div class="header">
                    <h2>Pick-Up</h2>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>From Date</label>
                                <input type="date" [(ngModel)]="pickfromdate" class="form-control" tabindex="5" disabled (ngModelChange)="dropfromdate=pickfromdate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>To Date</label>
                                <input type="date" [(ngModel)]="picktodate" class="form-control" tabindex="6" disabled (ngModelChange)="droptodate=picktodate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <select [(ngModel)]="pickdriverid" class="form-control" tabindex="4" (ngModelChange)="setDropDriver()">
                            <option [value]="0">Select Driver</option>
                            <option *ngFor="let row of driverDT" [value]="row.key">	
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <select [(ngModel)]="pickvehicleno" class="form-control" tabindex="6" (ngModelChange)="setDropVehicle()">
                            <option [value]="''">Select Vehicle</option>
                            <option *ngFor="let row of vehicleDT" [value]="row.key">	
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <p-autoComplete id="pickstudentname" name="pickstudentname" [(ngModel)]="pickstudentname" placeholder="Student Name" [tabindex]="8"
                            (onSelect)="selectAutoData($event, 'pickstuds')" [suggestions]="studentsDT" (completeMethod)="getStudentData($event)"
                            field="studnm" [minLength]="1" [size]="30" class="form-controlAutoComplete studentname"></p-autoComplete>
                    </div>
                </div>

                <p-orderList [value]="pickStudentsDT" [listStyle]="{'height':'250px'}" [responsive]="true" header="Student">
                    <template let-student pTemplate="editor">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="ui-helper-clearfix">
                                    {{student.stdnm}}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="ui-helper-clearfix">
                                    <button type="button" class="btn btn-danger btn-xs" (click)="deletePickUpStudents(student)"><i class="material-icons">remove</i></button>
                                </div>
                            </div>
                        </div>
                    </template>
                </p-orderList>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="body">
                <div class="header">
                    <h2>Drop</h2>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>From Date</label>
                                <input type="date" [(ngModel)]="dropfromdate" class="form-control" tabindex="5" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>To Date</label>
                                <input type="date" [(ngModel)]="droptodate" class="form-control" tabindex="6" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <select [(ngModel)]="dropdriverid" class="form-control" tabindex="5">
                            <option [value]="0">Select Driver</option>
                            <option *ngFor="let row of driverDT" [value]="row.key">	
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <select [(ngModel)]="dropvehicleno" class="form-control" tabindex="7">
                            <option [value]="''">Select Vehicle</option>
                            <option *ngFor="let row of vehicleDT" [value]="row.key">	
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <p-autoComplete id="dropstudentname" name="dropstudentname" [(ngModel)]="dropstudentname" placeholder="Student Name" [tabindex]="8"
                            (onSelect)="selectAutoData($event, 'dropstuds')" [suggestions]="studentsDT" (completeMethod)="getStudentData($event)"
                            field="studnm" [minLength]="1" [size]="30" class="form-controlAutoComplete studentname"></p-autoComplete>
                    </div>
                </div>

                <p-orderList [value]="dropStudentsDT" [listStyle]="{'height':'250px'}" [responsive]="true" header="Student">
                    <template let-student pTemplate="item">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="ui-helper-clearfix">
                                    {{student.stdnm}}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="ui-helper-clearfix">
                                    <button type="button" class="btn btn-danger btn-xs" (click)="deleteDropStudents(student)"><i class="material-icons">remove</i></button>
                                </div>
                            </div>
                        </div>
                    </template>
                </p-orderList>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-6">
        <div class="card">
            <div class="body">
                <div class="form-group">
                    <div class="form-line">
                        <p-autoComplete id="pickattname" name="pickattname" [(ngModel)]="pickattname" placeholder="Pickup Attendent Name" [tabindex]="9"
                            (onSelect)="selectAutoData($event, 'pickatt')" [suggestions]="ownersDT" (completeMethod)="getOwnerData($event, 'attendent')"
                            field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete pickattname"></p-autoComplete>
                    </div>
                </div>

                <div *ngIf="pickAttList.length">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let row of pickAttList">
                            {{row.attnm}}
                            <button type="button" class="btn btn-xs pull-right" (click)="deletePickAtt(row)"><i class="material-icons">remove</i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="body">
                <div class="form-group">
                    <div class="form-line">
                        <p-autoComplete id="dropattname" name="dropattname" [(ngModel)]="dropattname" placeholder="Drop Attendent Name" [tabindex]="10"
                            (onSelect)="selectAutoData($event, 'dropatt')" [suggestions]="ownersDT" (completeMethod)="getOwnerData($event, 'Attendent')"
                            field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete dropattname"></p-autoComplete>
                    </div>
                </div>

                <div *ngIf="dropAttList.length">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let row of dropAttList">
                            {{row.attnm}}
                            <button type="button" class="btn btn-xs pull-right" (click)="deleteDropAtt(row)"><i class="material-icons">remove</i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="body">
                <div class="form-group">
                    <div class="form-line">
                        <textarea [(ngModel)]="instrunction" rows="4" class="form-control no-resize auto-growth" placeholder="Instrunction" tabindex="9"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>