<div class="card">
    <div class="header">
        <h4>Driver</h4>
        <ul class="header-dropdown m-r--5">
            <li *ngIf="actaddrights === 'add'">
                <a role="button" class="btn btn-theme btn-xs" (click)="addDriverForm()">
                    <span class="material-icons">add</span></a>
            </li>
        </ul>
    </div>
    
    <div class="body no-padding">
        <div class="row clearfix">
            <div class="col-md-12">
                <p-dataTable [value]="driverDT" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30,40]">
                    <p-column header="" [style]="{'width':'60px','text-align':'center'}">
                        <template let-row="rowData" pTemplate type="body">
                            <img alt="{{row.drivername}}" src="uploads/driver/{{row.FilePath}}" onerror="this.src='assets/img/default.gif';" height="40px" width="40px">
                        </template>
                    </p-column>
                    <p-column field="drivercode" header="Driver Code" [style]="{'width':'100px', 'text-align':'left'}"></p-column>
                    <p-column field="drivername" header="Driver Name" [style]="{'text-align':'left'}"></p-column>
                    <p-column field="aadharno" header="Aadhar No" [style]="{'width':'150px', 'text-align':'left'}"></p-column>
                    <p-column field="email1" header="Email" [style]="{'width':'150px','text-align': 'left'}"></p-column>
                    <p-column field="mobileno1" header="Mobile" [style]="{'width':'150px', 'text-align':'left'}"></p-column>
                    <p-column [style]="{'width': '50px', 'align': 'left'}" *ngIf="acteditrights==='edit'">
                        <template let-row="rowData" pTemplate type="body">
                            <button type="button" class="btn bg-orange waves-effect btn-xs" (click)="editDriverForm(row)">
                                <i class="material-icons">edit</i>
                            </button>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>