<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-2">
                <h4>Entity</h4>
            </div>
            <div class="col-md-10" *ngIf="actaddrights === 'add'">
                <button type="button" class="btn btn-theme btn-xs" (click)="addOutletForm()">
                    <span class="material-icons">add</span>
                </button>
            </div>
        </div>
    </div>

    <div class="body no-padding">
        <div class="row clearfix">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>