<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Student Name <strong>*</strong></label>
                        <p-autoComplete id="studname" name="studname" [(ngModel)]="selectStudent" [tabindex]="2" (onSelect)="selectStudentData($event)" [suggestions]="autoStudentDT" (completeMethod)="getStudentData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete studname"></p-autoComplete>
                        <span class="material-icons inputlinkico">
                            <a role="button" (click)="getClassDetails()" class="btn btn-theme btn-search">arrow_forward</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-right pad-20">
                <div class="form-group">
                    <button type="button" class="btn btn-theme btn-sm" (click)="viewProfile()">View Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="body">
        <div *ngIf="studid == 0">
            <h4>Search Student Name</h4>
        </div>

        <div *ngIf="studid != 0">
            <ul class="nav nav-tabs">
                <li *ngFor="let row of classDT" (click)="getStudentDashboard(row)" class="{{row.classid == selclassid ? 'active' : ''}}">
                    <a role="button">{{row.classname}}</a>
                </li>
            </ul>

            <div class="row clearfix">
                <div class="col-md-7">
                    <!-- Exam Result -->

                    <div class="sm-header">
                        <h4>Exam Result</h4>
                    </div>
                    <div class="sm-body">
                        <div *ngIf="resultDT.length">
                            <div class="row clearfix">
                                <div *ngFor="let row of resultDT | groupBy: 'head'" class="box box-md-6 col-md-6 text-center">
                                    <div class="row clearfix">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{row.key.split('~')[2]}}
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-theme btn-sm" (click)="viewExamResult(row)">View Details</button>
                                            </div>
                                        </div>
                                    </div>

                                    <nvd3 [options]="barchart" [data]="getChartDetails(row.value, 'examresult')"></nvd3>
                                    {{row.key.split('~')[3]}}
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!resultDT.length">
                            <h4 class="text-center"><strong>No Exam Result Data</strong></h4>
                        </div>
                    </div>

                    <!-- Fees Collection -->

                    <div class="sm-header">
                        <h4>Fees Collection</h4>
                    </div>
                    <div class="sm-body">
                        <div *ngIf="feesDT.length">
                            <div class="row clearfix">
                                <div *ngFor="let row of feesDT | groupBy: 'head'" class="box box-md-6 col-md-6 text-center">
                                    <div class="row clearfix">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{row.key.split('~')[0]}}
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-theme btn-sm" (click)="viewFeesCollection(row)">View Details</button>
                                            </div>
                                        </div>
                                    </div>

                                    <nvd3 [options]="barchart" [data]="getChartDetails(row.value, 'fees')"></nvd3>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!feesDT.length">
                            <h4 class="text-center"><strong>No Data Found</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <!-- Attendance -->

                    <div class="sm-header">
                        <h4>Attendance</h4>
                    </div>
                    <div class="sm-body">
                        <div *ngIf="attendaceDT.length">
                            <nvd3 [options]="barchart" [data]="attendaceDT"></nvd3>
                        </div>
                        <div *ngIf="!attendaceDT.length">
                            <h4 class="text-center"><strong>No Data Found</strong></h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Assesment Result -->

            <div class="sm-header">
                <h4>Assesment Result</h4>
            </div>
            <div class="sm-body">
                <div id="divAssesmentResult">
                </div>
            </div>
        </div>
    </div>
</div>