<div class="card">
    <div class="header">
        <h4>Student Rollover</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveChangeStandard()">
                    <i class="material-icons">save</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="row clearfix">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Academic Year</label>
                                <select id="ayid" name="ayname" [(ngModel)]="ayid" class="form-control ayname" (ngModelChange)="getStudentDetails()" tabindex="1">
                                    <option [value]="0">Select Academic Year</option>
                                    <option *ngFor="let row of ayDT" [value]="row.key">	
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Class <strong>*</strong></label>
                                <select id="classid" name="classname" [(ngModel)]="classid" class="form-control class" (ngModelChange)="getStudentDetails()" tabindex="2">
                                    <option [value]="0">Select Class</option>
                                    <option *ngFor="let row of classDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="studentDT.length">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    GR No
                                </th>
                                <th>
                                    Roll No
                                </th>
                                <th>
                                    Student Name
                                </th>
                                <th>
                                    <span class="pull-left">Class</span>
                                    <span class="pull-right">
                                    <a class="col-white" role="button" title="Copy Across Class" (click)="copyAcrossClass()">
                                        <span class="material-icons">content_copy</span>
                                    </a>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let row of studentDT">
                            <tr>
                                <td>
                                    {{row.grno}}
                                </td>
                                <td>
                                    {{row.currrollno}}
                                </td>
                                <td>
                                    {{row.studentname}}
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select id="classid" name="classname" [(ngModel)]="row.classid" class="form-control {{'class' + row.studentid}}" tabindex="3">
                                                <option [value]="0">Select Class</option>
                                                <option *ngFor="let clsrow of classRowDT" [value]="clsrow.key">	
                                                    {{clsrow.val}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="!studentDT.length">
                    No records found
                </div>
            </div>
        </div>
    </div>
</div>