<div class="card">
	<div class="pull-right">

		<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" role="button" aria-expanded="true">
			<i class="material-icons" style="margin-right: 27px;">refresh</i>
			<span class="label-count" style="background-color: #fdfdfd;top: 9px;">{{ refreshCounter }}</span>
		</a>
	</div>

	<div class="body">
		<ul class="nav nav-tabs tab-nav-right" role="tablist">
			<li role="presentation" class="active">
				<a href="#home_only_icon_title" (click)="changeStatus('0')" data-toggle="tab" aria-expanded="false">
					<i class="material-icons">home</i> Pending ({{dashCount["0"]}})
				</a>
			</li>
			<li role="presentation">
				<a href="#profile_only_icon_title" (click)="changeStatus('1')" data-toggle="tab" aria-expanded="true">
					<i class="material-icons">face</i> Waiting ({{dashCount["1"]}})
				</a>
			</li>
			<li role="presentation" class="">
				<a href="#messages_only_icon_title" (click)="changeStatus('2')" data-toggle="tab" aria-expanded="false">
					<i class="material-icons">email</i> Assigned ({{dashCount["2"]}})
				</a>
			</li>
			<li role="presentation" class="">
				<a href="#settings_only_icon_title" (click)="changeStatus('3')" data-toggle="tab" aria-expanded="false">
					<i class="material-icons">settings</i> On the Way ({{dashCount["3"]}})
				</a>
			</li>
			<li role="presentation" class="">
				<a href="#settings_only_icon_title" (click)="changeStatus('4')" data-toggle="tab" aria-expanded="false">
					<i class="material-icons">settings</i> Deliverd ({{dashCount["4"]}})
				</a>
			</li>
			<li role="presentation" class="">
				<a href="#settings_only_icon_title" (click)="changeStatus('5')" data-toggle="tab" aria-expanded="false">
					<i class="material-icons">settings</i> Declined ({{dashCount["5"]}})
				</a>
			</li>
		</ul>



		<div class="tab-content">

			<table class="table table-responsive slim">
				<thead>
					<tr>
						<th style="width:80px;">
							Id#
						</th>
						<th >
							Ord.No's#
						</th>
						<th style="width:100px;" class="text-center">
							Area
						</th>
						<th style="width:100px;" class="text-center">
							City
						</th>
						<th style="width:100px;" class="text-center">
							Time
						</th>
						<th style="width:30px;" class="text-center">
							Steps
						</th>
						<th style="width:100px;" class="text-center">
							Amt to Col.
						</th>
						<th style="width:150px;">
							Remarks
						</th>
						<th style="width:150px;" class="text-center">
							Rider
						</th>
					</tr>
				</thead>
				<tbody *ngFor="let ordgrp of orderDT | groupBy:'olnm'; let i = index;">
					<tr class="headerrow">
						<td colspan="9"><b>{{ordgrp.key}}</b></td>
					</tr>
					<tr *ngFor="let ordrow of ordgrp.value">
						<td>{{ordrow.ordid}}</td>
						<td>

							<button class="btn btn-theme btn-xs" (click)="openPanel($event,ordrow.ordid)" data-close="true">{{ordrow.ordno}}</button></td>
						<td class="text-center">{{ordrow.area}}</td>
						<td class="text-center">{{ordrow.city}}</td>
						<td class="text-center">{{ordrow.pchtm}} <span class="{{ordrow.timediff  > 3 ? 'col-pink' : 'col-teal'}}">{{ordrow.timediff}}</span></td>
						<td class="text-center">{{ordrow.ordno.length}}</td>
						<td class="text-right">{{ordrow.totamt | _currency:{'decimals':2, 'currsym': '' } }}</td>
						<td><input type="text" class="form-control"></td>
						<td class="text-center">
							
							<span *ngIf="selectedOrderType > 1">{{ordrow.nm}}</span>	
							<button class="btn btn-theme btn-xs" *ngIf="selectedOrderType <= 1" (click)="modalShow(ordrow)">Select Rider</button>
							
							
							</td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>
</div>
<section>
	<aside id="rightsidebar" class="right-sidebar">
		<ul class="nav nav-tabs tab-nav-right" role="tablist">
			<li role="presentation" class="active"><a href="#skins" data-toggle="tab">Order Details</a></li>

		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active in active" id="skins">
				<ul class="demo-choose-skin">
					<li *ngFor="let item of orddetdash">
						<span class="label bg-black">Ord.No.</span> <span class="label bg-blue-grey">#{{item.ono}}</span>
						<i class="ordstatus material-icons {{item.st == '0' ? 'pending' : item.st == '1' ? 'p' : 'd'}}">
                                {{item.st == "0" ? "access_time" : item.st == "1" ? "play_arrow" : "done"}}
                    	</i>
						
						<h6>
							{{item.cnm}}
						</h6>
						<p><i class="material-icons">settings_cell</i> {{item.cno}}</p>
						<p><a><i class="material-icons">location_on</i></a> {{item.cadr}}</p>
						<p><b>Remark : </b>{{item.rem}}</p>
					</li>
				</ul>
			</div>

		</div>
	</aside>
</section>



<!-- Modal -->
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="largeModalLabel">Available Riders</h4>
			</div>
			<div class="modal-body" id="riders">
				<table class="table table-responsive slim">
					<thead>
						<tr>
							<th> Name</th>
							<th style="width:100px;" class="text-center">Contact</th>
							<th style="width:100px;" class="text-center">RType</th>
							<th style="width:60px;" class="text-center">Battery</th>
							<th style="width:60px;" class="text-center">Select</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of riders; let i =index">
							<td class="icons"><i class="material-icons">person_pin_circle</i> {{ item.nm }}</td>
							<td class="text-center">{{ item.mb }}</td>
							<td class="text-center">{{ item.rdrtyp }} </td>
							<td align="center">{{ item.btry + '%' }}</td>
							<td align="center">
								<input class="filled-in" type="checkbox" id="{{i+1}}" [(ngModel)]="item.ch" name="menu{{i+1}}" value="1">
								<label for="{{i+1}}"></label>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-link waves-effect" (click)="sendOrder()">SEND</button>
				<button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
			</div>
		</div>
	</div>
</div>


