<div class="header">
    <div class="row clearfix">
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-line">
                    <label class="control-label">User / Driver / Employee Name <strong>*</strong></label>
                    <p-autoComplete id="uid" name="uname" [(ngModel)]="selectUser" [tabindex]="2" (onSelect)="selectUserData($event)" [suggestions]="autoUserDT" (completeMethod)="getUserData($event)" field="uname" [minLength]="1" [size]="30" class="form-controlAutoComplete uname"></p-autoComplete>
                    <span class="material-icons inputsearchico pad-12">
                        <a role="button" (click)="viewUserDashboard()" class="btn btn-search">arrow_forward</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="body">
    <div class="row clearfix">
        <div class="col-md-8">
            <div class="row clearfix">
                <div class="col-md-6">
                    <div class="card">
                        <div class="header-title">
                            Personal Details
                        </div>
                        <div class="body" *ngFor="let row of infoDT">
                            <div class="row clearfix">
                                <div class="col-md-3">
                                    <img alt="{{row.uname}}" src="{{global.uploadurl + row.uphoto}}" onerror="this.src='assets/img/default-male.png';" height="100px" width="100px">
                                </div>
                                <div class="col-md-9">
                                    <p><b>Name : </b>{{row.uname}} ({{row.pwd}})</p>
                                    <p><b>Designation : </b>{{row.designame}}</p>
                                    <p><b>Mobile : </b>{{row.mobile}}</p>
                                    <p *ngIf="row.altmobile != ''"><b>Alternate Mobile : </b>{{row.altmobile}}</p>
                                    <p *ngIf="row.email != ''"><b>Email : </b>{{row.email}}</p>
                                    <p *ngIf="row.altemail != ''"><b>Alternate Email : </b>{{row.altemail}}</p>
                                    <p *ngIf="row.licenseno != '0'"><b>License No : </b>{{row.licenseno}}</p>
                                    <p *ngIf="row.aadharno != '0'"><b>Aadhar No : </b>{{row.aadharno}}</p>
                                </div>
                            </div>

                            <p *ngFor="let erow of row.enttdata; let i = index;">
                                <span class="p-5 {{erow.bgcolor}}"><b>{{i + 1}}.</b> {{erow.enttname}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="header-title">
                            Vehicle Details
                        </div>
                        <div class="body overflow-panel">
                            <div *ngFor="let row of vehicleDT; let i = index;" class="p-b-5">
                                <h5>{{i + 1}}. <a role="button" (click)="viewVehicleDashboard(row)">{{row.vehiclename}}</a></h5>
                                <p>{{row.vehregno}} - {{row.imei}}</p>
                                <p>{{row.attr}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="header-title">
                    Schedule
                </div>
                <div class="body">
                    <div *ngFor="let row of scheduleDT | groupBy:'schoolname'">
                        <h4>{{row.schoolname}}</h4>

                        <div class="row clearfix">
                            <div class="col-md-6" *ngFor="let drow of row.value">
                                <p><b>Schedule : </b>{{drow.schdlname}}</p>
                                <p><b>Batch : </b>{{drow.batchname}}</p>
                                <p><span innerHtml="{{drow.wkdays}}"></span></p>
                                <p><b>Date : </b>{{drow.schdldate}}</p>
                                <p>
                                    <b>Driver : </b>
                                    <a role="button" (click)="viewDriverDashboard(drow)">{{drow.drivername}}</a>
                                </p>
                                <p>
                                    <b>Vehicle : </b>
                                    <a role="button" (click)="viewVehicleDashboard(drow)">{{drow.vehiclename}}</a>
                                </p>
                                <p><b>Route : </b>{{drow.rtname}}</p>
                                <p><b>Student : </b>{{drow.countstuds}}</p>

                                <p class="font-12" *ngFor="let srow of drow.studdata; let i = index;">
                                    <b>{{i + 1}}.)</b>
                                    <a role="button" (click)="viewStudentDashboard(srow)">{{srow.stdnm}}</a>
                                </p>

                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header-title">
                    Trip Details
                </div>
                <div class="body padding-0">
                    <iframe id="divtrip" width="100%" height="520" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>