<div class="card">
    <div class="header">
        <h4>Entity</h4>
        <ul class="header-dropdown m-r--5">
            <li *ngIf="actaddrights === 'add'">
                <a role="button" class="btn btn-theme btn-xs" (click)="addEntityForm()">
                    <i class="material-icons">add</i></a>
            </li>
        </ul>
    </div>

    <div class="body no-padding">
        <!--<div class="row clearfix">
            <div class="col-md-3" *ngFor="let row of entityDT">
                <div class="info-box bg-green hover-expand-effect">
                    <div class="icon">
                        <img alt="{{row.studentname}}" src="{{row.schlogo}}" onerror="this.src='assets/img/default.gif';" height="40px" width="40px">
                    </div>
                    <div class="content">
                        <div class="text">{{row.schoolname}}</div>
                        {{row.address}}
                    </div>
                </div>
            </div>
        </div>-->

        <div class="row clearfix">
            <div class="col-md-12">
                <p-dataTable [value]="entityDT" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30,40]">
                    <p-column field="schoolcode" header="Entity Code" [style]="{'width': '80px', 'text-align': 'left', 'vertical-align':'top'}"></p-column>
                    <p-column field="schoolname" header="Entity Name" [style]="{'width': '220px', 'text-align': 'left', 'vertical-align':'top'}"></p-column>
                    <p-column field="ownbuses" header="Entity Vehicles" [style]="{'width': '80px', 'text-align': 'center', 'vertical-align':'top'}"></p-column>
                    <p-column field="vanoperator" header="Operator Vehicles" [style]="{'width': '80px', 'text-align': 'center', 'vertical-align':'top'}"></p-column>
                    <p-column field="name" header="Primary Contact Name" [style]="{'width': '150px', 'text-align': 'left', 'vertical-align':'top'}"></p-column>
                    <p-column field="mobile" header="Primary Mobile" [style]="{'width': '120px', 'text-align': 'left', 'vertical-align':'top'}"></p-column>
                    <p-column field="email" header="Primary Email" [style]="{'width': '200px', 'text-align': 'left', 'vertical-align':'top'}"></p-column>
                    <p-column field="address" header="Address" [style]="{'text-align': 'left', 'vertical-align':'top'}"></p-column>
                    <p-column field="mode" header="Status" [style]="{'width':'100px', 'text-align':'left'}"></p-column>
                    <p-column [style]="{'width': '50px', 'align': 'left', 'vertical-align':'top'}" *ngIf="acteditrights==='edit'">
                        <template let-row="rowData" pTemplate type="body">
                            <button type="button" class="btn btn-theme btn-xs" (click)="editEntityForm(row)">
                                <i class="material-icons">edit</i>
                            </button>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>