<div class="card">
    <div class="header">
        <h4>Class</h4>

        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme" (click)="addClass()">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>
    </div>

    <div class="body">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>
                        Standard
                    </th>
                    <th *ngFor="let divcol of divColumn" width="80px">
                        {{divcol.divname}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let clsrow of classDT">
                    <td>
                        {{clsrow.stdname}}
                    </td>
                    <td *ngFor="let divcol of divColumn">
                        {{clsrow[divcol.divcode]}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>