<div class="card">
    <div class="header">
        <h4>Merchant</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveMerchantInfo()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>

    <div class="row clearfix">
        <div class="col-md-6 border">
            <div class="header">
                <h4>Contact Details</h4>
            </div>
            <div class="body">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Merchant Name <strong>*</strong></label>
                        <input type="text" name="mrchtnm" [(ngModel)]="mrchtnm" maxlength="50" class="form-control mrchtnm" tabindex="1" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Landline Numbers<strong>*</strong></label>
                        <input type="text" name="landlines" [(ngModel)]="landlines" maxlength="50" class="form-control landlines" placeholder="Enter Multiple Landline Numbers By Putting Comma" tabindex="2" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Mobile Numbers<strong>*</strong></label>
                        <input type="text" name="mobiles" [(ngModel)]="mobiles" maxlength="50" class="form-control mobiles" placeholder="Enter Multiple Mobile Numbers By Putting Comma" tabindex="3" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Emails<strong>*</strong></label>
                        <input type="text" name="emails" [(ngModel)]="emails" maxlength="50" class="form-control emails" placeholder="Enter Multiple Emails By Putting Comma" tabindex="4" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Address <strong>*</strong></label>
                        <textarea [(ngModel)]="address" rows="4" class="form-control no-resize auto-growth address" maxlength="500" (keydown.tab)="getLatAndLong()" (keydown.tab)="getLatAndLong()" tabindex="5"></textarea>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Latitude <strong>*</strong></label>
                                <input type="text" [(ngModel)]="lat" class="form-control lat" maxlength="20" tabindex="6" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Longitude <strong>*</strong></label>
                                <input type="text" [(ngModel)]="lng" class="form-control lng" maxlength="20" tabindex="7" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Country <strong>*</strong></label>
                                <input type="text" [(ngModel)]="country" class="form-control country" maxlength="20" tabindex="11" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">State <strong>*</strong></label>
                                <select [(ngModel)]="state" class="form-control state" tabindex="12" (ngModelChange)="fillCityDropDown()">
                                    <option [value]="0">Select State</option>
                                    <option *ngFor="let row of stateDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">City <strong>*</strong></label>
                                <select [(ngModel)]="city" class="form-control city" tabindex="13" (ngModelChange)="fillAreaDropDown()">
                                    <option [value]="0">Select City</option>
                                    <option *ngFor="let row of cityDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Area <strong>*</strong></label>
                                <select [(ngModel)]="area" class="form-control area" tabindex="14">
                                    <option [value]="0">Select Area</option>
                                    <option *ngFor="let row of areaDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Pin Code <strong>*</strong></label>
                                <input type="text" [(ngModel)]="pincode" class="form-control pincode" maxlength="20" tabindex="12" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="header">
                <h4>Contact Information</h4>
            </div>
            <div class="body">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Contact Person <strong>*</strong></label>
                        <input type="text" [(ngModel)]="cpname" class="form-control cpname" maxlength="20" tabindex="10" />
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Mobile Number <strong>*</strong></label>
                                <input type="text" [(ngModel)]="cpmobile" class="form-control cpmobile" maxlength="20" tabindex="11" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Designation <strong>*</strong></label>
                                <input type="text" [(ngModel)]="cpdesig" class="form-control cpdesig" maxlength="20" tabindex="10" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header">
                <h4>Delivery Details</h4>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Deliver Priority <strong>*</strong></label>
                                <select [(ngModel)]="dlvrprty" class="form-control dlvrprty" tabindex="10">
                                    <option [value]="''">Select Deliver Priority</option>
                                    <option [value]="'high'">High</option>
                                    <option [value]="'medium'">Medium</option>
                                    <option [value]="'low'">Low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">EOD Allowed <strong>*</strong></label>
                                <div class="demo-radio-button">
                                    <p-radioButton name="iseod" value="Y" label="Yes" [(ngModel)]="iseod" tabindex="11"></p-radioButton>
                                    <p-radioButton name="iseod" value="N" label="No" [(ngModel)]="iseod" tabindex="12"></p-radioButton>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Schedule Delivery <strong>*</strong></label>
                                <div class="demo-radio-button">
                                    <p-radioButton name="isschdlvr" value="Y" label="Yes" [(ngModel)]="isschdlvr" tabindex="13"></p-radioButton>
                                    <p-radioButton name="isschdlvr" value="N" label="No" [(ngModel)]="isschdlvr" tabindex="14"></p-radioButton>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Agreement Status <strong>*</strong></label>
                                <div class="demo-radio-button">
                                    <p-radioButton name="isagrmntsts" value="Y" label="Yes" [(ngModel)]="isagrmntsts" tabindex="17"></p-radioButton>
                                    <p-radioButton name="isagrmntsts" value="N" label="No" [(ngModel)]="isagrmntsts" tabindex="18"></p-radioButton>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Auto Allocation <strong>*</strong></label>
                                <div class="demo-radio-button">
                                    <p-radioButton name="isautoalloc" value="Y" label="Yes" [(ngModel)]="isautoalloc" tabindex="19"></p-radioButton>
                                    <p-radioButton name="isautoalloc" value="N" label="No" [(ngModel)]="isautoalloc" tabindex="20"></p-radioButton>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">From Time <strong>*</strong></label>
                                <input type="time" [(ngModel)]="allocfrmtime" class="form-control allocfrmtime" tabindex="21" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">To Time <strong>*</strong></label>
                                <input type="time" [(ngModel)]="alloctotime" class="form-control alloctotime" tabindex="22" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Rider Availability <strong>*</strong></label>
                                <div class="demo-radio-button">
                                    <p-radioButton name="isrdravl" value="Y" label="Yes" [(ngModel)]="isrdravl" tabindex="23"></p-radioButton>
                                    <p-radioButton name="isrdravl" value="N" label="No" [(ngModel)]="isrdravl" tabindex="24"></p-radioButton>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">From Time <strong>*</strong></label>
                                <input type="time" [(ngModel)]="avlfrmtime" class="form-control avlfrmtime" tabindex="25" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">To Time <strong>*</strong></label>
                                <input type="time" [(ngModel)]="avltotime" class="form-control avltotime" tabindex="26" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Get Order <strong>*</strong></label>
                                <div class="demo-radio-button">
                                    <p-radioButton name="isgetord" value="Y" label="Yes" [(ngModel)]="isgetord" tabindex="15"></p-radioButton>
                                    <p-radioButton name="isgetord" value="N" label="No" [(ngModel)]="isgetord" tabindex="16"></p-radioButton>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">From Time <strong>*</strong></label>
                                <input type="time" [(ngModel)]="ordfrmtime" class="form-control ordfrmtime" tabindex="27" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">To Time <strong>*</strong></label>
                                <input type="time" [(ngModel)]="ordtotime" class="form-control ordtotime" tabindex="28" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>