<div class="card">
    <div class="header">
        <h4>Fees History</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-2">
                <img *ngIf="gndrkey == 'M'" alt="{{studname}}" src="{{global.uploadurl + studphoto}}" onerror="this.src='assets/img/default-male.png';" height="100px">
                <img *ngIf="gndrkey == 'F'" alt="{{studname}}" src="{{global.uploadurl + studphoto}}" onerror="this.src='assets/img/default-female.png';" height="100px">
            </div>
            <div class="col-md-4">
                <p><b>Name :</b> {{studname}}</p>
                <p><b>Class :</b> {{classname}}</p>
                <p><b>Gender :</b> {{gndrval}}</p>
                <p><b>Roll No :</b> {{rollno}}</p>
            </div>
            <div class="col-md-4">
                <p><b>Class Fees :</b> {{classfees | _currency:loginUser.globsettings[0]}}</p>
                <p><b>Pending Fees :</b> {{pendingfees | _currency:loginUser.globsettings[0]}}</p>
            </div>
        </div>

        <div *ngIf="feesHistoryDT.length">
            <div class="row clearfix">
                <div class="col-md-6">
                    <h4>Payment History</h4>
                </div>
                <div class="col-md-6 text-right">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-theme btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">print</i> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a role="button" (click)="openFeesSleep('summary', 'all')">Summary</a></li>
                            <li><a role="button" (click)="openFeesSleep('details', 'all')">Details</a></li>
                        </ul>
                    </div>

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-theme btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">email</i> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a role="button" (click)="emailSleepToParent('summary', 'all')">Summary</a></li>
                            <li><a role="button" (click)="emailSleepToParent('details', 'all')">Details</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-responsive">
                <tbody *ngFor="let row of feesHistoryDT">
                    <tr>
                        <td>
                            <b>Receipt No :</b> {{row.receiptno}}
                        </td>
                        <td>
                            <b>Receive Date :</b> {{row.receivedate}}
                        </td>
                        <td>
                            <b>Payment Mode :</b> {{row.paymodename}}
                        </td>
                        <td rowspan="3" align="right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-theme btn-xs" (click)="editFeesCollection(row)">
                                    <i class="material-icons">edit</i>
                                </button>
                            </div>

                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-theme btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">print</i> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a role="button" (click)="openFeesSleep('summary', '', row)">Summary</a></li>
                                    <li><a role="button" (click)="openFeesSleep('details', '', row)">Details</a></li>
                                </ul>
                            </div>

                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-theme btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">email</i> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a role="button" (click)="emailSleepToParent('summary', '', row)">Summary</a></li>
                                    <li><a role="button" (click)="emailSleepToParent('details', '', row)">Details</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="row.paymodecode == 'cheque'">
                        <td>
                            <b>Cheque Status :</b> {{row.chequestatus}}
                        </td>
                        <td>
                            <b>Cheque No :</b> {{row.chequeno}}
                        </td>
                        <td>
                            <b>Cheque Date :</b> {{row.chequedate}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <b>Remark :</b>
                            <p>{{row.remark1}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table class="table table-bordered table-responsive reports">
                                <thead>
                                    <tr>
                                        <th width="250px">Category</th>
                                        <th width="150px">Fees</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let drow of row.catdetails">
                                        <td>
                                            {{drow.catname}} {{drow.subcatname == '' ? '' : ' - ' || drow.subcatname}}
                                        </td>
                                        <td align="right">
                                            {{drow.fees | _currency:loginUser.globsettings[0]}}
                                        </td>
                                    </tr>
                                    <tr class="tr-table">
                                        <td align="right">
                                            <b>Total Fees : </b>
                                        </td>
                                        <td align="right">
                                            <b>{{row.totalfees | _currency:loginUser.globsettings[0]}}</b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="tr-table">
                        <td align="right" colspan="4">
                            <b>Total Paid Fees : </b> {{feescoll | _currency:loginUser.globsettings[0]}}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="feesReportsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-body">
                <div id="feesreports">
                    <iframe id="ifeesreports" width="550" height="450" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>