<div class="row clearfix">
    <div class="col-md-6">
        <h3>Pick Up and Drop</h3>
    </div>
    <div class="col-md-6" align="right">
        <button type="button" class="btn bg-orange waves-effect btn-sm" (click)="savePickDropInfo()">
            <i class="material-icons">save</i>
        </button>
    </div>
</div>

<div class="row clearfix">
    <div class="card">
        <div class="body">
            <div class="row clearfix">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-line">
                            <p-autoComplete id="ownername" name="ownername" [(ngModel)]="ownername" placeholder="Owner Name" [tabindex]="1" (onSelect)="selectAutoData($event, 'owner')"
                                [suggestions]="ownersDT" (completeMethod)="getOwnerData($event, 'owner')" field="label" [minLength]="1"
                                [size]="30" class="form-controlAutoComplete ownername"></p-autoComplete>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-line">
                            <select [(ngModel)]="schoolid" class="form-control" (ngModelChange)="fillBatchDropDown();getStudentData($event);" tabindex="2">
                                <option [value]="0">Select School</option>
                                <option *ngFor="let row of schoolDT" [value]="row.key">	
                                    {{row.val}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-line">
                            <select [(ngModel)]="batchid" class="form-control" tabindex="3" (ngModelChange)="getPickDropInfo()">
                                <option [value]="0">Select Batch</option>
                                <option *ngFor="let row of batchDT" [value]="row.key">	
                                    {{row.val}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-6">
            <div class="card">
                <div class="body">
                    <div class="header">
                        <h2>Pick-Up</h2>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <select [(ngModel)]="pickdriverid" class="form-control" tabindex="4" (ngModelChange)="setDropDriver()">
                                <option [value]="0">Select Pick Up Driver</option>
                                <option *ngFor="let row of driverDT" [value]="row.key">	
                                    {{row.val}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <select [(ngModel)]="pickvehicleno" class="form-control" tabindex="6" (ngModelChange)="setDropVehicle()">
                                <option [value]="''">Select Pick Up Vehicle</option>
                                <option *ngFor="let row of vehicleDT" [value]="row.key">	
                                    {{row.val}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <p-autoComplete id="pickstudentname" name="pickstudentname" [(ngModel)]="pickstudentname" placeholder="Pick Up Student Name"
                                [tabindex]="8" (onSelect)="selectAutoData($event, 'student')" [suggestions]="studentsDT" (completeMethod)="getStudentData($event)"
                                field="studnm" [minLength]="1" [size]="30" class="form-controlAutoComplete studentname"></p-autoComplete>
                        </div>
                    </div>

                    <p-orderList [value]="pickStudentsDT" [listStyle]="{'height':'250px'}" [responsive]="true" header="Pick - Up Schedule">
                        <template let-student pTemplate="editor">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="ui-helper-clearfix">
                                        {{student.studentname}}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="ui-helper-clearfix">
                                        <button type="button" class="btn btn-danger btn-xs" (click)="deletePickUpStudents(student)"><i class="material-icons">remove</i></button>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </p-orderList>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="body">
                    <div class="header">
                        <h2>Drop</h2>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <select [(ngModel)]="dropdriverid" class="form-control" tabindex="5">
                                <option [value]="0">Select Drop Driver</option>
                                <option *ngFor="let row of driverDT" [value]="row.key">	
                                    {{row.val}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <select [(ngModel)]="dropvehicleno" class="form-control" tabindex="7">
                                <option [value]="''">Select Drop Vehicle</option>
                                <option *ngFor="let row of vehicleDT" [value]="row.key">	
                                    {{row.val}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <p-autoComplete id="dropstudentname" name="dropstudentname" [(ngModel)]="dropstudentname" placeholder="Drop Student Name"
                                [tabindex]="8" (onSelect)="selectDropStudent($event)" [suggestions]="studentsDT" (completeMethod)="getStudentData($event)"
                                field="studnm" [minLength]="1" [size]="30" class="form-controlAutoComplete studentname"></p-autoComplete>
                            <div class="pull-right">
                                <button type="button" class="btn bg-orange waves-effect btn-xs" (click)="pickupStudents()">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <p-orderList [value]="dropStudentsDT" [listStyle]="{'height':'250px'}" [responsive]="true" header="Drop Schedule">
                        <template let-student pTemplate="item">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="ui-helper-clearfix">
                                        {{student.studentname}}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="ui-helper-clearfix">
                                        <button type="button" class="btn btn-danger btn-xs" (click)="deleteDropStudents(student)"><i class="material-icons">remove</i></button>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </p-orderList>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="body">
                    <div class="form-group">
                        <div class="form-line">
                            <textarea [(ngModel)]="instrunction" rows="4" class="form-control no-resize auto-growth" placeholder="Instrunction" tabindex="9"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>