<div class="card">
    <div class="header">
        <h4>Passenger</h4>
        <ul class="header-dropdown m-r--5">
            <li *ngIf="psngrid !== 0">
                <span class="switch">
                    <label><input type="checkbox" [(ngModel)]="isactive" (ngModelChange)="active_deactivePassengerInfo()"><span class="lever"></span></label>
                </span>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="savePassengerInfo()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-6 border">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Entity Name <strong>*</strong></label>
                        <p-autoComplete id="enttname" name="enttname" [(ngModel)]="enttname" [tabindex]="2" (onSelect)="selectEntityData($event)" [suggestions]="entityDT" (completeMethod)="getEntityData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete enttname"
                            tabindex="10"></p-autoComplete>
                        <span class="material-icons inputserachico">search</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-6 border">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Passenger Name <strong>*</strong></label>
                                <input type="text" name="psngrname" [(ngModel)]="psngrname" maxlength="50" class="form-control psngrname" tabindex="3" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Aadhar No</label>
                                <input type="number" name="aadharno" [(ngModel)]="aadharno" maxlength="20" class="form-control" tabindex="4" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Standard <strong>*</strong></label>
                                <select name="standard" [(ngModel)]="standard" class="form-control standard" tabindex="5">
                                    <option [value]="''">Select Standard</option>
                                    <option *ngFor="let row of standardDT" [value]="row.key">	
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Division <strong>*</strong></label>
                                <select name="division" [(ngModel)]="division" class="form-control division" tabindex="5">
                                    <option [value]="''">Select Division</option>
                                    <option *ngFor="let row of divisionDT" [value]="row.key">	
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Date of Birth</label>
                                <div class="row clearfix">
                                    <div class="col-md-2" align="right">
                                        <span class="material-icons">date_range</span>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="date" name="dob" [(ngModel)]="dob" class="form-control date" tabindex="6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Gender</label>
                                <select name="gender" [(ngModel)]="gender" class="form-control" tabindex="7">
                                    <option [value]="''">Select Gender</option>
                                    <option *ngFor="let row of genderDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Father Name</label>
                                <input type="text" name="fathername" [(ngModel)]="fathername" class="form-control" tabindex="8" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Mother Name</label>
                                <input type="text" name="mothername" [(ngModel)]="mothername" class="form-control" tabindex="9" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Primary Mobile <strong>*</strong></label>
                                <span class="material-icons inputserachico">phone_iphone</span>
                                <input type="text" name="primarymobile" [(ngModel)]="primarymobile" maxlength="10" class="form-control email primarymobile" tabindex="10">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Secondary Mobile</label>
                                <span class="material-icons inputserachico">phone_iphone</span>
                                <input type="text" name="secondarymobile" [(ngModel)]="secondarymobile" maxlength="10" class="form-control email" tabindex="11">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Primary Email <strong>*</strong></label>
                                <span class="material-icons inputserachico">email</span>
                                <input type="text" name="primaryemail" [(ngModel)]="primaryemail" class="form-control email primaryemail" tabindex="12">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Secondary Email</label>
                                <span class="material-icons inputserachico">email</span>
                                <input type="text" name="secondaryemail" [(ngModel)]="secondaryemail" class="form-control email" tabindex="13">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="row clearfix">
            <div class="col-md-4 border">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="control-label">Alert</label>
                        <select name="alert" [(ngModel)]="alert" class="form-control" tabindex="14">
                            <option [value]="''">Select Alert</option>
                            <option *ngFor="let row of alertDT" [value]="row.key">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="control-label">Residental Address <strong>*</strong></label>
                        <textarea name="resiaddr" [(ngModel)]="resiaddr" rows="4" class="form-control no-resize auto-growth resiaddr" (keydown.tab)="getLatAndLong('resiaddr')" tabindex="14"></textarea>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Residental Lat <strong>*</strong></label>
                                <input type="text" name="resilet" [(ngModel)]="resilet" maxlength="50" class="form-control resilet" tabindex="16" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Residental Long <strong>*</strong></label>
                                <input type="text" name="resilong" [(ngModel)]="resilong" maxlength="50" class="form-control resilong" tabindex="17" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 border">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Pick Up Route</label>
                                <select id="pickrtid" name="pickrtnm" [(ngModel)]="pickrtid" class="form-control" tabindex="7" (ngModelChange)="fillPickStopsDDL()">
                                    <option [value]="0">Select Route</option>
                                    <option *ngFor="let row of pickrouteDT" [value]="row.rtid">
                                        {{row.rtname}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Pick Up Stops</label>
                                <select id="pickstpid" name="pickstpnm" [(ngModel)]="pickstpid" class="form-control" tabindex="7" (ngModelChange)="getPickAddressLatLon()">
                                    <option [value]="0">Select Stops</option>
                                    <option *ngFor="let row of pickstopsDT" [value]="row.stpid">
                                        {{row.stpname}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input *ngIf="pickstpid == 0" id="pickupaddr" name="chkpickupaddr" type="checkbox" [(ngModel)]="isCopyPickupAddr" (change)="copyPDAddrAndLatLong('pickaddr')" class="filled-in">
                        <label for="pickupaddr" class="control-label">Pick Up Address <strong>*</strong></label>
                        <textarea name="pickupaddr" [(ngModel)]="pickupaddr" rows="4" class="form-control no-resize auto-growth pickupaddr" (keydown.tab)="getLatAndLong('pickupaddr')" tabindex="15"></textarea>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Pickup Lat <strong>*</strong></label>
                                <input type="text" name="pickuplet" [(ngModel)]="pickuplet" maxlength="50" class="form-control pickuplet" tabindex="18" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Pickup Long <strong>*</strong></label>
                                <input type="text" name="pickuplong" [(ngModel)]="pickuplong" maxlength="50" class="form-control pickuplong" tabindex="19" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Drop Route</label>
                                <select id="droprtid" name="droprtnm" [(ngModel)]="droprtid" class="form-control" tabindex="7" (ngModelChange)="fillDropStopsDDL()">
                                    <option [value]="0">Select Route</option>
                                    <option *ngFor="let row of droprouteDT" [value]="row.rtid">
                                        {{row.rtname}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Drop Stops</label>
                                <select id="dropstpid" name="dropstpnm" [(ngModel)]="dropstpid" class="form-control" tabindex="7" (ngModelChange)="getDropAddressLatLon()">
                                    <option [value]="0">Select Stops</option>
                                    <option *ngFor="let row of dropstopsDT" [value]="row.stpid">
                                        {{row.stpname}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group form-float">
                    <div class="form-line">
                        <input *ngIf="dropstpid == 0" id="dropaddr" name="chkdropaddr" type="checkbox" [(ngModel)]="isCopyDropAddr" (change)="copyPDAddrAndLatLong('dropaddr')" class="filled-in">
                        <label for="dropaddr" class="control-label">Drop Address <strong>*</strong></label>
                        <textarea name="dropaddr" [(ngModel)]="dropaddr" rows="4" class="form-control no-resize auto-growth dropaddr" (keydown.tab)="getLatAndLong('dropaddr')" tabindex="16"></textarea>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Drop Lat <strong>*</strong></label>
                                <input type="text" name="droplet" [(ngModel)]="droplet" maxlength="50" class="form-control droplet" tabindex="20" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Drop Long <strong>*</strong></label>
                                <input type="text" name="droplong" [(ngModel)]="droplong" maxlength="50" class="form-control droplong" tabindex="21" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="row clearfix">
            <div class="col-md-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="control-label">Other Info</label>
                        <textarea name="otherinfo" [(ngModel)]="otherinfo" rows="4" class="form-control no-resize auto-growth" tabindex="22"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="control-label">Remark</label>
                        <textarea name="remark1" [(ngModel)]="remark1" rows="4" class="form-control no-resize auto-growth" tabindex="23"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>