<div class="card">
    <div class="header">
        <h4>Vehicle</h4>

        <ul class="header-dropdown m-r--5">
            <li *ngIf="vehid !== 0">
                <span class="switch">
                    <label class="control-label">
                        <input type="checkbox" [(ngModel)]="isactive" (ngModelChange)="active_deactiveVehicleInfo()">
                        <span class="lever"></span>
                </label>
                </span>
            </li>
            <li>
                <a role="button" class="btn btn-theme" (click)="saveVehicleInfo()">
                    <i class="material-icons">save</i>
                </a>
            </li>
            <li>
                <a role="button" class="btn btn-theme" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i>
                </a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-6">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">IMEI <strong>*</strong></label>
                                <input type="text" [(ngModel)]="imei" class="form-control vehno" maxlength="15" tabindex="1" (blur)="getVehicleDetails()" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Vehicle No <strong>*</strong></label>
                                <input type="text" [(ngModel)]="vehno" class="form-control vehno" maxlength="20" tabindex="2" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix hidewhen">
            <div class="col-md-6 border">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Vehicle Type <strong>*</strong></label>
                                <select id="vehtype" name="vehtype" [(ngModel)]="vehtype" class="form-control vehtype" tabindex="3">
                                    <option [value]="''">Select Vehicle Type</option>
                                    <option *ngFor="let row of vehtypeDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Vehicle Registration No <strong>*</strong></label>
                                <input type="text" [(ngModel)]="vehregno" class="form-control vehregno" maxlength="50" tabindex="4" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Vehicle Make <strong>*</strong></label>
                                <input type="text" [(ngModel)]="vehmake" class="form-control vehmake" maxlength="50" tabindex="5" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Vehicle Model <strong>*</strong></label>
                                <input type="text" [(ngModel)]="vehmdl" class="form-control vehmdl" maxlength="50" tabindex="6" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Vehicle Capacity</label>
                                <input type="number" [(ngModel)]="capacity" class="form-control capacity" maxlength="50" tabindex="7" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Vehicle Condition</label>
                                <input type="text" [(ngModel)]="vehcond" class="form-control" maxlength="50" tabindex="8" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Vehicle Facility</label>
                                <input type="text" [(ngModel)]="vehfclt" class="form-control" maxlength="50" tabindex="9" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Device Type <strong>*</strong></label>
                                <select id="devtype" name="gpsdevid" [(ngModel)]="devtype" class="form-control devtype" tabindex="10">
                                    <option [value]="''">GPS Device Type</option>
                                    <option *ngFor="let row of devtypeDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">SIM No. (eg. 9009090009) <strong>*</strong></label>
                                <input type="text" [(ngModel)]="simno" class="form-control vehno" maxlength="15" tabindex="11" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Speed Alert(Above km/h) <strong>*</strong></label>
                                <input type="text" OnlyNumber="true" [(ngModel)]="speedAllow" class="form-control vehno" maxlength="50" tabindex="12" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">D1 Function</label>
                                <select id="d1str" name="d1str" [(ngModel)]="d1str" class="form-control d1str" tabindex="13">
                                    <option [value]="''">None</option>
                                    <option *ngFor="let row of d1strDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Track Type</label><br />

                                <div id="track">
                                    <span *ngFor="let ttrow of tracktypeDT; let i = index">
                                        <input type="checkbox" id="{{ttrow.key}}" value="{{ttrow.key}}" name="ttrow{{i + 1}}" data-menuid="ttrow.key" data-right="item" class="actrights filled-in" tabindex="14" />
                                        <label for="{{ttrow.key}}">{{ttrow.val}}</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 hide">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">URL <strong>*</strong></label>
                                <input type="text" [(ngModel)]="vehurl" class="form-control vehurl" maxlength="50" tabindex="15" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>