<div class="card">
    <div class="header">
        <h4>Vehicle</h4>

        <ul class="header-dropdown m-r--5">
            <li *ngIf="vehid !== 0">
                <span class="switch">
                    <label class="control-label">
                        <input type="checkbox" [(ngModel)]="isactive" (ngModelChange)="active_deactiveVehicleInfo()">
                        <span class="lever"></span>
                </label>
                </span>
            </li>
            <li>
                <a role="button" class="btn btn-theme" (click)="saveVehicleInfo()">
                    <i class="material-icons">save</i>
                </a>
            </li>
            <li>
                <a role="button" class="btn btn-theme" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i>
                </a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">IMEI <strong>*</strong></label>
                        <input type="text" [(ngModel)]="imei" class="form-control imei" maxlength="15" tabindex="1" (blur)="getVehicleByIMEI()" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">
                            Vehicle Registration No <span title="MH-04-A-1, MH-04-A-11, MH-04-AA-111, MH-04-A-1111">(MH-04-CH-4343)</span>
                            <strong>*</strong>
                        </label>

                        <input type="text" name="vehregno" [(ngModel)]="vehregno" [pattern]="vehregnoPattern" #regno="ngModel" class="form-control vehregno" maxlength="50" tabindex="2" (blur)="getVehicleByIMEI()" />
                    </div>
                </div>
                <div id="invalidvehregno" class="col-red" *ngIf="regno.errors?.pattern">
                    <span>Not Valid</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Vehicle Name <strong>*</strong></label>
                        <input type="text" [(ngModel)]="vehname" class="form-control vehname" maxlength="50" tabindex="4" />
                    </div>
                </div>
            </div>
            <div class="col-md-3 pad-20 text-right">
                <input id="isprivate" type="checkbox" [(ngModel)]="isprivate" class="actrights filled-in" />
                <label for="isprivate">Is Private</label>
            </div>
        </div>

        <div class="row clearfix hidewhen">
            <div class="col-md-6 border">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Vehicle Type <strong>*</strong></label>
                                <select id="vehtype" name="vehtype" [(ngModel)]="vehtype" class="form-control vehtype" tabindex="3">
                                    <option [value]="''">Select Vehicle Type</option>
                                    <option *ngFor="let row of vehtypeDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Vehicle Make <strong>*</strong></label>
                                <input type="text" [(ngModel)]="vehmake" class="form-control vehmake" maxlength="50" tabindex="5" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Vehicle Model <strong>*</strong></label>
                                <input type="text" [(ngModel)]="vehmodel" class="form-control vehmodel" maxlength="50" tabindex="6" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Vehicle Capacity</label>
                                <input type="number" [(ngModel)]="capacity" class="form-control capacity" maxlength="50" tabindex="7" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Vehicle Condition</label>
                                <input type="text" [(ngModel)]="vehcond" class="form-control" maxlength="50" tabindex="8" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Vehicle Facility</label>
                                <input type="text" [(ngModel)]="vehfclt" class="form-control" maxlength="50" tabindex="9" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">From Date</label>
                                <input type="date" [(ngModel)]="frmdt" class="form-control frmdt" tabindex="10">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">To Date</label>
                                <input type="date" [(ngModel)]="todt" class="form-control droptodate" tabindex="11">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Device Type <strong>*</strong></label>
                                <select id="devtype" name="gpsdevid" [(ngModel)]="devtype" class="form-control devtype" tabindex="12">
                                    <option [value]="''">GPS Device Type</option>
                                    <option *ngFor="let row of devtypeDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">SIM No. (eg. 9009090009) <strong>*</strong></label>
                                <input type="text" [(ngModel)]="simno" class="form-control vehno" maxlength="15" tabindex="13" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Speed Alert(Above km/h) <strong>*</strong></label>
                                <input type="text" OnlyNumber="true" [(ngModel)]="speedAllow" class="form-control vehno" maxlength="50" tabindex="14" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">D1 Function</label>
                                <select id="d1str" name="d1str" [(ngModel)]="d1str" class="form-control d1str" tabindex="15">
                                    <option [value]="''">None</option>
                                    <option *ngFor="let row of d1strDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Track Type</label><br />

                                <div id="track">
                                    <span *ngFor="let ttrow of tracktypeDT; let i = index">
                                        <input type="checkbox" id="{{ttrow.key}}" value="{{ttrow.key}}" name="ttrow{{i + 1}}" data-menuid="ttrow.key" data-right="item" class="actrights filled-in" tabindex="16" />
                                        <label for="{{ttrow.key}}">{{ttrow.val}}</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 hide">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">URL <strong>*</strong></label>
                                <input type="text" [(ngModel)]="vehurl" class="form-control vehurl" maxlength="50" tabindex="17" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>