<div class="card">
    <div class="header">
        <h4>Location</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <span class="switch">
                    <label class="control-label"><input type="checkbox" [(ngModel)]="isactive" (ngModelChange)="active_deactiveLocationInfo()"><span class="lever"></span></label>
                </span>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveLocationInfo()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-8 border">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">State Name <strong>*</strong></label>
                                <select [(ngModel)]="stateid" class="form-control stateid">
                                    <option [value]="0">Select State</option>
                                    <option *ngFor="let row of stateDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">City Code <strong>*</strong></label>
                                <input type="text" [(ngModel)]="ctcd" class="form-control citycode" maxlength="10" (keydown.enter)="getAreaByCity()" (keydown.tab)="getAreaByCity()" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">City Name <strong>*</strong></label>
                                <input type="text" [(ngModel)]="ctnm" class="form-control cityname" maxlength="50" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Area Code <strong>*</strong></label>
                                <input type="text" [(ngModel)]="arcd" class="form-control citycode" maxlength="10" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Area Name <strong>*</strong></label>
                                <input type="text" [(ngModel)]="arnm" class="form-control cityname" maxlength="50" (keydown.enter)="addAreaList()" (keydown.tab)="addAreaList()" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button type="button" class="btn btn-theme btn-xs" (click)="addAreaList()">
                                <span class="material-icons">add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" *ngFor="let row of arealist">
                    <div class="col-md-5">
                        <div class="form-group">
                            {{row.arcd}}
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            {{row.arnm}}
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <button type="button" class="btn btn-theme btn-xs">
                                <span class="material-icons">edit</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <button type="button" class="btn btn-theme btn-xs">
                                <span class="material-icons">delete</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>