<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-4 col-xs-4">
                <h4>Student</h4>
            </div>
            <div class="col-md-8 col-xs-8 text-right">
                <button type="button" class="btn btn-theme btn-xs" (click)="isshStudent('grid')">
                    <i class="material-icons">apps</i>
                </button>
                <button type="button" class="btn btn-theme btn-xs" (click)="isshStudent('list')">
                    <i class="material-icons">list</i>
                </button>
                <button type="button" class="btn btn-theme btn-xs" (click)="addAdmissionForm()">
                    <i class="material-icons">add</i> <i class="font-no-italic">Add New</i>
                </button>
                <button type="button" class="btn btn-theme btn-xs" (click)="openBulkUploadPopup()">
                    <i class="material-icons">add</i> <i class="font-no-italic">Bulk Upload</i>
                </button>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-2 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Academic Year <strong>*</strong></label>
                        <select id="ayid" name="ayname" [(ngModel)]="ayid" class="form-control ayname" tabindex="1" (ngModelChange)="getStudentDetails()">
                            <option [value]="0">Select Academic Year</option>
                            <option *ngFor="let row of ayDT" [value]="row.key">	
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Class</label>
                        <select id="classid" name="classid" [(ngModel)]="classid" class="form-control" tabindex="2" (ngModelChange)="getStudentDetails()">
                            <option [value]="0">All</option>
                            <option *ngFor="let row of classDT" [value]="row.key">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Student Name <strong>*</strong></label>
                        <p-autoComplete id="studname" name="studname" [(ngModel)]="selectStudent" [tabindex]="3" (onSelect)="selectStudentData($event)" [suggestions]="autoStudentDT" (completeMethod)="getStudentData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete studname"></p-autoComplete>
                        <span class="material-icons inputlinkico">
                            <a role="button" (click)="getStudentDetails()" class="btn btn-theme btn-search">search</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-xs-6 pad-20">
                <div class="form-group">
                    <button type="button" class="btn btn-theme btn-xs" (click)="resetStudentData()">
                        <span class="material-icons">restore</span>
                    </button>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 pad-20 text-right">
            </div>
        </div>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-3">
                <h4>Academic Year wise Student</h4>

                <table class="table table-bordered table-responsive">
                    <tr *ngFor="let row of ayDT">
                        <td>
                            <b>{{row.val}} : </b>
                        </td>
                        <td>
                            {{row.countstud}}
                        </td>
                    </tr>
                </table>

                <hr />

                <h4>Board wise Student</h4>

                <table class="table table-bordered table-responsive">
                    <tr *ngFor="let row of boardDT">
                        <td>
                            <b>{{row.val}} : </b>
                        </td>
                        <td>
                            {{row.countstud}}
                        </td>
                    </tr>
                </table>

                <hr />

                <h4>Class wise Student</h4>

                <table class="table table-bordered table-responsive">
                    <tr *ngFor="let row of classDT">
                        <td>
                            <b>{{row.val}} : </b>
                        </td>
                        <td>
                            {{row.countstud}}
                        </td>
                    </tr>
                </table>

                <hr />

                <h4>Social Category wise Student</h4>

                <table class="table table-bordered table-responsive">
                    <tr *ngFor="let row of socialCategoryDT">
                        <td>
                            <b>{{row.val}} : </b>
                        </td>
                        <td>
                            {{row.countstud}}
                        </td>
                    </tr>
                </table>

                <hr />

                <h4>Gender wise Student</h4>

                <table class="table table-bordered table-responsive">
                    <tr *ngFor="let row of genderDT">
                        <td>
                            <b>{{row.val}} : </b>
                        </td>
                        <td>
                            {{row.countstud}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-9">
                <div class="row clearfix" *ngIf="isShowGrid">
                    <div class="col-md-12" *ngIf="studentDT.length">
                        <p-dataGrid [value]="studentDT" [paginator]="true" [rows]="20">
                            <ng-template let-row pTemplate="item">
                                <div style="padding:3px" class="ui-g-12 ui-md-4">
                                    <p-panel [style]="{'text-align':'center'}">
                                        <p-header>
                                            <div class="row clearfix">
                                                <div class="col-md-1 col-xs-2">
                                                    <i class="material-icons sm-font">{{row.isactive ? 'done' : ''}}</i>
                                                </div>
                                                <div class="col-md-10 col-xs-8">
                                                    {{row.studentname}}
                                                </div>
                                                <div class="col-md-1 col-xs-2">
                                                    <a role="button" (click)="editAdmissionForm(row)"><i class="material-icons sm-font">edit</i></a>
                                                </div>
                                            </div>
                                        </p-header>
                                        <div class="row clearfix">
                                            <div class="col-md-4 col-xs-4 border">
                                                <div class="row clearfix">
                                                    <div class="col-md-12">
                                                        <a role="button" (click)="viewStudentDashboard(row)">
                                                            <img *ngIf="row.gndrkey == 'M'" alt="{{row.studentname}}" src="{{global.uploadurl + row.FilePath}}" onerror="this.src='assets/img/default-male.png';" class="img-xs">
                                                            <img *ngIf="row.gndrkey == 'F'" alt="{{row.studentname}}" src="{{global.uploadurl + row.FilePath}}" onerror="this.src='assets/img/default-female.png';" class="img-xs">
                                                        </a>
                                                    </div>
                                                    <div class="col-md-12" *ngIf="row.gndrval != ''">
                                                        {{row.gndrval}}
                                                    </div>
                                                    <div class="col-md-12">
                                                        <b>Roll No :</b> {{row.rollno == null ? 0 : row.rollno}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-xs-8" align="left">
                                                <div class="row clearfix">
                                                    <div class="col-md-12 hide">
                                                        <b>Enrollment No :</b> {{row.enrlmntid}}
                                                    </div>
                                                    <div class="col-md-12" *ngIf="row.classname != ''">
                                                        <b>GR. No. :</b> {{row.grno}}
                                                    </div>
                                                    <div class="col-md-12" *ngIf="row.classname != ''">
                                                        <b>Standard :</b> {{row.classname}}
                                                    </div>
                                                    <div class="col-md-12" *ngIf="row.dob != ''">
                                                        <span class="material-icons sm-font">date_range</span> {{row.dob}}
                                                    </div>
                                                    <div class="col-md-12" *ngIf="row.mobileno1 != ''">
                                                        <span class="material-icons sm-font">phone_iphone</span> {{row.mobileno1}}
                                                        <span *ngIf="row.mobileno1 != '' && row.mobileno2 !== ''">, </span>{{row.mobileno2}}
                                                    </div>
                                                    <div class="col-md-12" *ngIf="row.email1 != ''">
                                                        <span class="material-icons sm-font">email</span> {{row.email1}}
                                                        <span *ngIf="row.email1 != '' && row.email2 !== ''">, </span>{{row.email2}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p-footer>
                                            <div class="row clearfix">
                                                <div class="col-md-12">
                                                    <span class="font-bold">Class Teacher : </span> {{row.clstchrname}}
                                                </div>
                                            </div>
                                        </p-footer>
                                    </p-panel>
                                </div>
                            </ng-template>
                        </p-dataGrid>
                    </div>
                    <div class="col-md-12" *ngIf="!studentDT.length">
                        No records found
                    </div>
                </div>
                <div class="row clearfix" *ngIf="isShowList">
                    <div class="col-md-12">
                        <p-dataTable [value]="studentDT" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30,40]">
                            <p-column header="" [style]="{'width':'60px','text-align':'center','vertical-align':'top'}">
                                <ng-template let-row="rowData" pTemplate type="body">
                                    <img *ngIf="row.gndrkey == 'M'" alt="{{row.studentname}}" src="{{global.uploadurl + row.FilePath}}" onerror="this.src='assets/img/default-male.png';" class="img-sm">
                                    <img *ngIf="row.gndrkey == 'F'" alt="{{row.studentname}}" src="{{global.uploadurl + row.FilePath}}" onerror="this.src='assets/img/default-female.png';" class="img-sm">
                                </ng-template>
                            </p-column>
                            <p-column field="enrlmntid" header="Enrollment No" [style]="{'width': '100px', 'text-align': 'left','vertical-align':'top'}"></p-column>
                            <p-column field="rollno" header="Roll No" [style]="{'width': '80px', 'text-align': 'left','vertical-align':'top'}"></p-column>
                            <p-column field="studentname" header="Name" [style]="{'text-align': 'left','vertical-align':'top'}"></p-column>
                            <p-column field="classname" header="Standard" [style]="{'width': '80px', 'text-align': 'left','vertical-align':'top'}"></p-column>
                            <p-column field="mothername" header="Mother Name" [style]="{'width': '150px', 'text-align': 'left','vertical-align':'top'}"></p-column>
                            <p-column field="fathername" header="Father Name" [style]="{'width': '150px', 'text-align': 'left','vertical-align':'top'}"></p-column>
                            <p-column header="Mobile" [style]="{'width':'200px','text-align':'left','vertical-align':'top'}">
                                <ng-template let-row="rowData" pTemplate type="body">
                                    {{row.mobileno1}}<span *ngIf="row.mobileno2 !== ''">{{", " + row.mobileno2}}</span>
                                </ng-template>
                            </p-column>
                            <p-column header="Email" [style]="{'width':'250px','text-align':'left','vertical-align':'top'}">
                                <ng-template let-row="rowData" pTemplate type="body">
                                    {{row.email1}}<span *ngIf="row.email2 !== ''">{{", " + row.email2}}</span>
                                </ng-template>
                            </p-column>
                            <p-column field="mode" header="Status" [style]="{'width':'80px', 'text-align':'left','vertical-align':'top'}"></p-column>
                            <p-column [style]="{'width': '50px', 'align': 'left','vertical-align':'top'}">
                                <ng-template let-row="rowData" pTemplate type="body">
                                    <button type="button" class="btn btn-theme btn-xs" (click)="editAdmissionForm(row)">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bulkUploadModal" tabindex="-1" role="dialog">
    <div class="modal-dialog full-width" role="document">
        <div class="modal-lg modal-content">
            <div class="modal-header">
                <div class="row clearfix">
                    <div class="col-md-8 col-xs-8">
                        <h4>Student : Bulk Upload</h4>
                    </div>
                    <div class="col-md-4 col-xs-4 text-right">
                        <a role="button" (click)="closeBulkUploadPopup()">
                            <i class="material-icons">cancel</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-body" id="user">
                <div class="form-group">
                    <p-fileUpload mode="basic" name="fileUploaded" url="{{uploadfileconfig.server}}" chooseLabel="Excel Upload" (onBeforeUpload)="onBeforeUpload($event)" (onUpload)="onFileUpload($event)" accept="{{uploadfileconfig.acceptedFiles}}" maxFileSize="{{uploadfileconfig.maxFilesize}}"
                        auto="true"></p-fileUpload>

                    <div *ngIf="uploadFileDT.length">
                        <div *ngFor="let file of uploadFileDT" class="box">
                            {{file.athurl}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-header">
                <div class="row clearfix">
                    <div class="col-md-2">
                        <h4>View : Excel Format</h4>
                    </div>
                    <div class="col-md-1">
                        <a role="button" target="_blank" href="assets\file\tblstudent.xlsx">
                            <i class="material-icons">file_download</i> Download
                        </a>
                    </div>
                </div>
            </div>

            <div class="modal-body table-overflow">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>
                                first_name
                            </th>
                            <th>
                                middle_name
                            </th>
                            <th>
                                last_name
                            </th>
                            <th>
                                roll_no
                            </th>
                            <th>
                                class_name
                            </th>
                            <th>
                                board_name
                            </th>
                            <th>
                                gender
                            </th>
                            <th>
                                dob
                            </th>
                            <th>
                                birth_place
                            </th>
                            <th>
                                address
                            </th>
                            <th>
                                country
                            </th>
                            <th>
                                state
                            </th>
                            <th>
                                city
                            </th>
                            <th>
                                area
                            </th>
                            <th>
                                pin_code
                            </th>
                            <th>
                                father_name
                            </th>
                            <th>
                                father_mobile
                            </th>
                            <th>
                                father_email
                            </th>
                            <th>
                                mother_name
                            </th>
                            <th>
                                mother_mobile
                            </th>
                            <th>
                                mother_email
                            </th>
                            <th>
                                other_info
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Nimit
                            </td>
                            <td>
                                Nilesh
                            </td>
                            <td>
                                Shah
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                I (A)
                            </td>
                            <td>
                                State Board
                            </td>
                            <td>
                                M
                            </td>
                            <td>
                                01-08-2010
                            </td>
                            <td>
                                Mumbai
                            </td>
                            <td>
                                Sakinaka, Andheri (East)
                            </td>
                            <td>
                                India
                            </td>
                            <td>
                                Maharashtra
                            </td>
                            <td>
                                Mumbai
                            </td>
                            <td>
                                Andheri
                            </td>
                            <td>
                                421306
                            </td>
                            <td>
                                Nilesh Shah
                            </td>
                            <td>
                                9919883204
                            </td>
                            <td>
                                n.shah12@gmail.com
                            </td>
                            <td>
                                Deepa Shah
                            </td>
                            <td>
                                9919883204
                            </td>
                            <td>
                                deepa12@gmail.com
                            </td>
                            <td>
                                ABC
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>