<div class="card">
    <div class="header">
        <h4>Batch</h4>
        <ul class="header-dropdown m-r--5">
            <li *ngIf="batchid !== 0">
                <span class="switch">
                    <label class="control-label"><input type="checkbox" [(ngModel)]="isactive" (ngModelChange)="active_deactiveBatchInfo()"><span class="lever"></span></label>
                </span>
            </li>
            <li>
                <a role="button" class="btn btn-theme" (click)="saveBatchInfo()">
                    <i class="material-icons">save</i>
                </a>
            </li>
            <li>
                <a role="button" class="btn btn-theme" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i>
                </a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-6">
                <div class="row clearfix">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Batch Code <strong>*</strong></label>
                                <input type="text" [(ngModel)]="batchcode" class="form-control batchcode" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Batch Name <strong>*</strong></label>
                                <input type="text" [(ngModel)]="batchname" class="form-control batchname" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Remark</label>
                        <textarea [(ngModel)]="instruction" rows="4" class="form-control no-resize auto-growth"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <a role="button" class="btn btn-theme" title="Copy Across Row" (click)="copyAcrossRow()">
                <span class="material-icons pull-left">content_copy</span>
                <span class="pad-04 pull-left">Copy Across Row</span>
            </a>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Week</th>
                    <th>Pickup From Time</th>
                    <th>Pickup To Time</th>
                    <th>Drop From Time</th>
                    <th>Drop To Time</th>
                </tr>
            </thead>
            <tbody *ngFor="let wkrow of weekDT; let i = index">
                <tr>
                    <td>
                        <input id="{{wkrow.id}}" name="week{{i + 1}}" class="{{wkrow.name}}" type="checkbox" [(ngModel)]="wkrow.isopen" (ngModelChange)="selectWeekRow(wkrow)" />
                        <label for="{{wkrow.id}}"></label>
                    </td>
                    <td>
                        {{wkrow.name}}
                    </td>
                    <td>
                        <input type="time" [(ngModel)]="wkrow.pickfrmtm" class="form-control {{'pft' + wkrow.name}}" tabindex="{{i + 4}}" />
                    </td>
                    <td>
                        <input type="time" [(ngModel)]="wkrow.picktotm" class="form-control {{'ptt' + wkrow.name}}" tabindex="{{i + 5}}" />
                    </td>
                    <td>
                        <input type="time" [(ngModel)]="wkrow.dropfrmtm" class="form-control {{'dft' + wkrow.name}}" tabindex="{{i + 6}}" />
                    </td>
                    <td>
                        <input type="time" [(ngModel)]="wkrow.droptotm" class="form-control {{'dtt' + wkrow.name}}" tabindex="{{i + 7}}" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>