<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-8">
                <h4>Prospectus</h4>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Academic Year <strong>*</strong></label>
                        <select id="ayid" name="ayname" [(ngModel)]="ayid" (ngModelChange)="getProspectusDetails()" class="form-control ayname" tabindex="1">
                            <option [value]="0">Select Academic Year</option>
                            <option *ngFor="let row of ayDT" [value]="row.key">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2" align="right">
                <button type="button" class="btn btn-theme btn-xs" (click)="addProspectus()">
                    <i class="material-icons">add</i></button>
            </div>
        </div>

        <div class="body no-padding">
            <div class="row clearfix">
                <div class="col-md-12">
                    <p-dataTable [value]="prospectusDT">
                        <p-column field="title" header="Title" [style]="{'text-align':'left'}"></p-column>
                        <p-column field="frmno" header="From No" [style]="{'width':'150px','text-align':'right'}"></p-column>
                        <p-column field="tono" header="To No" [style]="{'width':'150px', 'text-align':'right'}"></p-column>
                        <p-column field="issued" header="Issued" [style]="{'width':'100px','text-align':'right'}"></p-column>
                        <p-column field="available" header="Available" [style]="{'width':'100px','text-align':'right'}"></p-column>
                        <p-column field="noofform" header="No. of Form" [style]="{'width':'150px','text-align':'left'}"></p-column>
                        <p-column header="Fees" [style]="{'width': '150px', 'align': 'left'}">
                            <ng-template let-row="rowData" pTemplate type="body">
                                {{row.fees | _currency:loginUser.globsettings[0]}}
                            </ng-template>
                        </p-column>
                        <p-column [style]="{'width': '50px', 'align': 'left'}">
                            <ng-template let-row="rowData" pTemplate type="body">
                                <button type="button" class="btn btn-theme btn-xs" (click)="editProspectus(row)">
                                    <i class="material-icons">edit</i>
                                </button>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
    </div>