<div class="card">
    <div class="header">
        <h4>Student Dashboard</h4>
    </div>

    <div class="body">
        <div class="container-fluid">
            <div class="row clearfix">
                <div *ngFor="let row of dashboardDT | groupBy: 'grpname'" class="col-md-3">
                    <div class="info-box bg-light-pink">
                        <div class="icon">
                            <img src="{{row.key.split('~')[1]}}" height="100px" width="100px">
                        </div>
                        <div class="content">
                            <div class="font-18">{{row.key.split('~')[0]}}</div>

                            <div *ngFor="let drow of row.value">
                                <div class="font-15">
                                    <a role="button" (click)="viewStudentProfile(drow)">
                                       {{drow.val}} ({{drow.countstud}})
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>