<div class="card">
    <div class="header">
        <h4>Driver</h4>

        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" title="Grid View" class="btn btn-theme" (click)="isshDriver('grid')">
                    <i class="material-icons">apps</i>
                </a>
            </li>
            <li>
                <a role="button" title="List View" class="btn btn-theme" (click)="isshDriver('list')">
                    <i class="material-icons">list</i>
                </a>
            </li>
            <li>
                <a role="button" title="Add New" class="btn btn-theme" (click)="addDriverForm()">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>

        <div class="row clearfix">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" [(ngModel)]="srcdrvname" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="body">
        <div *ngIf="isShowGrid">
            <div class="ui-g row clearfix" *ngIf="driverDT.length">
                <div class="col-md-4 p-b-10" *ngFor="let row of driverDT | filterBy: {'drivername': srcdrvname}">
                    <div class="grid-header">
                        <div class="row clearfix">
                            <div class="col-md-2 col-xs-2 text-left">
                                <span class="material-icons font-15 col-white" *ngIf="row.isowner">done</span>
                            </div>
                            <div class="col-md-8 col-xs-6 text-center">
                                {{row.drivername}}
                            </div>
                            <div class="col-md-2 col-xs-4 text-right">
                                <a role="button" (click)="editDriverForm(row)"><i class="material-icons font-15 col-white">edit</i></a>
                            </div>
                        </div>
                    </div>
                    <div [ngClass]="!row.isowner ? 'grid-body bg-transparent' : 'grid-body'">
                        <div class="row clearfix">
                            <div class="col-md-3 col-xs-3 border">
                                <a role="button" (click)="viewStudentDashboard(row)">
                                    <img alt="{{row.drivername}}" src="{{global.uploadurl + row.FilePath}}" onerror="this.src='assets/img/default-male.png';" class="img-xs">
                                </a>
                                {{row.statusnm}}
                            </div>
                            <div class="col-md-9 col-xs-9" align="left">
                                <div class="row clearfix">
                                    <div class="col-md-12" *ngIf="row.mobileno1 != ''">
                                        <span class="material-icons font-15">phone_iphone</span> {{row.mobileno1}}
                                        <span *ngIf="row.mobileno1 != '' && row.mobileno2 !== ''">, </span>{{row.mobileno2}}
                                    </div>
                                    <div class="col-md-12" *ngIf="row.email1 != '' && row.email1 != null">
                                        <span class="material-icons font-15 float-left">email</span>
                                        <span class="short-text font-15" title="{{row.email1}}">{{row.email1}}</span>
                                    </div>
                                    <div class="col-md-12" *ngIf="row.email2 != '' && row.email2 != null">
                                        <span class="material-icons font-15 float-left">email</span>
                                        <span class="short-text font-15" title="{{row.email2}}">{{row.email2}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" *ngIf="!row.isowner">
                            <div class="col-md-12">
                                <span class="font-bold">Owner : </span> {{row.ownenttname}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isShowList">
            <table class="table table-responsive">
                <thead>
                    <tr class="grid-header">
                        <th></th>
                        <th>Driver Name</th>
                        <th>Aadhar No</th>
                        <th>Address</th>
                        <th>Mobile</th>
                        <th>Status</th>
                        <th>Is Owner</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let row of driverDT | filterBy: {'drivername': srcdrvname}">
                    <tr [ngClass]="!row.isowner ? 'grid-body bg-transparent' : 'grid-body'">
                        <td width="60px" class="text-center">
                            <img alt="{{row.drivername}}" src="{{global.uploadurl + row.FilePath}}" onerror="this.src='assets/img/default-male.png';" height="40px" width="40px">
                        </td>
                        <td width="200px">
                            {{row.drivername}} <br />
                            <span *ngIf="!row.isowner"><b>Owner : </b>{{row.ownenttname}}</span>
                        </td>
                        <td width="150px">
                            {{row.aadharno}}
                        </td>
                        <td>
                            {{row.address}}
                        </td>
                        <td width="100px">
                            {{row.mobileno1}} <br />
                            <span *ngIf="row.mobileno2 != ''">{{row.mobileno2}}</span>
                        </td>
                        <td width="100px">
                            {{row.mode}}
                        </td>
                        <td width="80px">
                            <span class="material-icons" *ngIf="row.isowner">done</span>
                        </td>
                        <td width="50px">
                            <button type="button" class="btn btn-theme" (click)="editDriverForm(row)">
                                <i class="material-icons">edit</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>