<div class="card">
    <div class="header">
        <h4>Routes / Stops</h4>
        <ul class="header-dropdown m-r--5">
            <!--<li>
                <span class="switch">
                    <label class="control-label"><input type="checkbox" [(ngModel)]="isactive" (ngModelChange)="active_deactiveLocationInfo()"><span class="lever"></span></label>
                </span>
            </li>-->
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveStopsInfo()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Entity Name <strong>*</strong></label>
                        <p-autoComplete id="enttname" name="enttname" [(ngModel)]="enttname" [tabindex]="1" (onSelect)="selectEntityData($event)" [suggestions]="entityDT" (completeMethod)="getEntityData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete enttname"></p-autoComplete>
                        <span class="material-icons inputlinkico">
                            <a role="button" (click)="fillRoutesDropDown()" class="btn btn-theme btn-search">search</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Route Name <strong>*</strong></label>
                        <select [(ngModel)]="rtid" id="ddlRoutes" class="form-control rtid" tabindex="2" (ngModelChange)="getStopsByRoute()">
                            <option [value]="0">Select Route</option>
                            <option *ngFor="let row of routesDT" [value]="row.key">
                                {{row.value}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-theme btn-xs" (click)="openRoutesPopup()" *ngIf="rtid == 0">
                    <span class="material-icons">add</span>
                </button>
                <button type="button" class="btn btn-theme btn-xs" (click)="openRoutesPopup()" *ngIf="rtid !== 0">
                    <span class="material-icons">edit</span>
                </button>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-6 border">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Stops Name <strong>*</strong></label>
                                <input type="text" [(ngModel)]="stpname" class="form-control stpname" maxlength="50" tabindex="3" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" id="address">
                            <div class="form-line">
                                <label class="control-label">Address <strong>*</strong></label>
                                <textarea [(ngModel)]="address" placeholder="Enter Address and Press Tab Or Drag map marker to set location" rows="5" class="form-control no-resize auto-growth address" maxlength="500" tabindex="4" (keydown.tab)="getLatAndLong()"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Lat <strong>*</strong></label>
                                <input type="text" [(ngModel)]="lat" class="form-control lat" maxlength="50" tabindex="5" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Long <strong>*</strong></label>
                                <input type="text" [(ngModel)]="long" class="form-control long" maxlength="50" tabindex="6" />
                            </div>
                        </div>
                        <div *ngIf="!isedit">
                            <div class="form-group" align="right">
                                <button type="button" class="btn btn-theme btn-xs" (click)="addStopsList()">
                                        <span class="material-icons">add</span>
                                    </button>
                            </div>
                        </div>
                        <div *ngIf="isedit">
                            <div class="form-group" align="right">
                                <button type="button" class="btn btn-theme btn-xs" (click)="updateStopsList()"> 
                                    <span class="material-icons">done</span>
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" (click)="resetStopsFields()">
                                    <span class="material-icons">cancel</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <p-gmap #gmap [style]="{'width':'100%','height':'250px'}" (onMapClick)="handleMapClick($event)" (onOverlayDragEnd)="ovrldrag($event)" [options]="options" [overlays]="overlays"></p-gmap>
            </div>
        </div>

        <div class="row clearfix" *ngIf="stopsList.length">
            <div class="col-md-12">
                <p-orderList [value]="stopsList | filterBy:{'isactive':true}" [listStyle]="{'height':'auto'}" [responsive]="true" header="Stops">
                    <template let-stops pTemplate="editor">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="ui-helper-clearfix">
                                    {{stops.stpname}}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="ui-helper-clearfix">
                                    {{stops.address}}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ui-helper-clearfix">
                                    {{stops.lat + ", " + stops.long}}
                                </div>
                            </div>
                            <div class="col-md-1" align="right">
                                <div class="ui-helper-clearfix">
                                    <button type="button" class="btn btn-theme btn-xs" (click)="editStopsList(stops)">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-1" align="right">
                                <div class="ui-helper-clearfix">
                                    <button type="button" class="btn btn-danger btn-xs" (click)="deleteStopsList(stops)">
                                    <i class="material-icons">delete</i>
                                </button>
                                </div>
                            </div>
                        </div>
                    </template>
                </p-orderList>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addRoutesModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Create Routes</h4>
            </div>
            <div class="modal-body" id="reason">
                <label class="control-label">Routes Name <strong>*</strong></label>
                <input type="text" [(ngModel)]="rtname" class="form-control rtname" maxlength="100" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-theme" (click)="saveRoutesInfo()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>