<div class="card">
    <div class="header">
        <h4>View Announcement</h4>

        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="addAnnouncement()">
                    <i class="material-icons">add</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-12">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th width="250px">Announcement Date</th>
                            <th>Title</th>
                            <th width="200px">Group</th>
                            <th width="250px">Created Date</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!announcementDT.length">
                        <tr>
                            <td colspan="4">
                                <h5>No Data Found....</h5>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngFor="let anncrow of announcementDT">
                        <tr class="tr-table">
                            <th>
                                {{anncrow.anncdate}}
                            </th>
                            <th>
                                {{anncrow.title}}
                            </th>
                            <th>
                                {{anncrow.grpname}}
                            </th>
                            <th>
                                {{anncrow.createddate}}
                            </th>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <label class="control-label">Standard :</label> {{anncrow.standard}}
                                <hr class="m-05 no-line" />

                                <label class="control-label">Message :</label> {{anncrow.desc}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>