<div class="table-responsive">
	<p-dataTable #dt [value]="viewUserDT" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadURGrid($event)"
		expandableRows="true">
		<p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"></p-column>
		<p-column field="ucode" header="Emp Code" [style]="{'width':'100px','text-align':'left'}"></p-column>
		<p-column field="fullname" header="Full Name" [style]="{'text-align':'left'}"></p-column>
		<template let-row>
			<div class="col-md-3" *ngFor="let drow of row.userrights">
				<div class="panel panel-theme">
					<div class="panel-body">
						<b>{{drow.smname}} :</b>
						<br /> {{drow.rights}}
					</div>
				</div>
			</div>
		</template>
	</p-dataTable>
</div>