<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-3 col-xs-3">
                <h4>View Notification</h4>
            </div>
            <div class="col-md-9 col-xs-9" style="text-align: right;">
                <button type="button" class="btn btn-theme btn-xs" (click)="addNotification()">
                    <i class="material-icons">add</i></button>
            </div>
        </div>
    </div>

    <div class="body no-padding">
        <div class="row clearfix">
            <div class="col-md-12">
                <p-dataTable [value]="notificationDT" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30,40]">
                    <p-column field="title" header="Title" [style]="{'width':'200px','text-align':'left'}"></p-column>
                    <p-column field="msg" header="Message" [style]="{'text-align':'left'}"></p-column>
                    <p-column field="grpname" header="Group" [style]="{'width':'150px','text-align':'left'}"></p-column>
                    <p-column field="standard" header="Standard" [style]="{'width':'200px','text-align':'left'}"></p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>