<div class="card">
    <div class="header">
        <h4>Admission</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveAdmissionInfo()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_forward</i></a>
            </li>
        </ul>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-6">
        <div class="card">
            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-12">
                        Student’s Name (In Block Letters)
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">First Name <strong>*</strong></label>
                                <input type="text" name="fname" [(ngModel)]="fname" maxlength="50" class="form-control fname" tabindex="1" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Middle Name <strong>*</strong></label>
                                <input type="text" name="mname" [(ngModel)]="mname" maxlength="50" class="form-control mname" tabindex="2" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Last Name <strong>*</strong></label>
                                <input type="text" name="lname" [(ngModel)]="lname" maxlength="50" class="form-control lname" tabindex="3" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Academic Year</label>
                                <select id="ayid" name="ayname" [(ngModel)]="ayid" class="form-control ayname" tabindex="4">
                                    <option [value]="0">Select Academic Year</option>
                                    <option *ngFor="let row of ayDT" [value]="row.key">	
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Class <strong>*</strong></label>
                                <select id="classid" name="classname" [(ngModel)]="classid" class="form-control class" tabindex="5">
                                    <option [value]="0">Select Class</option>
                                    <option *ngFor="let row of classDT" [value]="row.key">	
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Gender <strong>*</strong></label>
                                <select id="gender" name="gender" [(ngModel)]="gender" class="form-control gender" tabindex="6">
                                    <option [value]="''">Select Gender</option>
                                    <option *ngFor="let row of genderDT" [value]="row.key">	
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Date Of Birth</label>
                                <input type="date" name="dob" [(ngModel)]="dob" maxlength="50" class="form-control dob" tabindex="7" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Birth Place</label>
                                <input type="text" name="birthplace" [(ngModel)]="birthplace" maxlength="50" class="form-control dob" tabindex="8" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Other Info</label>
                                <textarea name="otherinfo" [(ngModel)]="otherinfo" rows="5" class="form-control no-resize auto-growth" tabindex="9"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Remark</label>
                                <textarea name="remark1" [(ngModel)]="remark1" rows="5" class="form-control no-resize auto-growth" tabindex="10"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="body">
                <div class="form-group">
                    <div class="row clearfix">
                        <div class="col-md-8">
                            <p-fileUpload mode="basic" name="fileUploaded" url="{{uploadphotoconfig.server + '?width=150'}}" chooseLabel="{{chooseLabel}}" (onUpload)="onPhotoUpload($event)" accept="{{uploadphotoconfig.acceptedFiles}}" maxFileSize="{{uploadphotoconfig.maxFilesize}}"
                                auto="true"></p-fileUpload>
                        </div>
                        <div class="col-md-4">
                            <div *ngIf="uploadPhotoDT.length">
                                <div *ngFor="let file of uploadPhotoDT">
                                    <div class="row clearfix">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-danger btn-xs" (click)="removePhotoUpload()">
                                                <i class="material-icons">delete</i></button>
                                        </div>
                                        <div class="col-md-6" align="right">
                                            <img src="{{uploadphotoconfig.uploadurl + file.athurl}}" onerror="this.src='assets/img/default.gif';" height="60px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!uploadPhotoDT.length" align="right">
                                <img src="assets/img/default.gif" height="60px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="body">
                <div class="form-group">
                    <div class="row clearfix">
                        <div class="col-md-8">
                            <p-fileUpload mode="basic" name="fileUploaded" url="{{uploaddobconfig.server}}" chooseLabel="{{chooseDOBLabel}}" (onUpload)="onDOBUpload($event)" accept="{{uploaddobconfig.acceptedFiles}}" maxFileSize="{{uploaddobconfig.maxFilesize}}" auto="true"></p-fileUpload>
                        </div>
                        <div class="col-md-4">
                            <div *ngIf="uploadDOBCertificate.length">
                                <div *ngFor="let file of uploadDOBCertificate">
                                    <div class="row clearfix">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-danger btn-xs" (click)="removeDOBUpload()">
                                                <i class="material-icons">delete</i></button>
                                        </div>
                                        <div class="col-md-6" align="right">
                                            <img src="{{uploaddobconfig.uploadurl + file.athurl}}" onerror="this.src='assets/img/birthcrtfct.gif';" height="60px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!uploadDOBCertificate.length" align="right">
                                <img src="assets/img/birthcrtfct.gif" height="60px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="body">
                <div class="form-group">
                    <div class="row clearfix">
                        <div class="col-md-8">
                            <p-fileUpload mode="basic" name="fileUploaded" url="{{uploadaddrconfig.server}}" chooseLabel="{{chooseAddrLabel}}" (onUpload)="onAddressUpload($event)" accept="{{uploaddobconfig.acceptedFiles}}" maxFileSize="{{uploaddobconfig.maxFilesize}}" auto="true"></p-fileUpload>
                        </div>
                        <div class="col-md-4">
                            <div *ngIf="uploadAddrProof.length">
                                <div *ngFor="let file of uploadAddrProof">
                                    <div class="row clearfix">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-danger btn-xs" (click)="removeAddressUpload()">
                                                <i class="material-icons">delete</i></button>
                                        </div>
                                        <div class="col-md-6" align="right">
                                            <img src="{{uploadaddrconfig.uploadurl + file.athurl}}" onerror="this.src='assets/img/addrproof.gif';" height="60px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!uploadAddrProof.length" align="right">
                                <img src="assets/img/addrproof.gif" height="60px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4>Contact Information</h4>
            </div>

            <div class="body">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Address <strong>*</strong></label>
                        <textarea name="address" [(ngModel)]="address" rows="4" class="form-control no-resize auto-growth address" tabindex="11"></textarea>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Country <strong>*</strong></label>
                                <input type="text" [(ngModel)]="country" class="form-control country" maxlength="20" tabindex="12" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">State <strong>*</strong></label>
                                <select id="state" [(ngModel)]="state" class="form-control state" (ngModelChange)="fillCityDropDown()" tabindex="13">
                                    <option [value]="0">Select State</option>
                                    <option *ngFor="let row of stateDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">City <strong>*</strong></label>
                                <select id="area" [(ngModel)]="city" class="form-control city" (ngModelChange)="fillAreaDropDown()" tabindex="14">
                                    <option [value]="0">Select City</option>
                                    <option *ngFor="let row of cityDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Area <strong>*</strong></label>
                                <select id="city" [(ngModel)]="area" class="form-control area" tabindex="15">
                                    <option [value]="0">Select Area</option>
                                    <option *ngFor="let row of areaDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Pin Code</label>
                                <input type="text" [(ngModel)]="pincode" class="form-control" maxlength="20" tabindex="16" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4>Parent Information</h4>
            </div>

            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <b>Father</b>
                    </div>
                    <div class="col-md-6">
                        <b>Mother</b>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Full Name <strong>*</strong></label>
                                <input type="text" name="fthrname" [(ngModel)]="fthrname" class="form-control" tabindex="17" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Mobile No <strong>*</strong></label>
                                <input type="text" name="fthrmobile" [(ngModel)]="fthrmobile" maxlength="10" class="form-control fthrmobile" (keydown.tab)="getParentAndSibling(fthrmobile)" (keydown.enter)="getParentAndSibling(fthrmobile)" tabindex="18">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Email <strong>*</strong></label>
                                <input type="text" name="fthremail" [(ngModel)]="fthremail" class="form-control fthremail" tabindex="19">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">School <strong>*</strong></label>
                                <select id="fthrschid" name="fthrschname" [(ngModel)]="fthrschid" class="form-control fthrschname" tabindex="20">
                                    <option [value]="0">Other</option>
                                    <option [value]="_enttdetails.enttid">{{_enttdetails.enttname}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="fthrschid == 0">
                            <div class="form-line">
                                <label class="control-label">School Name <strong>*</strong></label>
                                <input type="text" [(ngModel)]="fthrothschname" class="form-control fthrothschname" maxlength="100" tabindex="21" />
                            </div>
                        </div>
                        <div class="form-group" *ngIf="fthrschid != 0">
                            <div class="form-line">
                                <label class="control-label">Enrollment ID <strong>*</strong></label>
                                <input type="text" OnlyNumber="true" [(ngModel)]="fthrenrlmntid" class="form-control fthrenrlmntid" maxlength="20" tabindex="22" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Qualification <strong>*</strong></label>
                                <select id="fthrqlfid" name="fthrqlftitle" [(ngModel)]="fthrqlfid" class="form-control fthrqlftitle" tabindex="23">
                                    <option value="0">-- Select Qualification --</option>
                                    <optgroup *ngFor="let row of qualificationDT | groupBy: 'qlfgrpname'" label="{{row.key}}">
                                        <option *ngFor="let drow of row.value" [value]="drow.qlfid">
                                            {{drow.qlftitle}}
                                        </option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Occupation <strong>*</strong></label>
                                <select id="fthrocptn" name="fthrocptn" [(ngModel)]="fthrocptn" class="form-control fthrocptn" tabindex="24">
                                    <option [value]="''">-- Select Occupation --</option>
                                    <option *ngFor="let row of fthrocptnDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Salary <strong>*</strong></label>
                                <input type="text" OnlyNumber="true" [(ngModel)]="fthrsalary" class="form-control fthrsalary" maxlength="20" tabindex="25" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Name <strong>*</strong></label>
                                <input type="text" name="mthrname" [(ngModel)]="mthrname" class="form-control" tabindex="26" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Mobile No</label>
                                <input type="text" name="mthrmobile" [(ngModel)]="mthrmobile" maxlength="10" class="form-control mthrmobile" (keydown.tab)="getParentAndSibling(mthrmobile)" (keydown.enter)="getParentAndSibling(mthrmobile)" tabindex="27">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Email</label>
                                <input type="text" name="mthremail" [(ngModel)]="mthremail" class="form-control mthremail" tabindex="28">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">School <strong>*</strong></label>
                                <select id="mthrschid" name="mthrschname" [(ngModel)]="mthrschid" class="form-control mthrschname" tabindex="29">
                                    <option [value]="_enttdetails.enttid">{{_enttdetails.enttname}}</option>
                                    <option [value]="0">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="mthrschid == 0">
                            <div class="form-line">
                                <label class="control-label">School Name <strong>*</strong></label>
                                <input type="text" [(ngModel)]="mthrothschname" class="form-control mthrothschname" maxlength="100" tabindex="30" />
                            </div>
                        </div>
                        <div class="form-group" *ngIf="mthrschid != 0">
                            <div class="form-line">
                                <label class="control-label">Enrollment ID <strong>*</strong></label>
                                <input type="text" OnlyNumber="true" [(ngModel)]="mthrenrlmntid" class="form-control mthrenrlmntid" maxlength="50" tabindex="31" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Qualification <strong>*</strong></label>
                                <select id="mthrqlfid" name="mthrqlftitle" [(ngModel)]="mthrqlfid" class="form-control mthrqlftitle" tabindex="32">
                                    <option value="0">-- Select Qualification --</option>
                                    <optgroup *ngFor="let row of qualificationDT | groupBy: 'qlfgrpname'" label="{{row.key}}">
                                        <option *ngFor="let drow of row.value" [value]="drow.qlfid">	
                                            {{drow.qlftitle}}
                                        </option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Occupation <strong>*</strong></label>
                                <select id="mthrocptn" name="mthrocptn" [(ngModel)]="mthrocptn" class="form-control mthrocptn" tabindex="33">
                                    <option [value]="''">-- Select Occupation --</option>
                                    <option *ngFor="let row of mthrocptnDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="mthrocptn != 'housewife'">
                            <div class="form-line">
                                <label class="control-label">Salary <strong>*</strong></label>
                                <input type="text" OnlyNumber="true" [(ngModel)]="mthrsalary" class="form-control mthrsalary" maxlength="20" tabindex="34" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="header">
        <h4>Sibling Information</h4>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="150px">
                                Relation
                            </th>
                            <th width="250px">
                                Full Name
                            </th>
                            <th width="100px">
                                Age
                            </th>
                            <th width="150px">
                                Class
                            </th>
                            <th width="250px">
                                School
                            </th>
                            <th>
                                School Name / Enrollment ID
                            </th>
                            <th width="70px">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <div class="form-line">
                                        <select id="sibrelation" [(ngModel)]="sibrelation" class="form-control sibrelation" tabindex="35">
                                            <option [value]="''">Select Relation</option>
                                            <option [value]="'brother'">Brother</option>
                                            <option [value]="'sister'">Sister</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" [(ngModel)]="sibfullname" class="form-control sibfullname" maxlength="20" tabindex="36" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" OnlyNumber="true" [(ngModel)]="sibage" class="form-control sibage" maxlength="20" tabindex="37" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="form-line">
                                        <select id="sibclassid" name="sibclassname" [(ngModel)]="sibclassid" class="form-control sibclassname" tabindex="38">
                                            <option [value]="0">Select Class</option>
                                            <option *ngFor="let row of classDT" [value]="row.key">	
                                                {{row.val}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="form-line">
                                        <select id="sibschid" name="sibschname" [(ngModel)]="sibschid" class="form-control sibschname" tabindex="39">
                                            <option [value]="0">Other</option>
                                            <option [value]="_enttdetails.enttid">{{_enttdetails.enttname}}</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" *ngIf="sibschid == 0">
                                    <div class="form-line">
                                        <input type="text" [(ngModel)]="sibothschname" class="form-control sibothschname" maxlength="20" tabindex="40" />
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="sibschid != 0">
                                    <div class="form-line">
                                        <input type="text" OnlyNumber="true" [(ngModel)]="sibenrlmntid" class="form-control sibenrlmntid" maxlength="20" tabindex="41" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" *ngIf="!iseditsibling">
                                    <button type="button" (click)="addSibling()" class="btn btn-theme btn-xs btn-xs-sm">
                                        <i class="material-icons">add</i></button>
                                </div>
                                <div class="form-group" *ngIf="iseditsibling">
                                    <button type="button" (click)="updateSibling()" class="btn btn-theme btn-xs btn-xs-sm">
                                        <i class="material-icons">done</i>
                                    </button>
                                    <button type="button" (click)="resetSibling()" class="btn btn-danger btn-xs btn-xs-sm">
                                        <i class="material-icons">cancel</i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor="let row of siblingDT | filterBy: {'isactive': true}">
                            <td>
                                {{row.relname}}
                            </td>
                            <td>
                                {{row.fullname}}
                            </td>
                            <td>
                                {{row.age}}
                            </td>
                            <td>
                                {{row.classname}}
                            </td>
                            <td>
                                {{row.schname}}
                            </td>
                            <td>
                                <span *ngIf="row.schid != 0">{{row.enrlmntid}}</span>
                                <span *ngIf="row.schid == 0">{{row.othschname}}</span>
                            </td>
                            <td>
                                <div class="form-group">
                                    <button type="button" (click)="editSibling(row)" class="btn btn-theme btn-xs btn-xs-sm">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button type="button" (click)="deleteSibling(row)" class="btn btn-danger btn-xs btn-xs-sm">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>