<div class="card">
    <div class="header">
        <h4>Admission</h4>
        <ul class="header-dropdown m-r--5">
            <li *ngIf="paramsid != 0 && isdeletestuds == true">
                <a role="button" class="btn btn-danger" (click)="deleteStudents()">
                    <i class="material-icons">delete</i>
                </a>
            </li>
            <li *ngIf="isaddstuds == true && iseditstuds == true">
                <a role="button" class="btn btn-theme" (click)="saveAdmissionInfo()">
                    <i class="material-icons">save</i>
                </a>
            </li>
            <li>
                <a role="button" class="btn btn-theme" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-md-6 col-xs-6">
                        <h4>Admission Details</h4>

                        <div class="form-group prospectus">
                            <input id="isprspct" name="isprspct" [(ngModel)]="isprspct" type="checkbox" (change)="isWithProspectus()" class="filled-in">
                            <label for="isprspct">With Prospectus</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6 text-center">
                        <span class="hide" *ngIf="enrlmntid != 0"><b>Enrollment No : </b> {{enrlmntid}}</span>

                        <div class="form-group">
                            <div *ngIf="uploadPhotoDT.length">
                                <div *ngFor="let file of uploadPhotoDT">
                                    <div class="row clearfix">
                                        <div class="col-md-6">
                                            <img *ngIf="gndrkey == 'M'" src="{{uploadphotoconfig.uploadurl + file.athurl}}" onerror="this.src='assets/img/default-male.png';" height="60px" width="60px">
                                            <img *ngIf="gndrkey == 'F'" src="{{uploadphotoconfig.uploadurl + file.athurl}}" onerror="this.src='assets/img/default-female.png';" height="60px" width="60px">
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <button type="button" class="btn btn-danger" (click)="removePhotoUpload()">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center" *ngIf="!uploadPhotoDT.length">
                                <img *ngIf="gndrkey == 'M'" src="assets/img/default-male.png" height="60px" width="60px" />
                                <img *ngIf="gndrkey == 'F'" src="assets/img/default-female.png" height="60px" width="60px" />
                            </div>

                            <div class="profile-photo">
                                <strong>Allowed only below 150 KB File</strong> <br />
                                <p-fileUpload mode="basic" name="fileUploaded" url="{{uploadphotoconfig.server+ '?width=150'}}" chooseLabel="{{chooseLabel}}" (onUpload)="onPhotoUpload($event)" accept="{{uploadphotoconfig.acceptedFiles}}" maxFileSize="{{uploadphotoconfig.maxFilesize}}"
                                    auto="true"></p-fileUpload>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Academic Year <strong>*</strong></label>
                                <select id="ayid" name="ayname" [(ngModel)]="ayid" class="form-control ayname" tabindex="1" [disabled]="paramsid !== 0">
                                    <option [value]="0">Select Academic Year</option>
                                    <option *ngFor="let row of ayDT" [value]="row.key">	
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Admission Date <strong>*</strong></label>
                                <input type="date" name="admdate" [(ngModel)]="admdate" maxlength="50" class="form-control admdate" tabindex="2" [disabled]="paramsid !== 0" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Admission Category</label>
                                <select id="admcatid" name="admcatname" [(ngModel)]="admcatid" class="form-control admcatname" tabindex="3" [disabled]="paramsid !== 0">
                                    <option [value]="''">Select Admission Category</option>
                                    <option *ngFor="let row of admissionCategoryDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Prospectus</label>
                                <select id="prspctid" name="prspctname" [(ngModel)]="prspctid" (ngModelChange)="getFormNo();getStudentDetails();" class="form-control prspctname" tabindex="4" disabled>
                                    <option [value]="0">Select Prospectus</option>
                                    <option *ngFor="let row of prospectusDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Admission Form No</label>
                                <select id="prspctno" name="prspctno" [(ngModel)]="prspctno" (ngModelChange)="getStudentDetails()" class="form-control prspctno" tabindex="5" disabled>
                                    <option [value]="0">Select Form No</option>
                                    <option *ngFor="let row of prspctnoDT" [value]="row.formno">
                                        {{row.formno}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Board <strong>*</strong></label>
                                <select id="boardid" name="boardname" [(ngModel)]="boardid" class="form-control boardname" tabindex="6">
                                    <option [value]="0">Select Board</option>
                                    <option *ngFor="let row of boardDT" [value]="row.key">	
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Child User ID <strong>*</strong></label>
                                <input type="text" name="cuid" OnlyNumber="true" [(ngModel)]="cuid" maxlength="50" class="form-control cuid text-right" tabindex="7" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">GR. No. <strong>*</strong></label>
                                <input type="text" name="grno" OnlyNumber="true" [(ngModel)]="grno" maxlength="50" class="form-control grno text-right" tabindex="8" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-9">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Provisional / Original</label><br />
                                <input id="isprvsnl" name="isprvsnl" [(ngModel)]="isprvsnl" type="checkbox" class="filled-in">
                                <label for="isprvsnl">Is Provisional</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Class <strong>*</strong></label>
                                <select id="classid" name="classname" [(ngModel)]="classid" class="form-control class" tabindex="9" [disabled]="paramsid !== 0">
                                    <option [value]="0">Select Class</option>
                                    <option *ngFor="let row of classDT" [value]="row.key">	
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Roll No <strong>*</strong></label>
                                <input type="text" OnlyNumber="true" name="rollno" [(ngModel)]="rollno" maxlength="50" class="form-control rollno text-right" tabindex="10" [disabled]="paramsid !== 0" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Status</label>
                                <select id="status" name="status" [(ngModel)]="status" class="form-control class" tabindex="9">
                                    <option [value]="'active'">Active</option>
                                    <option [value]="'inactive'">InActive</option>
                                    <option [value]="'left'">Left</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix" *ngIf="status == 'left'">
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Left Date <strong>*</strong></label>
                                <input type="date" name="leftdate" [(ngModel)]="leftdate" maxlength="50" class="form-control leftdate" tabindex="10" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Left Class <strong>*</strong></label>
                                <select id="leftclassid" name="leftclassname" [(ngModel)]="leftclassid" class="form-control leftclass" tabindex="9">
                                    <option [value]="0">Select Left Class</option>
                                    <option *ngFor="let row of classDT" [value]="row.key">	
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-8">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Left Reason <strong>*</strong></label>
                                <textarea name="leftreason" [(ngModel)]="leftreason" rows="6" class="form-control no-resize auto-growth leftreason" tabindex="11"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">First Name <strong>*</strong></label>
                                <input type="text" name="fname" [(ngModel)]="fname" maxlength="50" class="form-control fname" tabindex="11" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Middle Name</label>
                                <input type="text" name="mname" [(ngModel)]="mname" maxlength="50" class="form-control mname" tabindex="12" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Last Name <strong>*</strong></label>
                                <input type="text" name="lname" [(ngModel)]="lname" maxlength="50" class="form-control lname" tabindex="13" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4>Personal Information</h4>
            </div>

            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Date Of Birth <strong>*</strong></label>
                                <input type="date" name="dob" [(ngModel)]="dob" maxlength="50" class="form-control dob" (change)="formatDateToWord(dob)" tabindex="14" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-8">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Birth Date in Words</label>
                                <input type="text" name="dob" [(ngModel)]="dobword" maxlength="50" disabled class="form-control" tabindex="15" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Birth Place</label>
                                <input type="text" name="birthplace" [(ngModel)]="birthplace" maxlength="50" class="form-control dob" tabindex="16" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Aadhar No <strong>*</strong></label>
                                <input type="text" OnlyNumber="true" name="aadharno" [(ngModel)]="aadharno" maxlength="12" class="form-control aadharno text-right" tabindex="17" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Gender</label>
                                <select id="gender" name="gender" [(ngModel)]="gndrkey" class="form-control gender" tabindex="18">
                                    <option *ngFor="let row of genderDT" [value]="row.key">	
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Family Cast</label>
                                <input type="text" name="familycast" [(ngModel)]="familycast" maxlength="50" class="form-control familycast" tabindex="19" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Cast Category</label>
                                <select id="castcatid" name="castcatname" [(ngModel)]="castcatid" class="form-control castcatname" tabindex="20">
                                    <option [value]="''">Select Cast Category</option>
                                    <option *ngFor="let row of castCategoryDT" [value]="row.key">	
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Blood Group</label>
                                <select id="bldgrpid" name="bldgrpname" [(ngModel)]="bldgrpid" class="form-control bldgrpname" tabindex="21">
                                    <option [value]="''">Select Blood Group</option>
                                    <option *ngFor="let row of bloodGroupDT" [value]="row.key">	
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Nationality</label>
                                <input type="text" name="nationality" [(ngModel)]="nationality" maxlength="50" class="form-control nationality" tabindex="22" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Religion</label>
                                <select id="relgnid" name="relgnname" [(ngModel)]="relgnid" class="form-control religion" tabindex="23">
                                    <option [value]="''">Select Religion</option>
                                    <option *ngFor="let row of religionDT" [value]="row.key">	
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Mother Tongue</label>
                                <input type="text" name="mthrtng" [(ngModel)]="mthrtng" maxlength="50" class="form-control nationality" tabindex="24" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Other Info</label>
                        <textarea name="otherinfo" [(ngModel)]="otherinfo" rows="6" class="form-control no-resize auto-growth" tabindex="25"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4>Contact Information</h4>
            </div>

            <div class="body">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Address <strong>*</strong></label>
                        <textarea name="address" [(ngModel)]="address" rows="4" class="form-control no-resize auto-growth address" tabindex="27"></textarea>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Country <strong>*</strong></label>
                                <input type="text" [(ngModel)]="country" class="form-control country" maxlength="20" tabindex="28" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">State <strong>*</strong></label>
                                <select id="state" [(ngModel)]="state" class="form-control state" (ngModelChange)="fillCityDropDown()" tabindex="29">
                                    <option [value]="0">Select State</option>
                                    <option *ngFor="let row of stateDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">City <strong>*</strong></label>
                                <select id="area" [(ngModel)]="city" class="form-control city" (ngModelChange)="fillAreaDropDown()" tabindex="30">
                                    <option [value]="0">Select City</option>
                                    <option *ngFor="let row of cityDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Area <strong>*</strong></label>
                                <select id="city" [(ngModel)]="area" class="form-control area" tabindex="31">
                                    <option [value]="0">Select Area</option>
                                    <option *ngFor="let row of areaDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Pin Code</label>
                                <input type="text" [(ngModel)]="pincode" class="form-control" maxlength="20" tabindex="32" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="header">
                <h4>Upload Other Document</h4>
            </div>

            <div class="body">
                <div class="form-group">
                    <div class="row clearfix">
                        <div class="col-md-8 col-xs-8">
                            <div class="profile-dob">
                                <strong>Allowed only below 150 KB File</strong> <br />
                                <p-fileUpload mode="basic" name="fileUploaded" url="{{uploaddobconfig.server + '?width=150'}}" chooseLabel="{{chooseDOBLabel}}" (onUpload)="onDOBUpload($event)" accept="{{uploaddobconfig.acceptedFiles}}" maxFileSize="{{uploaddobconfig.maxFilesize}}" auto="true"></p-fileUpload>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <div *ngIf="birthcrtfctDT.length">
                                <div *ngFor="let file of birthcrtfctDT">
                                    <div class="row clearfix">
                                        <div class="col-md-6 col-xs-6">
                                            <button type="button" class="btn btn-danger" (click)="removeDOBUpload()">
                                                <i class="material-icons">delete</i></button>
                                        </div>
                                        <div class="col-md-6 col-xs-6" align="right">
                                            <img src="{{uploaddobconfig.uploadurl + file.athurl}}" onerror="this.src='assets/img/birthcrtfct.gif';" height="60px" width="60px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!birthcrtfctDT.length" align="right">
                                <img src="assets/img/birthcrtfct.gif" height="60px" width="60px" />
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <div class="row clearfix">
                        <div class="col-md-8 col-xs-8">
                            <div class="profile-addr">
                                <strong>Allowed only below 150 KB File</strong> <br />
                                <p-fileUpload mode="basic" name="fileUploaded" url="{{uploadaddrconfig.server + '?width=150'}}" chooseLabel="{{chooseAddrLabel}}" (onUpload)="onAddressUpload($event)" accept="{{uploaddobconfig.acceptedFiles}}" maxFileSize="{{uploaddobconfig.maxFilesize}}"
                                    auto="true"></p-fileUpload>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <div *ngIf="addrproofDT.length">
                                <div *ngFor="let file of addrproofDT">
                                    <div class="row clearfix">
                                        <div class="col-md-6 col-xs-6">
                                            <button type="button" class="btn btn-danger" (click)="removeAddressUpload()">
                                                <i class="material-icons">delete</i></button>
                                        </div>
                                        <div class="col-md-6 col-xs-6" align="right">
                                            <img src="{{uploadaddrconfig.uploadurl + file.athurl}}" onerror="this.src='assets/img/addrproof.gif';" height="60px" width="60px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!addrproofDT.length" align="right">
                                <img src="assets/img/addrproof.gif" height="60px" width="60px" />
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Document Type</th>
                                <th>Upload Document</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select id="doctype" name="doctype" [(ngModel)]="doctypeid" class="form-control doctype" tabindex="26">
                                                <option [value]="0">Select Document Type</option>
                                                <option *ngFor="let row of docTypeDT" [value]="row.id">	
                                                    {{row.val}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <strong>Allowed only below 150 KB File</strong> <br />
                                    <p-fileUpload mode="basic" name="fileUploaded" url="{{uploaddocconfig.server + '?width=150'}}" chooseLabel="Upload Other Document" (onUpload)="onDocumentUpload($event)" accept="{{uploaddocconfig.acceptedFiles}}" maxFileSize="{{uploaddocconfig.maxFilesize}}"
                                        auto="true"></p-fileUpload>

                                    {{docfilename}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-theme" (click)="addDocumentFile()">
                                        <span class="material-icons">add</span>
                                    </button>
                                </td>
                            </tr>
                            <tr *ngFor="let row of documentDT">
                                <td>
                                    {{row.doctypename}}
                                </td>
                                <td>
                                    <img src="{{uploaddocconfig.uploadurl + row.docfilename}}" onerror="this.src='assets/img/noimage.gif';" height="60px" width="60px">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" (click)="removeDocumentFile()">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4>Parent Information</h4>
            </div>

            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <b>Father</b>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label class="control-label">Mobile No <strong>*</strong></label>
                                        <input type="text" OnlyNumber="true" name="fthrmobile" [(ngModel)]="fthrmobile" maxlength="10" class="form-control fthrmobile" (blur)="getParentAndSibling(fthrmobile, 'father')" tabindex="33">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <label class="control-label">Full Name <strong>*</strong></label>
                                        <input type="text" name="fthrname" [(ngModel)]="fthrname" class="form-control" tabindex="35" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <label class="control-label">Email <strong>*</strong></label>
                                        <input type="text" name="fthremail" [(ngModel)]="fthremail" class="form-control fthremail" tabindex="36">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <label class="control-label">School</label>
                                        <select id="fthrschid" name="fthrschname" [(ngModel)]="fthrschid" class="form-control fthrschname" tabindex="37">
                                            <option [value]="0">Other</option>
                                            <option [value]="_enttdetails.enttid">{{_enttdetails.enttname}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="fthrschid == 0">
                                    <div class="form-line">
                                        <label class="control-label">School Name</label>
                                        <input type="text" [(ngModel)]="fthrothschname" class="form-control fthrothschname" maxlength="100" tabindex="38" />
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="fthrschid != 0">
                                    <div class="form-line">
                                        <label class="control-label">Enrollment No</label>
                                        <input type="text" OnlyNumber="true" [(ngModel)]="fthrenrlmntid" class="form-control fthrenrlmntid" maxlength="20" tabindex="39" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <label class="control-label">Qualification</label>
                                        <select id="fthrqlfid" name="fthrqlftitle" [(ngModel)]="fthrqlfid" class="form-control fthrqlftitle" tabindex="40">
                                            <option value="0">-- Select Qualification --</option>
                                            <optgroup *ngFor="let row of qualificationDT | groupBy: 'qlfgrpname'" label="{{row.key}}">
                                                <option *ngFor="let drow of row.value" [value]="drow.qlfid">
                                                    {{drow.qlftitle}}
                                                </option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <label class="control-label">Occupation</label>
                                        <select id="fthrocptn" name="fthrocptn" [(ngModel)]="fthrocptn" class="form-control fthrocptn" tabindex="41">
                                            <option [value]="''">-- Select Occupation --</option>
                                            <option *ngFor="let row of fthrocptnDT" [value]="row.key">
                                                {{row.val}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <label class="control-label">Salary</label>
                                        <input type="text" OnlyNumber="true" [(ngModel)]="fthrsalary" class="form-control fthrsalary" maxlength="20" tabindex="42" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <b>Mother</b>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label class="control-label">Mobile No <strong>*</strong></label>
                                        <input type="text" OnlyNumber="true" name="mthrmobile" [(ngModel)]="mthrmobile" maxlength="10" class="form-control mthrmobile" (blur)="getParentAndSibling(mthrmobile, 'mother')" tabindex="43">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <label class="control-label">Full Name <strong>*</strong></label>
                                        <input type="text" name="mthrname" [(ngModel)]="mthrname" class="form-control" tabindex="45" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <label class="control-label">Email <strong>*</strong></label>
                                        <input type="text" name="mthremail" [(ngModel)]="mthremail" class="form-control mthremail" tabindex="46">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <label class="control-label">School</label>
                                        <select id="mthrschid" name="mthrschname" [(ngModel)]="mthrschid" class="form-control mthrschname" tabindex="47">
                                            <option [value]="_enttdetails.enttid">{{_enttdetails.enttname}}</option>
                                            <option [value]="0">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="mthrschid == 0">
                                    <div class="form-line">
                                        <label class="control-label">School Name</label>
                                        <input type="text" [(ngModel)]="mthrothschname" class="form-control mthrothschname" maxlength="100" tabindex="48" />
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="mthrschid != 0">
                                    <div class="form-line">
                                        <label class="control-label">Enrollment No</label>
                                        <input type="text" OnlyNumber="true" [(ngModel)]="mthrenrlmntid" class="form-control mthrenrlmntid" maxlength="50" tabindex="49" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <label class="control-label">Qualification</label>
                                        <select id="mthrqlfid" name="mthrqlftitle" [(ngModel)]="mthrqlfid" class="form-control mthrqlftitle" tabindex="50">
                                            <option value="0">-- Select Qualification --</option>
                                            <optgroup *ngFor="let row of qualificationDT | groupBy: 'qlfgrpname'" label="{{row.key}}">
                                                <option *ngFor="let drow of row.value" [value]="drow.qlfid">	
                                                    {{drow.qlftitle}}
                                                </option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <label class="control-label">Occupation</label>
                                        <select id="mthrocptn" name="mthrocptn" [(ngModel)]="mthrocptn" class="form-control mthrocptn" tabindex="51">
                                            <option [value]="''">-- Select Occupation --</option>
                                            <option *ngFor="let row of mthrocptnDT" [value]="row.key">
                                                {{row.val}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="mthrocptn != 'housewife'">
                                    <div class="form-line">
                                        <label class="control-label">Salary <strong>*</strong></label>
                                        <input type="text" OnlyNumber="true" [(ngModel)]="mthrsalary" class="form-control mthrsalary" maxlength="20" tabindex="52" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="header">
        <h4>Sibling Information</h4>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="150px">
                                Relation
                            </th>
                            <th width="250px">
                                Full Name
                            </th>
                            <th width="100px">
                                Age
                            </th>
                            <th width="150px">
                                Class
                            </th>
                            <th width="250px">
                                School
                            </th>
                            <th>
                                School Name / Enrollment No
                            </th>
                            <th width="70px">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <div class="form-line">
                                        <select id="sibrelation" [(ngModel)]="sibrelation" class="form-control sibrelation" tabindex="53">
                                            <option [value]="''">Select Relation</option>
                                            <option [value]="'brother'">Brother</option>
                                            <option [value]="'sister'">Sister</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" [(ngModel)]="sibfullname" class="form-control sibfullname" maxlength="20" tabindex="54" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" OnlyNumber="true" [(ngModel)]="sibage" class="form-control sibage" maxlength="20" tabindex="55" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="form-line">
                                        <select id="sibclassid" name="sibclassname" [(ngModel)]="sibclassid" class="form-control sibclassname" tabindex="56">
                                            <option [value]="0">Select Class</option>
                                            <option *ngFor="let row of classDT" [value]="row.key">	
                                                {{row.val}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="form-line">
                                        <select id="sibschid" name="sibschname" [(ngModel)]="sibschid" class="form-control sibschname" tabindex="57">
                                            <option [value]="0">Other</option>
                                            <option [value]="_enttdetails.enttid">{{_enttdetails.enttname}}</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" *ngIf="sibschid == 0">
                                    <div class="form-line">
                                        <input type="text" [(ngModel)]="sibothschname" class="form-control sibothschname" maxlength="20" tabindex="58" />
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="sibschid != 0">
                                    <div class="form-line">
                                        <input type="text" OnlyNumber="true" [(ngModel)]="sibenrlmntid" class="form-control sibenrlmntid" maxlength="20" tabindex="59" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" *ngIf="!iseditsibling">
                                    <button type="button" (click)="addSibling()" class="btn btn-theme">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                                <div class="form-group" *ngIf="iseditsibling">
                                    <button type="button" (click)="updateSibling()" class="btn btn-theme">
                                        <i class="material-icons">done</i>
                                    </button>
                                    <button type="button" (click)="resetSibling()" class="btn btn-danger">
                                        <i class="material-icons">cancel</i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor="let row of siblingDT | filterBy: {'isactive': true}">
                            <td>
                                {{row.relname}}
                            </td>
                            <td>
                                {{row.fullname}}
                            </td>
                            <td>
                                {{row.age}}
                            </td>
                            <td>
                                {{row.classname}}
                            </td>
                            <td>
                                <span *ngIf="row.schid != 0">{{row.othschname}}</span>
                                <span *ngIf="row.schid == 0">{{row.schname}}</span>
                            </td>
                            <td>
                                <span *ngIf="row.schid != 0">{{row.enrlmntid}}</span>
                                <span *ngIf="row.schid == 0">{{row.othschname}}</span>
                            </td>
                            <td>
                                <div class="form-group">
                                    <button type="button" (click)="editSibling(row)" class="btn btn-theme">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button type="button" (click)="deleteSibling(row)" class="btn btn-danger">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>