<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-5">
                <h4>{{psngrtypenm}}</h4>
            </div>
            <div class="col-md-5 col-xs-8">
                <div class="form-group" *ngIf="psngrtype != 'teacher'">
                    <div class="form-line">
                        <label class="control-label">Employee Type <strong>*</strong></label>
                        <select id="emptype" [(ngModel)]="emptype" class="form-control emptype" tabindex="3" (ngModelChange)="getEmployeeDetails()">
                            <option [value]="''">Select Employee Type</option>
                            <option *ngFor="let row of emptypeDT" [value]="row.key">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="divShow" class="col-md-1 col-xs-2" style="padding-top: 20px;">
                <button type="button" class="btn btn-theme btn-xs" (click)="isshEmployee('grid')">
                    <i class="material-icons">apps</i></button>
                <button type="button" class="btn btn-theme btn-xs" (click)="isshEmployee('list')">
                    <i class="material-icons">list</i></button>
            </div>
            <div class="col-md-1 col-xs-2" align="right" style="padding-top: 20px;">
                <button type="button" class="btn btn-theme btn-xs" (click)="addEmployeeForm()">
                    <i class="material-icons">add</i></button>
            </div>
        </div>
    </div>

    <div class="body no-padding">
        <div class="row clearfix" *ngIf="isShowGrid">
            <div class="col-md-12" *ngIf="employeeDT.length">
                <div *ngFor="let row of employeeDT | groupBy: 'emptypname'">
                    <div class="header">
                        <b>{{row.key}}</b>
                    </div>
                    <p-dataGrid [value]="row.value" [paginator]="true" [rows]="8">
                        <ng-template let-drow pTemplate="item">
                            <div style="padding:3px" class="ui-g-12 ui-md-3">
                                <p-panel [style]="{'text-align':'center'}">
                                    <p-header>
                                        <div class="row clearfix">
                                            <div class="col-md-1">
                                                <i class="material-icons sm-font">{{drow.isactive ? 'done' : ''}}</i>
                                            </div>
                                            <div class="col-md-10">
                                                {{drow.empname}}
                                            </div>
                                            <div class="col-md-1">
                                                <a role="button" (click)="editEmployeeForm(drow)"><i class="material-icons sm-font">edit</i></a>
                                            </div>
                                        </div>
                                    </p-header>
                                    <div class="row clearfix">
                                        <div class="col-md-4 border">
                                            <div class="row clearfix">
                                                <div class="col-md-12">
                                                    <a role="button" (click)="viewEmployeeProfile(drow)">
                                                        <img alt="{{drow.empname}}" src="{{global.uploadurl + drow.empphoto}}" onerror="this.src='assets/img/default.gif';" class="img-xs">
                                                    </a>
                                                </div>
                                                <div class="col-md-12" *ngIf="drow.gender != ''">
                                                    {{drow.gender}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8" align="left">
                                            <div class="row clearfix">
                                                <div class="col-md-12" *ngIf="drow.dob != ''">
                                                    <span class="material-icons sm-font">date_range</span> {{drow.dob}}
                                                </div>
                                                <div class="col-md-12" *ngIf="drow.mobileno1 != ''">
                                                    <span class="material-icons sm-font">phone_iphone</span> {{drow.mobileno1}}<span *ngIf="drow.mobileno2 !== ''">{{", " + drow.mobileno2}}</span>
                                                </div>
                                                <div class="col-md-12" *ngIf="drow.email1 != ''">
                                                    <span class="material-icons sm-font">email</span> {{drow.email1}}<span *ngIf="drow.email2 !== ''">{{", " + drow.email2}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p-panel>
                            </div>
                        </ng-template>
                    </p-dataGrid>
                </div>
            </div>
        </div>
        <div class="row clearfix" *ngIf="isShowList">
            <div class="col-md-12">
                <p-dataTable [value]="employeeDT" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30,40]">
                    <p-column header="" [style]="{'width':'60px','text-align':'center','vertical-align':'top'}">
                        <ng-template let-row="rowData" pTemplate type="body">
                            <img alt="{{row.empname}}" src="{{global.uploadurl + row.empphoto}}" onerror="this.src='assets/img/default.gif';" class="img-sm">
                        </ng-template>
                    </p-column>
                    <p-column field="emptypname" header="Employee Type" [style]="{'width': '150px', 'text-align': 'left','vertical-align':'top'}"></p-column>
                    <p-column field="empcode" header="Employee Code" [style]="{'width': '150px', 'text-align': 'left','vertical-align':'top'}"></p-column>
                    <p-column field="empname" header="Employee Name" [style]="{'width':'200px','text-align':'left','vertical-align':'top'}"></p-column>
                    <p-column header="Mobile" [style]="{'width':'100px','text-align':'left','vertical-align':'top'}">
                        <ng-template let-row="rowData" pTemplate type="body">
                            {{row.mobileno1}}<span *ngIf="row.mobileno2 !== ''">{{", " + row.mobileno2}}</span>
                        </ng-template>
                    </p-column>
                    <p-column header="Email" [style]="{'width':'200px','text-align':'left','vertical-align':'top'}">
                        <ng-template let-row="rowData" pTemplate type="body">
                            {{row.email1}}<span *ngIf="row.email2 !== ''">{{", " + row.email2}}</span>
                        </ng-template>
                    </p-column>
                    <p-column header="Active" [style]="{'width': '50px', 'align': 'left','vertical-align':'top'}">
                        <ng-template let-row="rowData" let-i="rowIndex" pTemplate type="body">
                            <span class="material-icons">{{row.isactive ? 'done' : 'remove'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'width': '50px', 'align': 'left','vertical-align':'top'}">
                        <ng-template let-row="rowData" pTemplate type="body">
                            <button type="button" class="btn btn-theme btn-xs" (click)="editEmployeeForm(row)">
                                <i class="material-icons">edit</i>
                            </button>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>