<div class="card">
    <div class="header">
        <h4>{{psngrtypenm}}</h4>

        <ul class="header-dropdown m-r--5">
            <li *ngIf="classid != 0">
                <a role="button" class="btn btn-theme" (click)="saveClassTeacher()">
                    <i class="material-icons">save</i>
                </a>
            </li>
            <li>
                <a role="button" title="List View" class="btn btn-theme" (click)="isshEmployee('list')">
                    <i class="material-icons">list</i>
                </a>
            </li>
            <li>
                <a role="button" title="Grid View" class="btn btn-theme" (click)="isshEmployee('grid')">
                    <i class="material-icons">apps</i>
                </a>
            </li>
            <li>
                <a role="button" title="Add New" class="btn btn-theme" (click)="addEmployeeForm()">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-2" *ngIf="psngrtype == 'teacher'">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Class</label>
                        <select id="clsid" name="clsname" [(ngModel)]="classid" class="form-control class" tabindex="1" (ngModelChange)="getEmployeeDetails()">
                            <option [value]="0">{{psngrtype == 'student' ? 'Select Class' : 'All'}}</option>
                            <option *ngFor="let row of classDT" [value]="row.key">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-5">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Status</label>
                        <select id="status" name="status" [(ngModel)]="status" class="form-control status" tabindex="2">
                            <option [value]="''">All</option>
                            <option [value]="'current'">Current</option>
                            <option [value]="'past'">Past</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-5">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Department</label>
                        <select id="emptype" [(ngModel)]="emptype" class="form-control emptype" tabindex="3">
                            <option [value]="''">All</option>
                            <option *ngFor="let row of emptypeDT" [value]="row.key">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2 pad-20">
                <div class="form-group">
                    <button type="button" class="btn btn-theme" (click)="getEmployeeDetails()">
                        <i class="material-icons">arrow_forward</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="row clearfix" *ngIf="isShowList">
            <div class="col-md-12">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th width="30px" *ngIf="classid != 0"></th>
                            <th width="50px"></th>
                            <th width="300px">{{psngrtypenm}} Name</th>
                            <th width="120px">Date of Joining</th>
                            <th width="200px">Mobile</th>
                            <th>Email</th>
                            <th width="50px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of employeeDT">
                            <td *ngIf="classid != 0">
                                <div (click)="getClassTeacher(row)">
                                    <div class="D2QfN {{row.selempid == row.empid ? 'bg-green' : ''}}">
                                        <span class="NkcEF"><i class="fa fa-check"></i></span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <img *ngIf="row.gndrkey == 'M'" alt="{{row.empname}}" src="{{global.uploadurl + row.empphoto}}" onerror="this.src='assets/img/default-male.png';" class="img-sm">
                                <img *ngIf="row.gndrkey == 'F'" alt="{{row.empname}}" src="{{global.uploadurl + row.empphoto}}" onerror="this.src='assets/img/default-female.png';" class="img-sm">
                            </td>
                            <td>
                                {{row.empname}}<br /> {{row.emptypname}}
                            </td>
                            <td>
                                {{row.doj}}
                            </td>
                            <td>
                                {{row.mobileno1}}<span *ngIf="row.mobileno2 !== ''">{{", " + row.mobileno2}}</span>
                            </td>
                            <td>
                                {{row.email1}}<span *ngIf="row.email2 !== ''">{{", " + row.email2}}</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-theme" (click)="editEmployeeForm(row)">
                                    <i class="material-icons">edit</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row clearfix" *ngIf="isShowGrid">
            <div class="col-md-12" *ngIf="employeeDT.length">
                <div *ngFor="let row of employeeDT | groupBy: 'emptypname'">
                    <div class="header">
                        <b class="font-18">{{row.key}}</b>
                    </div>
                    <p-dataGrid [value]="row.value">
                        <ng-template let-drow pTemplate="item">
                            <div class="pad-03 col-md-4 col-xs-6">
                                <p-panel [style]="{'text-align':'center'}">
                                    <p-header>
                                        <div class="row clearfix">
                                            <div class="col-md-2 col-xs-3">
                                                <div (click)="getClassTeacher(drow)" *ngIf="classid != 0">
                                                    <div class="D2QfN {{drow.selempid == drow.empid ? 'bg-green' : ''}}">
                                                        <span class="NkcEF"><i class="fa fa-check"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-xs-6">
                                                {{drow.empname}}
                                            </div>
                                            <div class="col-md-2 col-xs-3">
                                                <a role="button" (click)="editEmployeeForm(drow)"><i class="material-icons font-15 col-white">edit</i></a>
                                            </div>
                                        </div>
                                    </p-header>
                                    <div class="row clearfix">
                                        <div class="col-md-3 border">
                                            <a role="button" (click)="viewEmployeeProfile(drow)">
                                                <img *ngIf="drow.gndrkey == 'M'" alt="{{drow.empname}}" src="{{global.uploadurl + drow.empphoto}}" onerror="this.src='assets/img/default-male.png';" class="img-xs">
                                                <img *ngIf="drow.gndrkey == 'F'" alt="{{drow.empname}}" src="{{global.uploadurl + drow.empphoto}}" onerror="this.src='assets/img/default-female.png';" class="img-xs">
                                            </a>
                                        </div>
                                        <div class="col-md-9" align="left">
                                            <div class="row clearfix">
                                                <div class="col-md-12" *ngIf="drow.dob != ''">
                                                    <span class="material-icons font-15">date_range</span> {{drow.doj}}
                                                </div>
                                                <div class="col-md-12" *ngIf="drow.mobileno1 != ''">
                                                    <span class="material-icons font-15">phone_iphone</span> {{drow.mobileno1}}
                                                    <span *ngIf="drow.mobileno1 != '' && drow.mobileno2 !== ''">, </span>{{drow.mobileno2}}
                                                </div>
                                                <div class="col-md-12" *ngIf="drow.email1 != '' && drow.email1 != null">
                                                    <span class="material-icons font-15 float-left">email</span>
                                                    <span class="short-text font-15" title="{{drow.email1}}">{{drow.email1}}</span>
                                                </div>
                                                <div class="col-md-12" *ngIf="drow.email2 != '' && drow.email2 != null">
                                                    <span class="material-icons font-15 float-left">email</span>
                                                    <span class="short-text font-15" title="{{drow.email2}}">{{drow.email2}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p-panel>
                            </div>
                        </ng-template>
                    </p-dataGrid>
                </div>
            </div>
        </div>
    </div>
</div>