/* Red */

.theme-red th {
    background: #F44336!important;
    color: #fff!important;
}

.theme-red .ui-panel-titlebar,
.theme-red .btn-theme,
.theme-red .login-page {
    background: #F44336!important;
    color: #fff!important;
}

.theme-red .sidebar .menu .list .header {
    background: #F44336!important;
    color: #fff!important;
}

.theme-red .navbar {
    background: #F44336!important;
}

.theme-red .navbar-brand {
    color: #fff;
}

.theme-red .navbar-brand:hover {
    color: #fff;
}

.theme-red .navbar-brand:active {
    color: #fff;
}

.theme-red .navbar-brand:focus {
    color: #fff;
}

.theme-red .nav>li>a {
    color: #fff;
}

.theme-red .nav>li>a:hover {
    background: transparent;
}

.theme-red .nav>li>a:focus {
    background: transparent;
}

.theme-red .nav .open>a {
    background: transparent;
}

.theme-red .nav .open>a:hover {
    background: transparent;
}

.theme-red .nav .open>a:focus {
    background: transparent;
}

.theme-red .bars {
    color: #fff;
}

.theme-red .sidebar .menu .list li.active {
    background: transparent;
}

.theme-red .sidebar .menu .list li.active> :first-child i,
.theme-red .sidebar .menu .list li.active> :first-child span {
    color: #F44336;
}

.theme-red .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-red .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-red .sidebar .legal {
    background: #fff;
}

.theme-red .sidebar .legal .copyright a {
    color: #F44336 !important;
}


/* Pink */

.theme-pink th {
    background: #E91E63!important;
    color: #fff!important;
}

.theme-pink .ui-panel-titlebar,
.theme-pink .btn-theme,
.theme-pink .login-page {
    background: #E91E63!important;
    color: #fff!important;
}

.theme-pink .sidebar .menu .list .header {
    background: #E91E63!important;
    color: #fff!important;
}

.theme-pink .navbar {
    background: #E91E63!important;
}

.theme-pink .navbar-brand {
    color: #fff;
}

.theme-pink .navbar-brand:hover {
    color: #fff;
}

.theme-pink .navbar-brand:active {
    color: #fff;
}

.theme-pink .navbar-brand:focus {
    color: #fff;
}

.theme-pink .nav>li>a {
    color: #fff;
}

.theme-pink .nav>li>a:hover {
    background: transparent;
}

.theme-pink .nav>li>a:focus {
    background: transparent;
}

.theme-pink .nav .open>a {
    background: transparent;
}

.theme-pink .nav .open>a:hover {
    background: transparent;
}

.theme-pink .nav .open>a:focus {
    background: transparent;
}

.theme-pink .bars {
    color: #fff;
}

.theme-pink .sidebar .menu .list li.active {
    background: transparent;
}

.theme-pink .sidebar .menu .list li.active> :first-child i,
.theme-pink .sidebar .menu .list li.active> :first-child span {
    color: #E91E63;
}

.theme-pink .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-pink .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-pink .sidebar .legal {
    background: #fff;
}

.theme-pink .sidebar .legal .copyright a {
    color: #E91E63 !important;
}


/* purple */

.theme-purple th {
    background: #9C27B0!important;
    color: #fff!important;
}

.theme-purple .ui-panel-titlebar,
.theme-purple .btn-theme,
.theme-purple .login-page {
    background: #9C27B0!important;
    color: #fff!important;
}

.theme-purple .sidebar .menu .list .header {
    background: #9C27B0!important;
    color: #fff!important;
}

.theme-purple .navbar {
    background: #9C27B0!important;
}

.theme-purple .navbar-brand {
    color: #fff;
}

.theme-purple .navbar-brand:hover {
    color: #fff;
}

.theme-purple .navbar-brand:active {
    color: #fff;
}

.theme-purple .navbar-brand:focus {
    color: #fff;
}

.theme-purple .nav>li>a {
    color: #fff;
}

.theme-purple .nav>li>a:hover {
    background: transparent;
}

.theme-purple .nav>li>a:focus {
    background: transparent;
}

.theme-purple .nav .open>a {
    background: transparent;
}

.theme-purple .nav .open>a:hover {
    background: transparent;
}

.theme-purple .nav .open>a:focus {
    background: transparent;
}

.theme-purple .bars {
    color: #fff;
}

.theme-purple .sidebar .menu .list li.active {
    background: transparent;
}

.theme-purple .sidebar .menu .list li.active> :first-child i,
.theme-purple .sidebar .menu .list li.active> :first-child span {
    color: #9C27B0;
}

.theme-purple .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-purple .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-purple .sidebar .legal {
    background: #fff;
}

.theme-purple .sidebar .legal .copyright a {
    color: #9C27B0 !important;
}


/* deep-purple */

.theme-deep-purple th {
    background: #673AB7!important;
    color: #fff!important;
}

.theme-deep-purple .ui-panel-titlebar,
.theme-deep-purple .btn-theme,
.theme-deep-purple .login-page {
    background: #673AB7!important;
    color: #fff!important;
}

.theme-deep-purple .sidebar .menu .list .header {
    background: #673AB7!important;
    color: #fff!important;
}


/*
.theme-deep-purple .ui-state-active {
  background: #fff!important; }

.theme-deep-purple .ui-state-active span {
  color: #000!important; }*/

.theme-deep-purple .navbar {
    background: #673AB7!important;
}

.theme-deep-purple .navbar-brand {
    color: #fff;
}

.theme-deep-purple .navbar-brand:hover {
    color: #fff;
}

.theme-deep-purple .navbar-brand:active {
    color: #fff;
}

.theme-deep-purple .navbar-brand:focus {
    color: #fff;
}

.theme-deep-purple .nav>li>a {
    color: #fff;
}

.theme-deep-purple .nav>li>a:hover {
    background: transparent;
}

.theme-deep-purple .nav>li>a:focus {
    background: transparent;
}

.theme-deep-purple .nav .open>a {
    background: transparent;
}

.theme-deep-purple .nav .open>a:hover {
    background: transparent;
}

.theme-deep-purple .nav .open>a:focus {
    background: transparent;
}

.theme-deep-purple .bars {
    color: #fff;
}

.theme-deep-purple .sidebar .menu .list li.active {
    background: transparent;
}

.theme-deep-purple .sidebar .menu .list li.active> :first-child i,
.theme-deep-purple .sidebar .menu .list li.active> :first-child span {
    color: #673AB7;
}

.theme-deep-purple .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-deep-purple .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-deep-purple .sidebar .legal {
    background: #fff;
}

.theme-deep-purple .sidebar .legal .copyright a {
    color: #673AB7 !important;
}


/* indigo */

.theme-indigo th {
    background: #3F51B5!important;
    color: #fff!important;
}

.theme-indigo .ui-panel-titlebar,
.theme-indigo .btn-theme,
.theme-indigo .login-page {
    background: #3F51B5!important;
    color: #fff!important;
}

.theme-indigo .sidebar .menu .list .header {
    background: #3F51B5!important;
    color: #fff!important;
}


/*
.theme-indigo .ui-state-active {
  background: #fff!important; }

.theme-indigo .ui-state-active span {
  color: #000!important; }*/

.theme-indigo .navbar {
    background: #3F51B5!important;
}

.theme-indigo .navbar-brand {
    color: #fff;
}

.theme-indigo .navbar-brand:hover {
    color: #fff;
}

.theme-indigo .navbar-brand:active {
    color: #fff;
}

.theme-indigo .navbar-brand:focus {
    color: #fff;
}

.theme-indigo .nav>li>a {
    color: #fff;
}

.theme-indigo .nav>li>a:hover {
    background: transparent;
}

.theme-indigo .nav>li>a:focus {
    background: transparent;
}

.theme-indigo .nav .open>a {
    background: transparent;
}

.theme-indigo .nav .open>a:hover {
    background: transparent;
}

.theme-indigo .nav .open>a:focus {
    background: transparent;
}

.theme-indigo .bars {
    color: #fff;
}

.theme-indigo .sidebar .menu .list li.active {
    background: transparent;
}

.theme-indigo .sidebar .menu .list li.active> :first-child i,
.theme-indigo .sidebar .menu .list li.active> :first-child span {
    color: #3F51B5;
}

.theme-indigo .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-indigo .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-indigo .sidebar .legal {
    background: #fff;
}

.theme-indigo .sidebar .legal .copyright a {
    color: #3F51B5 !important;
}


/* blue */

.theme-blue th {
    background: #2196F3!important;
    color: #fff!important;
}

.theme-blue .ui-panel-titlebar,
.theme-blue .btn-theme,
.theme-blue .login-page {
    background: #2196F3!important;
    color: #fff!important;
}

.theme-blue .sidebar .menu .list .header {
    background: #2196F3!important;
    color: #fff!important;
}


/*
.theme-blue .ui-state-active {
  background: #fff!important; }

.theme-blue .ui-state-active span {
  color: #000!important; }*/

.theme-blue .navbar {
    background: #2196F3!important;
}

.theme-blue .navbar-brand {
    color: #fff;
}

.theme-blue .navbar-brand:hover {
    color: #fff;
}

.theme-blue .navbar-brand:active {
    color: #fff;
}

.theme-blue .navbar-brand:focus {
    color: #fff;
}

.theme-blue .nav>li>a {
    color: #fff;
}

.theme-blue .nav>li>a:hover {
    background: transparent;
}

.theme-blue .nav>li>a:focus {
    background: transparent;
}

.theme-blue .nav .open>a {
    background: transparent;
}

.theme-blue .nav .open>a:hover {
    background: transparent;
}

.theme-blue .nav .open>a:focus {
    background: transparent;
}

.theme-blue .bars {
    color: #fff;
}

.theme-blue .sidebar .menu .list li.active {
    background: transparent;
}

.theme-blue .sidebar .menu .list li.active> :first-child i,
.theme-blue .sidebar .menu .list li.active> :first-child span {
    color: #2196F3;
}

.theme-blue .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-blue .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-blue .sidebar .legal {
    background: #fff;
}

.theme-blue .sidebar .legal .copyright a {
    color: #2196F3 !important;
}


/* light-blue */

.theme-light-blue th {
    background: #03A9F4!important;
    color: #fff!important;
}

.theme-light-blue .ui-panel-titlebar,
.theme-light-blue .btn-theme,
.theme-light-blue .login-page {
    background: #03A9F4!important;
    color: #fff!important;
}

.theme-light-blue .sidebar .menu .list .header {
    background: #03A9F4!important;
    color: #fff!important;
}


/*
.theme-light-blue .ui-state-active {
  background: #fff!important; }

.theme-light-blue .ui-state-active span {
  color: #000!important; }*/

.theme-light-blue .navbar {
    background: #03A9F4!important;
}

.theme-light-blue .navbar-brand {
    color: #fff;
}

.theme-light-blue .navbar-brand:hover {
    color: #fff;
}

.theme-light-blue .navbar-brand:active {
    color: #fff;
}

.theme-light-blue .navbar-brand:focus {
    color: #fff;
}

.theme-light-blue .nav>li>a {
    color: #fff;
}

.theme-light-blue .nav>li>a:hover {
    background: transparent;
}

.theme-light-blue .nav>li>a:focus {
    background: transparent;
}

.theme-light-blue .nav .open>a {
    background: transparent;
}

.theme-light-blue .nav .open>a:hover {
    background: transparent;
}

.theme-light-blue .nav .open>a:focus {
    background: transparent;
}

.theme-light-blue .bars {
    color: #fff;
}

.theme-light-blue .sidebar .menu .list li.active {
    background: transparent;
}

.theme-light-blue .sidebar .menu .list li.active> :first-child i,
.theme-light-blue .sidebar .menu .list li.active> :first-child span {
    color: #03A9F4;
}

.theme-light-blue .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-light-blue .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-light-blue .sidebar .legal {
    background: #fff;
}

.theme-light-blue .sidebar .legal .copyright a {
    color: #03A9F4 !important;
}


/* cyan */

.theme-cyan th {
    background: #00BCD4!important;
    color: #fff!important;
}

.theme-cyan .ui-panel-titlebar,
.theme-cyan .btn-theme,
.theme-cyan .login-page {
    background: #00BCD4!important;
    color: #fff!important;
}

.theme-cyan .sidebar .menu .list .header {
    background: #00BCD4!important;
    color: #fff!important;
}


/*
.theme-cyan .ui-state-active {
  background: #fff!important; }

.theme-cyan .ui-state-active span {
  color: #000!important; }*/

.theme-cyan .navbar {
    background: #00BCD4!important;
}

.theme-cyan .navbar-brand {
    color: #fff;
}

.theme-cyan .navbar-brand:hover {
    color: #fff;
}

.theme-cyan .navbar-brand:active {
    color: #fff;
}

.theme-cyan .navbar-brand:focus {
    color: #fff;
}

.theme-cyan .nav>li>a {
    color: #fff;
}

.theme-cyan .nav>li>a:hover {
    background: transparent;
}

.theme-cyan .nav>li>a:focus {
    background: transparent;
}

.theme-cyan .nav .open>a {
    background: transparent;
}

.theme-cyan .nav .open>a:hover {
    background: transparent;
}

.theme-cyan .nav .open>a:focus {
    background: transparent;
}

.theme-cyan .bars {
    color: #fff;
}

.theme-cyan .sidebar .menu .list li.active {
    background: transparent;
}

.theme-cyan .sidebar .menu .list li.active> :first-child i,
.theme-cyan .sidebar .menu .list li.active> :first-child span {
    color: #00BCD4;
}

.theme-cyan .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-cyan .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-cyan .sidebar .legal {
    background: #fff;
}

.theme-cyan .sidebar .legal .copyright a {
    color: #00BCD4 !important;
}


/* teal */

.theme-teal th {
    background: #009688!important;
    color: #fff!important;
}

.theme-teal .ui-panel-titlebar,
.theme-teal .btn-theme,
.theme-teal .login-page {
    background: #009688!important;
    color: #fff!important;
}

.theme-teal .sidebar .menu .list .header {
    background: #009688!important;
    color: #fff!important;
}


/*
.theme-teal .ui-state-active {
  background: #fff!important; }

.theme-teal .ui-state-active span {
  color: #000!important; }*/

.theme-teal .navbar {
    background: #009688!important;
}

.theme-teal .navbar-brand {
    color: #fff;
}

.theme-teal .navbar-brand:hover {
    color: #fff;
}

.theme-teal .navbar-brand:active {
    color: #fff;
}

.theme-teal .navbar-brand:focus {
    color: #fff;
}

.theme-teal .nav>li>a {
    color: #fff;
}

.theme-teal .nav>li>a:hover {
    background: transparent;
}

.theme-teal .nav>li>a:focus {
    background: transparent;
}

.theme-teal .nav .open>a {
    background: transparent;
}

.theme-teal .nav .open>a:hover {
    background: transparent;
}

.theme-teal .nav .open>a:focus {
    background: transparent;
}

.theme-teal .bars {
    color: #fff;
}

.theme-teal .sidebar .menu .list li.active {
    background: transparent;
}

.theme-teal .sidebar .menu .list li.active> :first-child i,
.theme-teal .sidebar .menu .list li.active> :first-child span {
    color: #009688;
}

.theme-teal .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-teal .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-teal .sidebar .legal {
    background: #fff;
}

.theme-teal .sidebar .legal .copyright a {
    color: #009688 !important;
}


/* green */

.theme-green th {
    background: #4CAF50!important;
    color: #fff!important;
}

.theme-green .ui-panel-titlebar,
.theme-green .btn-theme,
.theme-green .login-page {
    background: #4CAF50!important;
    color: #fff!important;
}

.theme-green .sidebar .menu .list .header {
    background: #4CAF50!important;
    color: #fff!important;
}


/*
.theme-green .ui-state-active {
  background: #fff!important; }

.theme-green .ui-state-active span {
  color: #000!important; }*/

.theme-green .navbar {
    background: #4CAF50!important;
}

.theme-green .navbar-brand {
    color: #fff;
}

.theme-green .navbar-brand:hover {
    color: #fff;
}

.theme-green .navbar-brand:active {
    color: #fff;
}

.theme-green .navbar-brand:focus {
    color: #fff;
}

.theme-green .nav>li>a {
    color: #fff;
}

.theme-green .nav>li>a:hover {
    background: transparent;
}

.theme-green .nav>li>a:focus {
    background: transparent;
}

.theme-green .nav .open>a {
    background: transparent;
}

.theme-green .nav .open>a:hover {
    background: transparent;
}

.theme-green .nav .open>a:focus {
    background: transparent;
}

.theme-green .bars {
    color: #fff;
}

.theme-green .sidebar .menu .list li.active {
    background: transparent;
}

.theme-green .sidebar .menu .list li.active> :first-child i,
.theme-green .sidebar .menu .list li.active> :first-child span {
    color: #4CAF50;
}

.theme-green .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-green .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-green .sidebar .legal {
    background: #fff;
}

.theme-green .sidebar .legal .copyright a {
    color: #4CAF50 !important;
}


/* light-green */

.theme-light-green th {
    background: #8BC34A!important;
    color: #fff!important;
}

.theme-light-green .ui-panel-titlebar,
.theme-light-green .btn-theme,
.theme-light-green .login-page {
    background: #8BC34A!important;
    color: #fff!important;
}

.theme-light-green .sidebar .menu .list .header {
    background: #8BC34A!important;
    color: #fff!important;
}


/*
.theme-light-green .ui-state-active {
  background: #fff!important; }

.theme-light-green .ui-state-active span {
  color: #000!important; }*/

.theme-light-green .navbar {
    background: #8BC34A!important;
}

.theme-light-green .navbar-brand {
    color: #fff;
}

.theme-light-green .navbar-brand:hover {
    color: #fff;
}

.theme-light-green .navbar-brand:active {
    color: #fff;
}

.theme-light-green .navbar-brand:focus {
    color: #fff;
}

.theme-light-green .nav>li>a {
    color: #fff;
}

.theme-light-green .nav>li>a:hover {
    background: transparent;
}

.theme-light-green .nav>li>a:focus {
    background: transparent;
}

.theme-light-green .nav .open>a {
    background: transparent;
}

.theme-light-green .nav .open>a:hover {
    background: transparent;
}

.theme-light-green .nav .open>a:focus {
    background: transparent;
}

.theme-light-green .bars {
    color: #fff;
}

.theme-light-green .sidebar .menu .list li.active {
    background: transparent;
}

.theme-light-green .sidebar .menu .list li.active> :first-child i,
.theme-light-green .sidebar .menu .list li.active> :first-child span {
    color: #8BC34A;
}

.theme-light-green .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-light-green .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-light-green .sidebar .legal {
    background: #fff;
}

.theme-light-green .sidebar .legal .copyright a {
    color: #8BC34A !important;
}


/* lime */

.theme-lime th {
    background: #CDDC39!important;
    color: #fff!important;
}

.theme-lime .ui-panel-titlebar,
.theme-lime .btn-theme,
.theme-lime .login-page {
    background: #CDDC39!important;
    color: #fff!important;
}

.theme-lime .sidebar .menu .list .header {
    background: #CDDC39!important;
    color: #fff!important;
}


/*
.theme-lime .ui-state-active {
  background: #fff!important; }

.theme-lime .ui-state-active span {
  color: #000!important; }*/

.theme-lime .navbar {
    background: #CDDC39!important;
}

.theme-lime .navbar-brand {
    color: #fff;
}

.theme-lime .navbar-brand:hover {
    color: #fff;
}

.theme-lime .navbar-brand:active {
    color: #fff;
}

.theme-lime .navbar-brand:focus {
    color: #fff;
}

.theme-lime .nav>li>a {
    color: #fff;
}

.theme-lime .nav>li>a:hover {
    background: transparent;
}

.theme-lime .nav>li>a:focus {
    background: transparent;
}

.theme-lime .nav .open>a {
    background: transparent;
}

.theme-lime .nav .open>a:hover {
    background: transparent;
}

.theme-lime .nav .open>a:focus {
    background: transparent;
}

.theme-lime .bars {
    color: #fff;
}

.theme-lime .sidebar .menu .list li.active {
    background: transparent;
}

.theme-lime .sidebar .menu .list li.active> :first-child i,
.theme-lime .sidebar .menu .list li.active> :first-child span {
    color: #CDDC39;
}

.theme-lime .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-lime .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-lime .sidebar .legal {
    background: #fff;
}

.theme-lime .sidebar .legal .copyright a {
    color: #CDDC39 !important;
}


/* yellow */

.theme-yellow th {
    background: #FFEB3B!important;
    color: #fff!important;
}

.theme-yellow .ui-panel-titlebar,
.theme-yellow .btn-theme,
.theme-yellow .login-page {
    background: #FFEB3B!important;
    color: #fff!important;
}

.theme-yellow .sidebar .menu .list .header {
    background: #FFEB3B!important;
    color: #fff!important;
}


/*
.theme-yellow .ui-state-active {
  background: #fff!important; }

.theme-yellow .ui-state-active span {
  color: #000!important; }*/

.theme-yellow .navbar {
    background: #FFEB3B!important;
}

.theme-yellow .navbar-brand {
    color: #fff;
}

.theme-yellow .navbar-brand:hover {
    color: #fff;
}

.theme-yellow .navbar-brand:active {
    color: #fff;
}

.theme-yellow .navbar-brand:focus {
    color: #fff;
}

.theme-yellow .nav>li>a {
    color: #fff;
}

.theme-yellow .nav>li>a:hover {
    background: transparent;
}

.theme-yellow .nav>li>a:focus {
    background: transparent;
}

.theme-yellow .nav .open>a {
    background: transparent;
}

.theme-yellow .nav .open>a:hover {
    background: transparent;
}

.theme-yellow .nav .open>a:focus {
    background: transparent;
}

.theme-yellow .bars {
    color: #fff;
}

.theme-yellow .sidebar .menu .list li.active {
    background: transparent;
}

.theme-yellow .sidebar .menu .list li.active> :first-child i,
.theme-yellow .sidebar .menu .list li.active> :first-child span {
    color: #FFEB3B;
}

.theme-yellow .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-yellow .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-yellow .sidebar .legal {
    background: #fff;
}

.theme-yellow .sidebar .legal .copyright a {
    color: #FFEB3B !important;
}


/* amber */

.theme-amber th {
    background: #FFC107!important;
    color: #fff!important;
}

.theme-amber .ui-panel-titlebar,
.theme-amber .btn-theme,
.theme-amber .login-page {
    background: #FFC107!important;
    color: #fff!important;
}

.theme-amber .sidebar .menu .list .header {
    background: #FFC107!important;
    color: #fff!important;
}


/*
.theme-amber .ui-state-active {
  background: #fff!important; }

.theme-amber .ui-state-active span {
  color: #000!important; }*/

.theme-amber .navbar {
    background: #FFC107!important;
}

.theme-amber .navbar-brand {
    color: #fff;
}

.theme-amber .navbar-brand:hover {
    color: #fff;
}

.theme-amber .navbar-brand:active {
    color: #fff;
}

.theme-amber .navbar-brand:focus {
    color: #fff;
}

.theme-amber .nav>li>a {
    color: #fff;
}

.theme-amber .nav>li>a:hover {
    background: transparent;
}

.theme-amber .nav>li>a:focus {
    background: transparent;
}

.theme-amber .nav .open>a {
    background: transparent;
}

.theme-amber .nav .open>a:hover {
    background: transparent;
}

.theme-amber .nav .open>a:focus {
    background: transparent;
}

.theme-amber .bars {
    color: #fff;
}

.theme-amber .sidebar .menu .list li.active {
    background: transparent;
}

.theme-amber .sidebar .menu .list li.active> :first-child i,
.theme-amber .sidebar .menu .list li.active> :first-child span {
    color: #FFC107;
}

.theme-amber .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-amber .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-amber .sidebar .legal {
    background: #fff;
}

.theme-amber .sidebar .legal .copyright a {
    color: #FFC107 !important;
}


/* orange */

.theme-orange th {
    background: #FF9800!important;
    color: #fff!important;
}

.theme-orange .ui-panel-titlebar,
.theme-orange .btn-theme,
.theme-orange .login-page {
    background: #FF9800!important;
    color: #fff!important;
}

.theme-orange .sidebar .menu .list .header {
    background: #FF9800!important;
    color: #fff!important;
}


/*
.theme-orange .ui-state-active {
  background: #fff!important; }

.theme-orange .ui-state-active span {
  color: #000!important; }*/

.theme-orange .navbar {
    background: #FF9800!important;
}

.theme-orange .navbar-brand {
    color: #fff;
}

.theme-orange .navbar-brand:hover {
    color: #fff;
}

.theme-orange .navbar-brand:active {
    color: #fff;
}

.theme-orange .navbar-brand:focus {
    color: #fff;
}

.theme-orange .nav>li>a {
    color: #fff;
}

.theme-orange .nav>li>a:hover {
    background: transparent;
}

.theme-orange .nav>li>a:focus {
    background: transparent;
}

.theme-orange .nav .open>a {
    background: transparent;
}

.theme-orange .nav .open>a:hover {
    background: transparent;
}

.theme-orange .nav .open>a:focus {
    background: transparent;
}

.theme-orange .bars {
    color: #fff;
}

.theme-orange .sidebar .menu .list li.active {
    background: transparent;
}

.theme-orange .sidebar .menu .list li.active> :first-child i,
.theme-orange .sidebar .menu .list li.active> :first-child span {
    color: #FF9800;
}

.theme-orange .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-orange .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-orange .sidebar .legal {
    background: #fff;
}

.theme-orange .sidebar .legal .copyright a {
    color: #FF9800 !important;
}


/* deep-orange */

.theme-deep-orange th {
    background: #FF5722!important;
    color: #fff!important;
}

.theme-deep-orange .ui-panel-titlebar,
.theme-deep-orange .btn-theme,
.theme-deep-orange .login-page {
    background: #FF5722!important;
    color: #fff!important;
}

.theme-deep-orange .sidebar .menu .list .header {
    background: #FF5722!important;
    color: #fff!important;
}


/*
.theme-deep-orange .ui-state-active {
  background: #fff!important; }

.theme-deep-orange .ui-state-active span {
  color: #000!important; }*/

.theme-deep-orange .navbar {
    background: #FF5722!important;
}

.theme-deep-orange .navbar-brand {
    color: #fff;
}

.theme-deep-orange .navbar-brand:hover {
    color: #fff;
}

.theme-deep-orange .navbar-brand:active {
    color: #fff;
}

.theme-deep-orange .navbar-brand:focus {
    color: #fff;
}

.theme-deep-orange .nav>li>a {
    color: #fff;
}

.theme-deep-orange .nav>li>a:hover {
    background: transparent;
}

.theme-deep-orange .nav>li>a:focus {
    background: transparent;
}

.theme-deep-orange .nav .open>a {
    background: transparent;
}

.theme-deep-orange .nav .open>a:hover {
    background: transparent;
}

.theme-deep-orange .nav .open>a:focus {
    background: transparent;
}

.theme-deep-orange .bars {
    color: #fff;
}

.theme-deep-orange .sidebar .menu .list li.active {
    background: transparent;
}

.theme-deep-orange .sidebar .menu .list li.active> :first-child i,
.theme-deep-orange .sidebar .menu .list li.active> :first-child span {
    color: #FF5722;
}

.theme-deep-orange .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-deep-orange .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-deep-orange .sidebar .legal {
    background: #fff;
}

.theme-deep-orange .sidebar .legal .copyright a {
    color: #FF5722 !important;
}


/* brown */

.theme-brown th {
    background: #795548!important;
    color: #fff!important;
}

.theme-brown .ui-panel-titlebar,
.theme-brown .btn-theme,
.theme-brown .login-page {
    background: #795548!important;
    color: #fff!important;
}

.theme-brown .sidebar .menu .list .header {
    background: #795548!important;
    color: #fff!important;
}


/*
.theme-brown .ui-state-active {
  background: #fff!important; }

.theme-brown .ui-state-active span {
  color: #000!important; }*/

.theme-brown .navbar {
    background: #795548!important;
}

.theme-brown .navbar-brand {
    color: #fff;
}

.theme-brown .navbar-brand:hover {
    color: #fff;
}

.theme-brown .navbar-brand:active {
    color: #fff;
}

.theme-brown .navbar-brand:focus {
    color: #fff;
}

.theme-brown .nav>li>a {
    color: #fff;
}

.theme-brown .nav>li>a:hover {
    background: transparent;
}

.theme-brown .nav>li>a:focus {
    background: transparent;
}

.theme-brown .nav .open>a {
    background: transparent;
}

.theme-brown .nav .open>a:hover {
    background: transparent;
}

.theme-brown .nav .open>a:focus {
    background: transparent;
}

.theme-brown .bars {
    color: #fff;
}

.theme-brown .sidebar .menu .list li.active {
    background: transparent;
}

.theme-brown .sidebar .menu .list li.active> :first-child i,
.theme-brown .sidebar .menu .list li.active> :first-child span {
    color: #795548;
}

.theme-brown .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-brown .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-brown .sidebar .legal {
    background: #fff;
}

.theme-brown .sidebar .legal .copyright a {
    color: #795548 !important;
}


/* grey */

.theme-grey th {
    background: #9E9E9E!important;
    color: #fff!important;
}

.theme-grey .ui-panel-titlebar,
.theme-grey .btn-theme,
.theme-grey .login-page {
    background: #9E9E9E!important;
    color: #fff!important;
}

.theme-grey .sidebar .menu .list .header {
    background: #9E9E9E!important;
    color: #fff!important;
}

.theme-grey .sidebar .menu .list .header span {
    color: #fff!important;
}


/*
.theme-grey .ui-state-active {
  background: #fff!important; }

.theme-grey .ui-state-active span {
  color: #000!important; }*/

.theme-grey .navbar {
    background: #9E9E9E!important;
}

.theme-grey .navbar-brand {
    color: #fff;
}

.theme-grey .navbar-brand:hover {
    color: #fff;
}

.theme-grey .navbar-brand:active {
    color: #fff;
}

.theme-grey .navbar-brand:focus {
    color: #fff;
}

.theme-grey .nav>li>a {
    color: #fff;
}

.theme-grey .nav>li>a:hover {
    background: transparent;
}

.theme-grey .nav>li>a:focus {
    background: transparent;
}

.theme-grey .nav .open>a {
    background: transparent;
}

.theme-grey .nav .open>a:hover {
    background: transparent;
}

.theme-grey .nav .open>a:focus {
    background: transparent;
}

.theme-grey .bars {
    color: #fff;
}

.theme-grey .sidebar .menu .list li.active {
    background: transparent;
}

.theme-grey .sidebar .menu .list li.active> :first-child i,
.theme-grey .sidebar .menu .list li.active> :first-child span {
    color: #9E9E9E;
}

.theme-grey .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-grey .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-grey .sidebar .legal {
    background: #fff;
}

.theme-grey .sidebar .legal .copyright a {
    color: #9E9E9E !important;
}


/* blue-grey */

.theme-blue-grey th {
    background: #607D8B!important;
    color: #fff!important;
}

.theme-blue-grey .ui-panel-titlebar,
.theme-blue-gray .btn-theme,
.theme-blue-gray .login-page {
    background: #607D8B!important;
    color: #fff!important;
}

.theme-blue-grey .sidebar .menu .list .header {
    background: #607D8B!important;
    color: #fff!important;
}


/*
.theme-blue-grey .ui-state-active {
  background: #fff!important; }

.theme-blue-grey .ui-state-active span {
  color: #000!important; }*/

.theme-blue-grey .navbar {
    background: #607D8B!important;
}

.theme-blue-grey .navbar-brand {
    color: #fff;
}

.theme-blue-grey .navbar-brand:hover {
    color: #fff;
}

.theme-blue-grey .navbar-brand:active {
    color: #fff;
}

.theme-blue-grey .navbar-brand:focus {
    color: #fff;
}

.theme-blue-grey .nav>li>a {
    color: #fff;
}

.theme-blue-grey .nav>li>a:hover {
    background: transparent;
}

.theme-blue-grey .nav>li>a:focus {
    background: transparent;
}

.theme-blue-grey .nav .open>a {
    background: transparent;
}

.theme-blue-grey .nav .open>a:hover {
    background: transparent;
}

.theme-blue-grey .nav .open>a:focus {
    background: transparent;
}

.theme-blue-grey .bars {
    color: #fff;
}

.theme-blue-grey .sidebar .menu .list li.active {
    background: transparent;
}

.theme-blue-grey .sidebar .menu .list li.active> :first-child i,
.theme-blue-grey .sidebar .menu .list li.active> :first-child span {
    color: #607D8B;
}

.theme-blue-grey .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-blue-grey .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-blue-grey .sidebar .legal {
    background: #fff;
}

.theme-blue-grey .sidebar .legal .copyright a {
    color: #607D8B !important;
}


/* black */

.theme-black th {
    background: #000!important;
    color: #fff!important;
}

.theme-black .ui-panel-titlebar,
.theme-black .btn-theme,
.theme-black .login-page {
    background: #000!important;
    color: #fff!important;
}

.theme-black .sidebar .menu .list .header {
    background: #000!important;
    color: #fff!important;
}


/*
.theme-black .ui-state-active {
  background: #fff!important; }

.theme-black .ui-state-active span {
  color: #000!important; }*/

.theme-black .navbar {
    background: #000000!important;
}

.theme-black .navbar-brand {
    color: #fff;
}

.theme-black .navbar-brand:hover {
    color: #fff;
}

.theme-black .navbar-brand:active {
    color: #fff;
}

.theme-black .navbar-brand:focus {
    color: #fff;
}

.theme-black .nav>li>a {
    color: #fff;
}

.theme-black .nav>li>a:hover {
    background: transparent;
}

.theme-black .nav>li>a:focus {
    background: transparent;
}

.theme-black .nav .open>a {
    background: transparent;
}

.theme-black .nav .open>a:hover {
    background: transparent;
}

.theme-black .nav .open>a:focus {
    background: transparent;
}

.theme-black .bars {
    color: #fff;
}

.theme-black .sidebar .menu .list li.active {
    background: transparent;
}

.theme-black .sidebar .menu .list li.active> :first-child i,
.theme-black .sidebar .menu .list li.active> :first-child span {
    color: #000;
}

.theme-black .sidebar .menu .list .toggled {
    background: transparent;
}

.theme-black .sidebar .menu .list .ml-menu {
    background: transparent;
}

.theme-black .sidebar .legal {
    background: #fff;
}

.theme-black .sidebar .legal .copyright a {
    color: #000 !important;
}