<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-10">
                <h4>Dashboard</h4>
            </div>

            <div class="col-md-2" align="right">
                <div class="form-group" *ngIf="_enttdetails.entttype == 'School'">
                    <div class="form-line">
                        <select id="ayid" name="ayname" [(ngModel)]="ayid" class="form-control class" tabindex="1" (ngModelChange)="getERPDashboardDetails()">
                            <option [value]="0">Select Academic year</option>
                            <option *ngFor="let row of ayDT" [value]="row.id">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="_enttdetails.entttype == 'Company'">
    <div class="row clearfix">
        <div *ngFor="let row of dashboardDT" class="col-md-3">
            <div class="info-box {{row.dbcss}} hover-expand-effect">
                <div class="icon">
                    <a role="button" (click)="openForm(row)">
                        <i class="material-icons">{{row.dbicon}}</i>
                    </a>
                </div>
                <div class="content">
                    <div class="text">{{row.dbhead}}</div>
                    <div class="number count-to" data-from="0" data-to="row.dbvalue" data-speed="15" data-fresh-interval="20">
                        {{row.dbvalue}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="_enttdetails.entttype == 'School'">
    <div class="col-md-8">
        <div class="card">
            <div class="row clearfix">
                <div *ngFor="let row of dashboardDT" class="col-md-4">
                    <a role="button" (click)="openForm(row)">
                        <div class="{{row.dbcss}} pad-10 m-05">
                            {{row.dbhead}}
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="sm-header">
                <h6>Today's Student Attendance</h6>
            </div>

            <div class="body no-padding">
                <p-chart type="bar" [data]="classStatusChartDT" height="100px"></p-chart>
            </div>
        </div>

        <div class="card">
            <div class="sm-header">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <h6>Exam Status</h6>
                    </div>

                    <div class="col-md-6" align="right">
                        <div class="form-group">
                            <div class="form-line">
                                <select id="smstrid" name="smstrname" [(ngModel)]="smstrid" class="form-control smstrname" (ngModelChange)="getERPDashboardData('examstatus')" tabindex="3">
                                    <option *ngFor="let row of semesterDT" [value]="row.id">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="body no-padding">
                <p-chart type="bar" [data]="examStatusChartDT" height="100px"></p-chart>
            </div>
        </div>

        <div class="card">
            <div class="sm-header">
                <h6>Fees Structure</h6>
            </div>

            <div class="body no-padding">
                <p-chart type="bar" [data]="classFeesDT" height="100px"></p-chart>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="sm-header">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <h6>School Noticeboard</h6>
                    </div>
                    <div class="col-md-6 text-right">
                        <a role="button" [routerLink]="['/erp/school/noticeboard/add']">
                            <i class="material-icons font-18">add</i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="body" *ngIf="noticeboardDT.length">
                <div *ngFor="let row of noticeboardDT">
                    <div class="row clearfix">
                        <div class="col-md-9">
                            <b>Date : </b>{{row.nbdate}}
                        </div>
                        <div class="col-md-3 text-right">
                            <a role="button" [routerLink]="['/erp/school/noticeboard/edit/' + row.nbid]">
                                <i class="material-icons font-18">edit</i>
                            </a>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <p><b>Title : </b>{{row.nbtitle}}</p>
                            <p>{{row.nbdesc}}</p>
                        </div>
                    </div>

                    <hr class="hr" />
                </div>

                <div class="col-md-12 text-right" *ngIf="noticeboardDT.length > 5">
                    <a role="button" class="btn btn-theme btn-xs" [routerLink]="['/erp/school/noticeboard']">View More....</a>
                </div>
            </div>
            <div class="body" *ngIf="!noticeboardDT.length">
                No Data Found
            </div>
        </div>

        <div class="card">
            <div class="sm-header">
                <h6>Today's Teacher Attendance</h6>
            </div>

            <div class="body no-padding">
                <p-chart type="pie" #piechart [data]="tchrattndDT" height="150px"></p-chart>
            </div>
        </div>

        <div class="card">
            <div class="sm-header">
                <h6>Class Teacher</h6>
            </div>

            <div class="body no-padding">
                <p-chart type="pie" #piechart [data]="classtypeDT"></p-chart>
            </div>
        </div>
    </div>
</div>