<div class="card" *ngIf="grpcd != ''">
    <div class="header">
        <h4>Master Of Master : {{headertitle}}</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="addMOMForm()">
                    <i class="material-icons">add</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <p-dataTable #dt [value]="momDT">
            <p-column field="key" header="Key" [style]="{'width':'150px','text-align':'left'}"></p-column>
            <p-column field="val" header="Value" [style]="{'text-align':'left'}"></p-column>
            <p-column styleClass="col-button" [style]="{'width':'60px','text-align':'left'}">
                <ng-template let-row="rowData" pTemplate type="body">
                    <button type="button" (click)="editMOMForm(row)" class="btn btn-theme btn-xs">
                        <span class="material-icons">edit</span>
                    </button>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>