<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-6 col-xs-6">
                <h4>Exam Grade</h4>
            </div>
            <div class="col-md-6 col-xs-6 text-right pad-05">
                <div class="form-group">
                    <button type="button" class="btn btn-theme btn-xs" (click)="addExamGrade()">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-6" *ngFor="let row of examGradeDT | groupBy: 'grpflds'">
                <table class="table table-bordered reports">
                    <thead>
                        <tr>
                            <th colspan="3">
                                <h4><b>Standard : </b>{{getKeys(row)[2].stdname}}</h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center" colspan="2">
                                <h5><b>Total Marks : </b>{{getKeys(row)[0].totmarks}}</h5>
                            </td>
                            <td class="text-right">
                                <div class="form-group">
                                    <button type="button" class="btn btn-theme btn-xs" (click)="editExamGrade(getKeys(row)[1])">
                                        <span class="material-icons">edit</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr class="tr-table">
                            <th width="150px">
                                From Marks
                            </th>
                            <th width="150px">
                                To Marks
                            </th>
                            <th width="150px">
                                Grade
                            </th>
                        </tr>
                        <tr *ngFor="let drow of row.value">
                            <td class="text-right">
                                {{drow.frmmarks}}
                            </td>
                            <td class="text-right">
                                {{drow.tomarks}}
                            </td>
                            <td>
                                {{drow.gradename}}
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr *ngIf="!examGradeDT.length">
                            <td colspan="3">
                                <h4><strong>No Data Found</strong></h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>