<div class="card">
    <div class="header">
        <h4>Assesment</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <input id="issendemail" name="issendemail" [(ngModel)]="issendemail" type="checkbox" class="filled-in">
                <label for="issendemail">Send Email To Parent</label>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveAssesmentResult()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div *ngIf="mode == 'add'">
            <div class="row clearfix">
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="form-line">
                            <label class="control-label">Academic Year <strong>*</strong></label>
                            <select id="ayid" name="ayname" [(ngModel)]="ayid" (ngModelChange)="getAssesmentResult();" class="form-control ayname" tabindex="1">
                                <option [value]="0">Select Academic Year</option>
                                <option *ngFor="let row of ayDT" [value]="row.id">
                                    {{row.val}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="form-line">
                            <label class="control-label">Class <strong>*</strong></label>
                            <select id="clsid" name="clsname" [(ngModel)]="clsid" (ngModelChange)="fillAssesmentTypeDropDown();getAssesmentResult();" class="form-control class" tabindex="2">
                                <option [value]="0">Select Class</option>
                                <option *ngFor="let row of classDT" [value]="row.id">
                                    {{row.val}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="form-line">
                            <label class="control-label">Assesment Type <strong>*</strong></label>
                            <select id="asstypid" name="asstypname" [(ngModel)]="asstype" (ngModelChange)="getAssesmentResult();" class="form-control asstype" tabindex="3">
                                <option [value]="''">Select Assesment Type</option>
                                <optgroup id="subject" label="Subject">
                                    <option *ngFor="let row of subjectDT" [value]="row.subtypeid">
                                        {{row.val}}
                                    </option>
                                </optgroup>
                                <optgroup id="activity" label="Activity">
                                    <option *ngFor="let row of activityDT" [value]="row.subtypeid">
                                        {{row.val}}
                                    </option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label class="control-label">Student <strong>*</strong> {{studname}}</label>
                            <p-autoComplete id="studid" name="studname" [(ngModel)]="selectedStudent" [tabindex]="4" (onSelect)="selectStudentData($event)" [suggestions]="studentDT" (completeMethod)="getStudentData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete studname"></p-autoComplete>
                            <span class="material-icons inputlinkico"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group pad-20">
                        <button type="button" class="btn btn-theme btn-xs" (click)="getAssesmentResult()">
                            <i class="material-icons">arrow_forward</i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="form-line">
                            <label class="control-label">From Date <strong>*</strong></label>
                            <input type="date" class="form-control frmdt" [(ngModel)]="frmdt" [tabindex]="5">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="form-line">
                            <label class="control-label">To Date <strong>*</strong></label>
                            <input type="date" class="form-control todt" [(ngModel)]="todt" tabindex="6">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="mode == 'edit'">
            <p>Academic Year : {{ayname}}</p>
            <p>Class : {{clsname}}</p>
            <p>Assesment Type : {{asstyphead}} - {{asstypname}}</p>
            <p>Student : {{studname}}</p>
            <p>{{assdate}}</p>
        </div>

        <table class="table table-bordered reports">
            <thead>
                <tr>
                    <th>
                        Heading
                    </th>
                    <th width="100px">
                        Previous Grade
                    </th>
                    <th width="330px">
                        Previous Remark
                    </th>
                    <th width="120px">
                        Grade
                    </th>
                    <th width="330px">
                        Remark
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let row of assesmentList | groupBy: 'heading'">
                <tr class="tr-table">
                    <th colspan="5">
                        {{row.key}}
                    </th>
                </tr>
                <tr *ngFor="let drow of row.value">
                    <td>
                        {{drow.assresid}} {{drow.subheading}}
                    </td>
                    <td>
                        {{drow.prevgrade}}
                    </td>
                    <td>
                        {{drow.prevresremark}}
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="form-line">
                                <select id="gradeid" name="grade" [(ngModel)]="drow.gradeid" class="form-control {{'grade' + drow.assresid}}" tabindex="7">
                                    <option [value]="0">Select Grade</option>
                                    <option *ngFor="let mdrow of drow.gradelist" [value]="mdrow.gradeid">
                                        {{mdrow.gradename}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control msg" [(ngModel)]="drow.resremark" tabindex="8">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="form-group">
            <div class="form-line">
                <label class="control-label">Remark</label>
                <textarea [(ngModel)]="remark" rows="5" class="form-control no-resize auto-growth msg" maxlength="500" tabindex="9"></textarea>
            </div>
        </div>
    </div>
</div>