<div class="card">
    <div class="header">
        <h4>Rider</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveRiderInfo()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>

    <div class="row clearfix">
        <div class="col-md-6 border">
            <div class="header">
                <h4>General Details</h4>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">First Name <strong>*</strong></label>
                                <input type="text" name="fname" [(ngModel)]="fname" maxlength="50" class="form-control fname" tabindex="1" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Last Name <strong>*</strong></label>
                                <input type="text" name="lname" [(ngModel)]="lname" maxlength="50" class="form-control lname" tabindex="2" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Aadhar No</label>
                                <input type="number" name="aadharno" [(ngModel)]="aadharno" maxlength="50" class="form-control" tabindex="3" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Driving License <strong>*</strong></label>
                                <input type="text" name="licenseno" [(ngModel)]="licenseno" maxlength="50" class="form-control licenseno" tabindex="4" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Official Mobile <strong>*</strong></label>
                                <input type="number" name="ofclmob" [(ngModel)]="ofclmob" maxlength="10" class="form-control ofclmob" tabindex="5" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Personal Mobile</label>
                                <input type="number" name="prsnlmob" [(ngModel)]="prsnlmob" maxlength="10" class="form-control" tabindex="5" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Official Email <strong>*</strong></label>
                                <input type="email" name="ofclemail" [(ngModel)]="ofclemail" maxlength="50" class="form-control ofclemail" tabindex="6" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Personal Email</label>
                                <input type="email" name="prsnlemail" [(ngModel)]="prsnlemail" maxlength="50" class="form-control" tabindex="6" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Date of Birth</label>
                                <input type="date" name="dob" [(ngModel)]="dob" class="form-control" tabindex="7">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Gender</label>
                                <select name="gender" [(ngModel)]="gender" class="form-control" tabindex="8">
                                    <option [value]="''">Select Gender</option>
                                    <option *ngFor="let row of genderDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Marital Status</label>
                                <select name="gender" [(ngModel)]="maritalstatus" class="form-control" tabindex="9">
                                    <option [value]="''">Select Marital Status</option>
                                    <option *ngFor="let row of maritalstatusDT" [value]="row.key">
                                        {{row.val}}
                                    </option>   
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Boot Cash</label>
                                <input type="text" name="bootcash" [(ngModel)]="bootcash" class="form-control bootcash" tabindex="10">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Vehicle Type</label>
                                <select name="gender" [(ngModel)]="vehtyp" class="form-control" tabindex="11">
                                    <option [value]="''">Select Vehicle Type</option>
                                    <option *ngFor="let row of vehicleDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">{{vehtyp}} No</label>
                                <input type="text" name="vehno" [(ngModel)]="vehno" class="form-control vehno" tabindex="12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header">
                <h4>Bank Details</h4>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Bank Name <strong>*</strong></label>
                                <input type="text" name="bknm" [(ngModel)]="bknm" maxlength="50" class="form-control bknm" tabindex="24" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Rider's Name In Bank</label>
                                <input type="text" name="rdrbknm" [(ngModel)]="rdrbknm" maxlength="50" class="form-control rdrpwd" tabindex="25" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Account No <strong>*</strong></label>
                                <input type="text" name="acno" [(ngModel)]="acno" maxlength="50" class="form-control acno" tabindex="26" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">IFSC Code</label>
                                <input type="text" name="ifsc" [(ngModel)]="ifsc" maxlength="50" class="form-control ifsc" tabindex="27" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Branch <strong>*</strong></label>
                                <input type="text" name="branch" [(ngModel)]="branch" maxlength="50" class="form-control branch" tabindex="28" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="header">
                <h4>Login Details</h4>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Rider Code <strong>*</strong></label>
                                <input type="text" name="rdrcode" [(ngModel)]="rdrcode" maxlength="50" class="form-control rdrcode" tabindex="13" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Password</label>
                                <input type="password" name="rdrpwd" [(ngModel)]="rdrpwd" maxlength="50" class="form-control rdrpwd" tabindex="14" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header">
                <h4>Working Details</h4>
            </div>
            <div class="body">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Address <strong>*</strong></label>
                        <textarea [(ngModel)]="address" rows="5" class="form-control no-resize auto-growth address" maxlength="500" tabindex="15"></textarea>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Country <strong>*</strong></label>
                                <input type="text" [(ngModel)]="country" class="form-control country" maxlength="20" tabindex="16" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">State <strong>*</strong></label>
                                <input type="text" [(ngModel)]="state" class="form-control state" maxlength="20" tabindex="17" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">City <strong>*</strong></label>
                                <input type="text" [(ngModel)]="city" class="form-control city" maxlength="20" tabindex="18" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Pin Code <strong>*</strong></label>
                                <input type="text" [(ngModel)]="pincode" class="form-control" maxlength="20" tabindex="19" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Hotspot <strong>*</strong></label>
                                <p-autoComplete id="hotspot" name="hotspot" [(ngModel)]="hotspotname" [tabindex]="20" (onSelect)="selectHotspotData($event)" [suggestions]="hotspotDT" (completeMethod)="getHotspotData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete hotspot"></p-autoComplete>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Rider Type <strong>*</strong></label>
                                <select name="gender" [(ngModel)]="rdrtyp" class="form-control" tabindex="21">
                                    <option [value]="''">Select Rider Type</option>
                                    <option *ngFor="let row of rdrtypDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Salary Package <strong>*</strong></label>
                                <input type="text" [(ngModel)]="salpkg" class="form-control" maxlength="20" tabindex="22" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Working Shift <strong>*</strong></label>
                                <input type="text" [(ngModel)]="workshift" class="form-control" maxlength="20" tabindex="23" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-line">
                        <div id="week">
                            <span style="margin-right:5px;" *ngFor="let week of weekDT; let i = index;">
                                <input type="checkbox" id="{{week.key}}" value="{{week.key}}" name="week{{i + 1}}" data-menuid="week.key" data-right="item"
                                    class="actrights filled-in" />
                                <label for="{{week.key}}">{{week.val}}</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>