<div class="card">
    <div class="header">
        <h4>Batch</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveBatchInfo()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-9 border">
                <div class="row clearfix">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Batch Code</label>
                                <input type="text" [(ngModel)]="batchcode" class="form-control" placeholder="Batch Code" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Batch Name</label>
                                <input type="text" [(ngModel)]="batchname" class="form-control" placeholder="Batch Name" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>School Name</label>
                                <select [(ngModel)]="schoolid" class="form-control">
                                    <option [value]="0">Select School</option>
                                    <option *ngFor="let row of schoolDT" [value]="row.key">	
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="form-line">
                                <label>From Time</label>
                                <input type="time" [(ngModel)]="fromtime" class="form-control" placeholder="From Time" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="form-line">
                                <label>To Time</label>
                                <input type="time" [(ngModel)]="totime" class="form-control" placeholder="To Time" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-line">
                                <textarea [(ngModel)]="instruction" rows="4" class="form-control no-resize auto-growth" placeholder="Remark"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Select Week</label>
                    <div *ngFor="let week of weekDT">
                        <div class="form-line">
                            <p-checkbox name="{{week.key}}" value="{{week.key}}" label="{{week.val}}" [(ngModel)]="selectedWeek"></p-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>