<div class="card">
    <div class="header">
        <h4>Entity</h4>
        <ul class="header-dropdown m-r--5">
            <li *ngIf="schid !== 0">
                <span class="switch">
                    <label><input type="checkbox" [(ngModel)]="isactive" (ngModelChange)="active_deactiveEntityInfo()"><span class="lever"></span></label>
                </span>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveEntityInfo()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-6 border">
                <div class="row clearfix">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Entity Type</label>
                                <select id="entttype" [(ngModel)]="entttype" class="form-control entttype">
                                    <option *ngFor="let row of entttypeDT" [value]="row.key">	
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">{{entttype}} Code <strong>*</strong></label>
                                <input type="text" [(ngModel)]="schcd" class="form-control schcd" maxlength="10" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">{{entttype}} Name</label>
                                <input type="text" [(ngModel)]="schnm" class="form-control schnm" maxlength="200" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">{{entttype}} Vehicles (How Many)</label>
                                <input type="text" [(ngModel)]="schvehs" OnlyNumber="true" class="form-control schvehs" maxlength="5" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Operator Vehicles (How Many) <strong>*</strong></label>
                                <input type="text" [(ngModel)]="oprvehs" OnlyNumber="true" class="form-control oprvehs" maxlength="5" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Remark</label>
                                <textarea [(ngModel)]="remark1" rows="5" class="form-control no-resize auto-growth" maxlength="500"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group" id="address">
                            <div class="form-line">
                                <label class="control-label">Address <strong>*</strong></label>
                                <textarea [(ngModel)]="address" rows="5" class="form-control no-resize auto-growth address" maxlength="500" (keydown.tab)="getLatAndLong()"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Lat</label>
                                <input type="text" [(ngModel)]="lat" OnlyNumber="true" class="form-control lat" maxlength="50" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Long</label>
                                <input type="text" [(ngModel)]="lon" OnlyNumber="true" class="form-control lon" maxlength="50" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Country <strong>*</strong></label>
                                <input type="text" [(ngModel)]="country" class="form-control country" maxlength="20" tabindex="11" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">State <strong>*</strong></label>
                                <select [(ngModel)]="state" class="form-control state" tabindex="12" (ngModelChange)="fillCityDropDown()">
                                    <option [value]="0">Select State</option>
                                    <option *ngFor="let row of stateDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">City <strong>*</strong></label>
                                <select [(ngModel)]="city" class="form-control city" tabindex="13" (ngModelChange)="fillAreaDropDown()">
                                    <option [value]="0">Select City</option>
                                    <option *ngFor="let row of cityDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header">
        <h4>Primary Contact</h4>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-5">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Name</label>
                        <input type="text" [(ngModel)]="name" class="form-control" maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Contact No</label>
                        <input type="text" [(ngModel)]="mobile" class="form-control" maxlength="10" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Email</label>
                        <input type="text" [(ngModel)]="email" class="form-control" maxlength="150" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header">
        <h4>Secondary Contact</h4>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-5">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Name</label>
                        <input type="text" [(ngModel)]="cpname" class="form-control cpname" maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Contact No</label>
                        <input type="text" [(ngModel)]="cpmobile" class="form-control cpmobile" maxlength="10" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Email</label>
                        <input type="text" [(ngModel)]="cpemail" class="form-control cpemail" maxlength="150" />
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <button type="button" class="btn btn-theme btn-xs" (click)="addCPRow()">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="body" *ngIf="contactDT.length">
        <p-dataTable #dt [value]="contactDT" [lazy]="true">
            <p-column header="#" [style]="{'width':'50px','text-align':'center'}">
                <template let-i="rowIndex" pTemplate="body">
                    {{i + 1}}
                </template>
            </p-column>
            <p-column header="Name" field="cpname" [style]="{'text-align':'left'}"></p-column>
            <p-column header="Contact No" field="cpcontactno" [style]="{'width':'250px','text-align':'left'}"></p-column>
            <p-column header="Email" field="cpemail" [style]="{'width':'250px','text-align':'left'}"></p-column>
            <p-column [style]="{'width':'50px','text-align':'center'}">
                <template let-col let-row="rowData" pTemplate="body">
                    <button class="btn btn-danger btn-xs" (click)="deleteCPRow(row)"><i class="material-icons">delete</i></button>
                </template>
            </p-column>
        </p-dataTable>
    </div>

    <div class="header">
        <h4>Week Days
            <h6>(Working Days)</h6>
        </h4>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-8">
                <div id="week">
                    <span style="margin-right:5px;" *ngFor="let week of weekDT; let i = index;">
                        <input type="checkbox" id="{{week.key}}" value="{{week.key}}" name="week{{i + 1}}" data-menuid="week.key" data-right="item"
                            class="actrights filled-in" />
                        <label for="{{week.key}}">{{week.val}}</label>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <p-fileUpload name="fileUploaded" url="{{uploadconfig.server}}" (onUpload)="onUpload($event)" accept="{{uploadconfig.acceptedFiles}}" maxFileSize="{{uploadconfig.maxFilesize}}" auto="auto">
                    <template pTemplate type="content">
                        <div *ngIf="uploadPhotoDT.length">
                            <div *ngFor="let file of uploadPhotoDT" class="box">
                                <img src="{{uploadconfig.uploadurl + file.athurl}}" onerror="this.src='assets/img/nologo.gif';" height="40px" />
                            </div>
                        </div>
                        <span *ngIf="!uploadPhotoDT.length">Upload {{entttype}} Logo Here....</span>
                    </template>
                </p-fileUpload>
            </div>
        </div>
    </div>
</div>