<div class="card">
    <div class="header">
        <h4>Exam Result</h4>

        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="addExamResult()">
                    <span class="material-icons font-20 float-left">add</span> <span class="float-right font-13 pad-03">Add New</span>
                </a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="openBulkUploadPopup()">
                    <span class="material-icons font-20 float-left">add</span> <span class="float-right font-13 pad-03">Bulk Upload</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-2 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Academic Year <strong>*</strong></label>
                        <select id="ayid" name="ayname" [(ngModel)]="ayid" class="form-control ayname" tabindex="1">
                            <option [value]="0">Select Academic Year</option>
                            <option *ngFor="let row of ayDT" [value]="row.id">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Class <strong>*</strong></label>
                        <select id="clsid" name="clsname" [(ngModel)]="clsid" class="form-control class" tabindex="2">
                            <option [value]="0">Select Class</option>
                            <option *ngFor="let row of classDT" [value]="row.id">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Student <strong>*</strong></label>
                        <p-autoComplete id="studid" name="studname" [(ngModel)]="studsdata" [tabindex]="4" (onSelect)="selectStudentData($event)" [suggestions]="studentDT" (completeMethod)="getStudentData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete studname"></p-autoComplete>
                        <span class="material-icons inputsearchico pad-20">search</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-4">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Exam Type <strong>*</strong></label>
                        <select id="smstrid" name="smstrname" [(ngModel)]="smstrid" class="form-control smstrname" tabindex="2">
                            <option [value]="0">Select Exam Type</option>
                            <option *ngFor="let row of examTypeDT" [value]="row.id">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2 pad-20">
                <div class="form-group">
                    <button type="button" class="btn btn-theme btn-xs" (click)="getExamResult()">
                        <i class="material-icons">arrow_forward</i>
                    </button>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12" *ngIf="examResultDT.length">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Subject
                            </th>
                            <th>
                                Passing Marks
                            </th>
                            <th>
                                Marks
                            </th>
                            <th>
                                Out Of Marks
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Remark
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!examResultDT.length">
                        <tr>
                            <td colspan="8">
                                <h5>No Data Found</h5>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngFor="let row of examResultDT | groupBy: 'studshead'">
                        <tr class="tr-table">
                            <th colspan="8">
                                {{row.key}}
                            </th>
                        </tr>
                        <tr *ngFor="let drow of row.value">
                            <td>
                                {{drow.subname}}
                            </td>
                            <td align="right">
                                {{drow.passmarks}}
                            </td>
                            <td align="right">
                                {{drow.marks}}
                            </td>
                            <td align="right">
                                {{drow.outofmarks}}
                            </td>
                            <td>
                                {{drow.status}}
                            </td>
                            <td>
                                {{drow.resremark}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bulkUploadModal" tabindex="-1" role="dialog">
    <div class="modal-dialog full-width" role="document">
        <div class="modal-lg modal-content">
            <div class="modal-header">
                <div class="row clearfix">
                    <div class="col-md-8 col-xs-8">
                        <h4>Student : Bulk Upload</h4>
                    </div>
                    <div class="col-md-4 col-xs-4 text-right">
                        <a role="button" (click)="closeBulkUploadPopup()">
                            <i class="material-icons">cancel</i>
                        </a>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-2">
                        <h4>View : Excel Format</h4>
                    </div>
                    <div class="col-md-2">
                        <a role="button" (click)="downloadExamResultFormat('xls', 'all')">
                            <i class="material-icons">file_download</i> Download with details
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a role="button" (click)="downloadExamResultFormat('xls', 'single')">
                            <i class="material-icons">file_download</i> Download without details
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <p-fileUpload mode="basic" name="fileUploaded" url="{{uploadfileconfig.server}}" chooseLabel="Excel Upload" (onBeforeUpload)="onBeforeUpload($event)" (onUpload)="onFileUpload($event)" accept="{{uploadfileconfig.acceptedFiles}}" maxFileSize="{{uploadfileconfig.maxFilesize}}"
                                auto="true"></p-fileUpload>

                            <div *ngIf="uploadFileDT.length">
                                <div *ngFor="let file of uploadFileDT" class="box">
                                    {{file.athurl}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div id="divexmresrpt">

                </div>
                <table class="table table-bordered table-responsive hide">
                    <thead>
                        <tr>
                            <th>
                                exam_date
                            </th>
                            <th>
                                from_time
                            </th>
                            <th>
                                to_time
                            </th>
                            <th>
                                roll_no
                            </th>
                            <th>
                                student_name
                            </th>
                            <th>
                                subject_name
                            </th>
                            <th>
                                marks
                            </th>
                            <th>
                                out_of_marks
                            </th>
                            <th>
                                remark
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1/Nov/2017
                            </td>
                            <td>
                                09:30 AM
                            </td>
                            <td>
                                11:30 AM
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                Nimit Nilesh Shah
                            </td>
                            <td>
                                Hindi
                            </td>
                            <td>
                                40
                            </td>
                            <td>
                                50
                            </td>
                            <td>
                                Good
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>