<div class="card">
    <div class="header">
        <h4>User Rights</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveUserRights()">
                    <i class="material-icons">save</i>
                </a>
            </li>
        </ul>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-5">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">User Name</label>
                        <p-autoComplete id="uname" name="uname" [(ngModel)]="uname" [tabindex]="1" (onSelect)="selectAutoUsers($event, 1)" [suggestions]="usersDT" (completeMethod)="getAutoUsers($event)" field="uname" [minLength]="1" [size]="30" class="form-controlAutoComplete uname"></p-autoComplete>
                        <span class="material-icons inputserachico">search</span>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Reference User Name</label>
                        <p-autoComplete id="refuname" name="refuname" [(ngModel)]="refuname" [tabindex]="2" (onSelect)="selectAutoRefUsers($event, 1)" [suggestions]="usersDT" (completeMethod)="getAutoUsers($event)" field="uname" [minLength]="1" [size]="30" class="form-controlAutoComplete refuname"></p-autoComplete>
                        <span class="material-icons inputserachico">search</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-theme btn-xs" (click)="getUserRightsById(refuid, refutype)">
                    <span class="material-icons">restore</span>
                </button>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="form-line">
                        <input id="selectall" name="selectall" type="checkbox" (change)="selectAndDeselectAllCheckboxes()" class="filled-in">
                        <label for="selectall">Select All</label>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let mrow of menudetails | groupBy:'pname'; let i = index;">
            <div class="block-header">
                <h4>{{mrow.key}}</h4>
            </div>
            <div class="row clearfix allcheckboxes" *ngFor="let actrow of mrow.value">
                <div class="col-md-3">
                    <input id="{{actrow.mid}}" name="menu{{i + 1}}" type="checkbox" value="{{actrow.mid}}" (change)="selectAndDeselectMenuWiseCheckboxes(actrow)" class="filled-in" />
                    <label for="{{actrow.mid}}">{{actrow.mname}}</label>
                </div>
                <div class="col-md-9" id="M{{actrow.mid}}">
                    <span style="margin-right:5px;" *ngFor="let item of getMenuRights(actrow.maction) let i = index">
						<input type="checkbox" id="{{actrow.mid}}{{item}}" value="{{item}}" name="menuitem{{i + 1}}" data-menuid="actrow.mid" data-right="item"
							class="actrights filled-in" />
						<label for="{{actrow.mid}}{{item}}">{{item}}</label>
					</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<p-checkbox id="{{row.mid}}" name="menu{{i + 1}}" value="{{row.mid}}" label="{{row.mname}}" [(ngModel)]="row.selectedrights"
	binary="true"></p-checkbox>-->

<!--<p-checkbox input-id="{{row.mid}}{{item}}" name="item{{i + 1}}" value="{{item}}" label="{{item}}" binary="true"></p-checkbox>-->

<!--<input id="{{row.mid}}" name="menu{{i + 1}}" type="checkbox" value="{{row.mid}}" (change)="selectAndDeselectMenuWiseCheckboxes(row)"/>&nbsp;{{row.mname}}

<div class="row">
	<div class="col-md-4">
		<input id="{{drow.mid}}" name="menu{{i + 1}}" type="checkbox" value="{{drow.mid}}" (change)="selectAndDeselectMenuWiseCheckboxes(drow)"
		/>&nbsp;{{drow.mname}}
	</div>
	<div class="col-md-8" id="M{{drow.mid}}">
		<span style="margin-right:5px;" *ngFor="let item of getMenuRights(drow.mrights) let i = index">
			<input id="{{drow.mid}}{{item}}" name="menuitem{{i + 1}}" data-menuid="drow.mid" data-right="item" type="checkbox" value="{{item}}" class="actrights" />&nbsp;{{item}}
		</span>
		<span *ngIf="drow.ismore">
			<a role="button" (click)="openMoreRights(drow)">More</a>
		</span>
	</div>
</div>-->