<div class="card">
    <div class="header">
        <h4>Master Of Master</h4>
        <ul class="header-dropdown m-r--5">
            <li *ngIf="uid !== 0">
                <span class="switch">
                    <label><input type="checkbox" [(ngModel)]="isactive" (ngModelChange)="active_deactiveMOMInfo()"><span class="lever"></span></label>
                </span>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveMOMInfo()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-6">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Group</label>
                                <select id="group" name="group" [(ngModel)]="group" class="form-control">
                                    <option value="">-- Select Group --</option>
                                    <option *ngFor="let grow of groupdt" [value]="grow.grpcd">
                                        {{grow.grpnm}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Key</label>
                                <input id="key" name="key" type="text" [(ngModel)]="key" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Value</label>
                        <input id="val" name="val" type="text" [(ngModel)]="val" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>