<div class="card">
    <div class="header">
        <h4>Routes / Stops</h4>

        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme" (click)="saveStopsInfo()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-4 border">
                <div class="row clearfix">
                    <div class="col-md-10">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Route Name <strong>*</strong></label>
                                <select id="rtid" [(ngModel)]="rtid" class="form-control rtid" tabindex="1" (ngModelChange)="getStopsByRoute()">
                                    <option [value]="0">Select Route</option>
                                    <option *ngFor="let row of routesDT" [value]="row.key">
                                        {{row.value}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-top: 20px">
                        <div class="form-group">
                            <button type="button" class="btn btn-theme" (click)="openRoutesPopup()" *ngIf="rtid == 0">
                                <span class="material-icons">add</span>
                            </button>
                            <button type="button" class="btn btn-theme" (click)="openRoutesPopup()" *ngIf="rtid !== 0">
                                <span class="material-icons">edit</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Stops Type <strong>*</strong></label>
                                <select id="stptype" [(ngModel)]="stptype" class="form-control stptype" tabindex="2">
                                    <option [value]="''">Select Stops Type</option>
                                    <option *ngFor="let row of stopsTypeDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Stops Name <strong>*</strong></label>
                                <input type="text" [(ngModel)]="stpname" class="form-control stpname" maxlength="50" tabindex="3" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12">
                        <div id="address" class="form-group">
                            <div class="form-line">
                                <label class="control-label">Address <strong>*</strong></label>
                                <textarea [(ngModel)]="address" placeholder="Enter Address and Press Tab Or Drag map marker to set location" rows="5" class="form-control no-resize auto-growth address" maxlength="500" tabindex="4" (keydown.tab)="getLatAndLon()"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Latitude <strong>*</strong></label>
                                <input type="text" [(ngModel)]="lat" class="form-control lat" maxlength="50" tabindex="5" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Longitude <strong>*</strong></label>
                                <input type="text" [(ngModel)]="lon" class="form-control lon" maxlength="50" tabindex="6" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Radius</label>
                                <input type="text" [(ngModel)]="radius" class="form-control radius" maxlength="50" tabindex="7" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pad-20">
                        <div *ngIf="!isedit">
                            <div class="form-group" align="right">
                                <button type="button" class="btn btn-theme" (click)="addStopsList()">
                                    <span class="material-icons">add</span>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="isedit">
                            <div class="form-group" align="right">
                                <button type="button" class="btn btn-theme" (click)="updateStopsList()"> 
                                    <span class="material-icons">done</span>
                                </button>
                                <button type="button" class="btn btn-danger" (click)="resetStopsFields()">
                                    <span class="material-icons">cancel</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <p-gmap #gmap [style]="{'width':'100%','height':'350px'}" (onOverlayDragEnd)="ovrldrag($event)" [options]="options" [overlays]="overlays"></p-gmap>
            </div>
        </div>

        <div *ngIf="stopsList.length">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th width="30px">
                        </th>
                        <th width="250px">
                            Stop Name
                        </th>
                        <th width="100px">
                            Stop Type
                        </th>
                        <th>
                            Address
                        </th>
                        <th width="200px">
                            Geo Location
                        </th>
                        <th width="100px">
                            Radius
                        </th>
                        <th width="100px">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let stprow of stopsList | filterBy:{'isactive':true}; let i = index;">
                        <td>
                            {{i+1}}
                        </td>
                        <td>
                            <input id="{{stprow.rowid}}" name="{{stprow.rowid}}" [(ngModel)]="stprow.isviewmap" (ngModelChange)="isViewMapShow(stprow)" type="checkbox" class="filled-in">
                            <label for="{{stprow.rowid}}">{{stprow.stpname}}</label>
                        </td>
                        <td>
                            {{stprow.stptypenm}}
                        </td>
                        <td>
                            {{stprow.address}}
                        </td>
                        <td>
                            {{stprow.lat + ", " + stprow.lon}}
                        </td>
                        <td>
                            {{stprow.radius | _currency: {'decimals':2,'currsym':''} }}
                        </td>
                        <td>
                            <div class="form-group">
                                <button type="button" class="btn btn-theme" (click)="editStopsList(stprow)">
                                    <i class="material-icons">edit</i>
                                </button>

                                <button type="button" class="btn btn-danger" (click)="deleteStopsList(stprow)">
                                    <i class="material-icons">delete</i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="addRoutesModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Create Routes</h4>
            </div>
            <div class="modal-body" id="reason">
                <label class="control-label">Routes Name <strong>*</strong></label>
                <input type="text" [(ngModel)]="rtname" class="form-control rtname" maxlength="100" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-theme" (click)="saveRoutesInfo()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>