<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-6">
                <h4>View Pick Up and Drop</h4>
            </div>
            <div class="col-md-6" align="right" *ngIf="acteditrights == 'edit'">
                <button type="button" class="btn btn-theme btn-xs" (click)="savePickDropInfo()">
                    <i class="material-icons">save</i>
                </button>
            </div>
        </div>
    </div>
    <div class="body" *ngIf="acteditrights == 'edit'">
        <div class="row clearfix">
            <div class="col-md-6">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Entity Name <strong>*</strong></label>
                                <div class="row clearfix">
                                    <div class="col-md-10">
                                        <p-autoComplete id="enttname" name="enttname" [(ngModel)]="enttname" [tabindex]="1" (onSelect)="selectAutoData($event, 'entity')" [suggestions]="entityDT" (completeMethod)="getEntityData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete enttname"
                                            tabindex="10"></p-autoComplete>
                                    </div>
                                    <div class="col-md-2" align="right">
                                        <span class="material-icons">search</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Batch Name</label>
                                <select [(ngModel)]="batchid" class="form-control" tabindex="2">
                                    <option [value]="0">Select Batch</option>
                                    <option *ngFor="let row of batchDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Instrunction</label>
                                <textarea [(ngModel)]="instrunction" rows="5" class="form-control no-resize auto-growth" tabindex="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <p-schedule [events]="events" [header]="header" defaultDate="{{defaultDate}}" [eventLimit]="4" [editable]="true" (onDayClick)="getPickDropInfo($event);"></p-schedule>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row clearfix">
            <div class="col-md-6 border">
                <div class="header content-header">
                    <span>
                        <input id="chkpickup" name="chkpickup" [(ngModel)]="ispickup" type="checkbox" checked class="filled-in" (ngModelChange)="hideWhenPickData()">
                        <label for="chkpickup">Pick-Up</label>
                    </span>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">From Date</label>
                                <input type="date" [(ngModel)]="pickfromdate" class="form-control" tabindex="4" (ngModelChange)="dropfromdate=pickfromdate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">To Date</label>
                                <input type="date" [(ngModel)]="picktodate" class="form-control" tabindex="5" (ngModelChange)="droptodate=picktodate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Driver Name</label>
                        <select [(ngModel)]="pickdriverid" class="form-control" tabindex="6" (ngModelChange)="setDropDriver()">
                            <option [value]="0">Select Driver</option>
                            <option *ngFor="let row of driverDT" [value]="row.key">	
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Vehicle Name</label>
                        <select [(ngModel)]="pickvehicleid" class="form-control pveh" tabindex="7" (ngModelChange)="setDropVehicle()">
                            <option [value]="''">Select Vehicle</option>
                            <option *ngFor="let row of vehicleDT" [value]="row.key">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Passenger Type</label>
                        <select [(ngModel)]="pickpsngrtype" class="form-control pickpsngrtype" tabindex="8" (ngModelChange)="setDropPsngrType();">
                            <option [value]="'bypsngr'">By Passenger</option>
                            <option [value]="'byrt'">By Route</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" *ngIf="pickpsngrtype == 'byrt'">
                    <div class="form-line">
                        <label class="control-label">Route Name</label>
                        <select [(ngModel)]="pickrtid" class="form-control pickrtname" tabindex="9" (ngModelChange)="setDropRoute();pickupPassengerByRoute()">
                            <option [value]="0">Select Route</option>
                            <option *ngFor="let row of routeDT" [value]="row.key">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group" *ngIf="pickpsngrtype == 'bypsngr'">
                    <div class="form-line">
                        <label class="control-label">Passenger Name</label>
                        <div class="row clearfix">
                            <div class="col-md-10">
                                <p-autoComplete id="pickpassengername" name="pickpassengername" [(ngModel)]="pickpassengername" [tabindex]="10" (onSelect)="selectAutoData($event, 'pickstuds')" [suggestions]="passengerDT" (completeMethod)="getPassengerData($event)" field="label" [minLength]="1"
                                    [size]="30" class="form-controlAutoComplete pickpassengername"></p-autoComplete>
                            </div>
                            <div class="col-md-2" align="right">
                                <span class="material-icons">search</span>
                            </div>
                        </div>
                    </div>
                </div>

                <p-orderList [value]="pickPassengerDT" [listStyle]="{'height':'250px'}" [responsive]="true" header="Passenger">
                    <template let-passenger pTemplate="editor">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="ui-helper-clearfix">
                                    {{passenger.stdnm}}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="ui-helper-clearfix">
                                    <button type="button" class="btn btn-danger btn-xs" (click)="deletePickUpPassenger(passenger)"><i class="material-icons">delete</i></button>
                                </div>
                            </div>
                        </div>
                    </template>
                </p-orderList>
            </div>
            <div class="col-md-6">
                <div class="header content-header">
                    <span>
                        <input id="chkdrop" name="chkdrop" [(ngModel)]="isdrop" type="checkbox" checked class="filled-in" (ngModelChange)="copyPickInfoInDrop()">
                        <label for="chkdrop">Drop</label>
                    </span>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">From Date</label>
                                <input type="date" [(ngModel)]="dropfromdate" class="form-control" tabindex="11" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">To Date</label>
                                <input type="date" [(ngModel)]="droptodate" class="form-control" tabindex="12" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Driver Name</label>
                        <select [(ngModel)]="dropdriverid" class="form-control" tabindex="13">
                            <option [value]="0">Select Driver</option>
                            <option *ngFor="let row of driverDT" [value]="row.key">	
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Vehicle Name</label>
                        <select [(ngModel)]="dropvehicleid" class="form-control dveh" tabindex="14">
                            <option [value]="''">Select Vehicle</option>
                            <option *ngFor="let row of vehicleDT" [value]="row.key">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Passenger Type</label>
                        <select [(ngModel)]="droppsngrtype" class="form-control droppsngrtype" tabindex="15">
                            <option [value]="'bypsngr'">By Passenger</option>
                            <option [value]="'byrt'">By Route</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" *ngIf="droppsngrtype == 'byrt'">
                    <div class="form-line">
                        <label class="control-label">Route Name</label>
                        <select [(ngModel)]="droprtid" class="form-control droprtname" tabindex="16" (ngModelChange)="dropPassengerByRoute()">
                            <option [value]="0">Select Route</option>
                            <option *ngFor="let row of routeDT" [value]="row.key">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group" *ngIf="droppsngrtype == 'bypsngr'">
                    <div class="form-line">
                        <label class="control-label">Passenger Name</label>
                        <p-autoComplete id="droppassengername" name="droppassengername" [(ngModel)]="droppassengername" [tabindex]="17" (onSelect)="selectAutoData($event, 'dropstuds')" [suggestions]="passengerDT" (completeMethod)="getPassengerData($event)" field="label" [minLength]="1"
                            [size]="30" class="form-controlAutoComplete passengername"></p-autoComplete>
                    </div>
                </div>

                <p-orderList [value]="dropPassengerDT" [listStyle]="{'height':'250px'}" [responsive]="true" header="Passenger">
                    <template let-passenger pTemplate="item">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="ui-helper-clearfix">
                                    {{passenger.stdnm}}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="ui-helper-clearfix">
                                    <button type="button" class="btn btn-danger btn-xs" (click)="deleteDropPassenger(passenger)"><i class="material-icons">delete</i></button>
                                </div>
                            </div>
                        </div>
                    </template>
                </p-orderList>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-6 border">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Pickup Attendent Name</label>
                        <div class="row clearfix">
                            <div class="col-md-10">
                                <p-autoComplete id="pickattname" name="pickattname" [(ngModel)]="pickattname" [tabindex]="18" (onSelect)="selectAutoData($event, 'pickatt')" [suggestions]="attendantDT" (completeMethod)="getAttendantData($event)" field="label" [minLength]="1" [size]="30"
                                    class="form-controlAutoComplete pickattname"></p-autoComplete>
                            </div>
                            <div class="col-md-2" align="right">
                                <span class="material-icons">search</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="pickAttList.length">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let row of pickAttList">
                            {{row.attnm}}
                            <button type="button" class="btn btn-xs pull-right" (click)="deletePickAtt(row)"><i class="material-icons">delete</i></button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Drop Attendent Name</label>
                        <div class="row clearfix">
                            <div class="col-md-10">
                                <p-autoComplete id="dropattname" name="dropattname" [(ngModel)]="dropattname" [tabindex]="19" (onSelect)="selectAutoData($event, 'dropatt')" [suggestions]="attendantDT" (completeMethod)="getAttendantData($event)" field="label" [minLength]="1" [size]="30"
                                    class="form-controlAutoComplete dropattname"></p-autoComplete>
                            </div>
                            <div class="col-md-2" align="right">
                                <span class="material-icons">search</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="dropAttList.length">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let row of dropAttList">
                            {{row.attnm}}
                            <button type="button" class="btn btn-xs pull-right" (click)="deleteDropAtt(row)"><i class="material-icons">delete</i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>