<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-10">
                <h4>Merchant</h4>
            </div>
            <div class="col-md-2" *ngIf="actaddrights === 'add'" align="right">
                <button type="button" class="btn btn-theme btn-xs" (click)="addMerchantForm()">
                    <span class="material-icons">add</span>
                </button>
            </div>
        </div>
    </div>

    <div class="body no-padding">
        <div class="row clearfix">
            <div class="col-md-12">
                <p-dataTable [value]="merchantDT" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30,40]">
                    <p-column field="mrchtnm" header="Merchant Name" [style]="{'text-align': 'left'}"></p-column>
                    <p-column field="iseod" header="EDO Allowed" [style]="{'width': '100px', 'text-align': 'left'}"></p-column>
                    <p-column field="isgetord" header="Get order" [style]="{'width': '100px', 'text-align': 'left'}"></p-column>
                    <p-column field="isagrmntsts" header="Agreement Status" [style]="{'width': '100px', 'text-align': 'left'}"></p-column>
                    <p-column field="isautoalloc" header="Auto Allocation" [style]="{'width': '100px', 'text-align': 'left'}"></p-column>
                    <p-column field="alloctime" header="Allocation Time" [style]="{'width': '100px', 'text-align': 'left'}"></p-column>
                    <p-column field="isrdravl" header="Rider Availability" [style]="{'width': '100px', 'text-align': 'left'}"></p-column>
                    <p-column field="avltime" header="Availability Time" [style]="{'width': '100px', 'text-align': 'left'}"></p-column>
                    <p-column field="ordtime" header="Order Time" [style]="{'width': '100px', 'text-align': 'left'}"></p-column>
                    <p-column [style]="{'width': '50px', 'align': 'left'}" *ngIf="acteditrights==='edit'">
                        <template let-row="rowData" pTemplate type="body">
                            <button type="button" class="btn btn-theme btn-xs" (click)="editMerchantGrid(row)">
                                <i class="material-icons">edit</i>
                            </button>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>