<div class="card">
    <div class="header">
        <h4>Receipt Book</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="addReceiptBook()">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>
    </div>

    <div class="body">
        <table class="table table-bordered table-responsive reports">
            <thead>
                <tr>
                    <th width="100px">Short Name</th>
                    <th width="250px">Full Name</th>
                    <th>Bank Name</th>
                    <th width="150px">Account No</th>
                    <th width="150px">IFSC</th>
                    <th width="50px">Status</th>
                    <th width="50px" align="right"></th>
                </tr>
            </thead>
            <tbody *ngIf="receiptBookDT.length">
                <tr *ngFor="let row of receiptBookDT">
                    <td>
                        {{row.rbcode}}
                    </td>
                    <td>
                        {{row.rbname}}
                    </td>
                    <td>
                        {{row.bankname}}
                    </td>
                    <td>
                        {{row.acno}}
                    </td>
                    <td>
                        {{row.ifsc}}
                    </td>
                    <td>
                        <span class="switch">
                            <label>
                                <input type="checkbox" [(ngModel)]="row.isactive" (ngModelChange)="active_deactive_ReceiptBook(row)">
                                <span class="lever"></span>
                        </label>
                        </span>
                    </td>
                    <td align="right">
                        <div class="form-group">
                            <button type="button" class="btn btn-theme btn-xs btn-xs-sm" (click)="editReceiptBook(row)">
                                <i class="material-icons">edit</i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="!receiptBookDT.length">
                <tr class="tr-table">
                    <th colspan="7">
                        No records found
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>