<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-2">
                <h4>Passenger</h4>
            </div>
            <div class="col-md-9 col-xs-9" *ngIf="actviewrights === 'view'">
                <div class="form-group">
                    <div class="form-line">
                        <div class="row clearfix">
                            <div class="col-md-1">
                                <label class="same-label">Entity</label>
                            </div>
                            <div class="col-md-9">
                                <p-autoComplete id="schoolname" name="schoolname" [(ngModel)]="schoolname" [tabindex]="9" (onSelect)="selectSchoolData($event)" [suggestions]="schoolDT" (completeMethod)="getSchoolData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete schoolname"></p-autoComplete>
                            </div>
                            <div class="col-md-2" align="right">
                                <span class="material-icons">search</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-xs-1" *ngIf="actaddrights === 'add'" align="right">
                <button type="button" class="btn btn-theme btn-xs" (click)="addPassengerForm()">
                    <i class="material-icons">add</i></button>
            </div>
        </div>
    </div>

    <div class="body no-padding">
        <div class="row clearfix">
            <div class="col-md-12">
                <p-dataTable [value]="passengerDT" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30,40]">
                    <p-column header="" [style]="{'width':'60px','text-align':'center'}">
                        <template let-row="rowData" pTemplate type="body">
                            <img alt="{{row.studentname}}" src="uploads/passenger/{{row.FilePath}}" onerror="this.src='assets/img/default.gif';" height="40px"
                                width="40px">
                        </template>
                    </p-column>
                    <p-column field="studentname" header="Passenger Name" [style]="{'text-align': 'left'}"></p-column>
                    <p-column field="schoolname" header="Entity Name" [style]="{'width': '300px', 'text-align': 'left'}"></p-column>
                    <p-column field="ownername" header="Owner Name" [style]="{'width': '200px', 'text-align': 'left'}"></p-column>
                    <p-column [style]="{'width': '50px', 'align': 'left'}" *ngIf="acteditrights==='edit'">
                        <template let-row="rowData" pTemplate type="body">
                            <button type="button" class="btn bg-orange waves-effect btn-xs" (click)="editPassengerForm(row)">
                                <i class="material-icons">edit</i>
                            </button>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>