<div class="card">
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-6">
                <h4>Student</h4>
            </div>
            <div class="col-md-6" align="right">
                <button type="button" class="btn bg-orange waves-effect btn-xs" (click)="addStudentForm()">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-12">
                <p-dataTable [value]="studentDT" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30,40]">
                    <p-column field="studentcode" header="Student Code" [style]="{'width': '150px', 'align': 'left'}"></p-column>
                    <p-column field="schoolname" header="School Name" [style]="{'width': '200px', 'align': 'left'}"></p-column>
                    <p-column field="ownername" header="Owner Name" [style]="{'width': '200px', 'align': 'left'}"></p-column>
                    <p-column [style]="{'width': '60px', 'align': 'left'}">
                        <template let-row="rowData" pTemplate type="body">
                            <button type="button" class="btn bg-orange waves-effect btn-xs" (click)="editStudentForm(row)">
                                <i class="material-icons">edit</i>
                            </button>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>