<div class="row clearfix">
    <div *ngIf="isplayerShow">

        <div class="col-md-12" class="backholder">
            <a class="backarrow" (click)="hidePlayer();" role="button">  <i class="material-icons">chevron_left</i>
                <span>Back to Search</span> </a>
        </div>
        <div class="col-md-12">

            <div class="row player">
                <div class="playholder">
                    <a (click)="playPause()" class="play" role="button"><i class="material-icons">{{ isplay == true ? 'pause_circle_outline' : 'play_circle_outline'}}</i></a>
                    <span class="vhbatr">
                <span class="vhbtrper">{{btr | _currency:{'decimals':0, 'currsym': '' }  }}%</span>
                    <span class="btr" style="border:1px solid #000;">
                    <span class="btr-line" title="{{btr}}%" [ngStyle]="{'width': btr+'%'}"></span>
                    </span>

                    </span>
                </div>
                <div style=" margin-left: 56px; margin-right: 12px;">

                    <p-slider [(ngModel)]="val" [animate]="true" [max]="maxrange" (mousedown)="mousedown()" [style]="{'margin-top': '6px'}" (onChange)="onSliderChnage($event)"></p-slider>
                    <span class="timer">{{servertimer}}</span>
                    <p-slider [(ngModel)]="speedval" [animate]="true" [min]="1" [max]="10" [step]="1" styleClass="speed" (onChange)="onSpeedSliderChnage($event)"></p-slider>
                    <span class="speedtext">{{speedval + "x"}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <ng-template ADHOST></ng-template>


            </div>
        </div>

    </div>
    <div *ngIf="!isplayerShow">
        <div class="header">
            <h6>Search Older History(60 days)</h6>
        </div>
        <!-- <button (click)="getTripDelta()">Start Trip</button>  -->
        <div class="col-md-6">
            <div class="form-group">
                <p-calendar [(ngModel)]="dateFromValue" [readonlyInput]="true" placeholder="From Date" inputStyleClass="form-control form-control-bordered"
                    dateFormat="dd-mm-yy" [showTime]="true"></p-calendar>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <p-calendar [(ngModel)]="dateToValue" [showTime]="true" [readonlyInput]="true" placeholder="To Date" inputStyleClass="form-control form-control-bordered"
                    dateFormat="dd-mm-yy"></p-calendar>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <button (click)="searchData()" class="btn btn-success btn-xs">Search For Trips</button>
        </div>
        <div class="col-md-12 text-center">
            <br/>
        </div>
        <div class="col-md-12">
            <div *ngFor="let row of historyDt" class="def-box" style="position:relative">
                <div class="trptype">
                    <span>{{row.pdtyp}}</span>
                </div>
                <div class="detailBlock">
                    <a class="slideright" (click)="showPlayer(row);" role="button">  <i class="material-icons"> chevron_right</i></a>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <b>{{  row.stdt | format :{'format':'DD-MMM-YYYY hh:mm A'} : '' }}</b>
                        </div>
                        <div class="col-md-12 leftmar">
                            <span class="material-icons ico-specify">pin_drop</span>{{ row.stpdt ? (row.stpdt | format :{'format':'DD-MMM-YYYY
                            hh:mm A'}) : 'Trip In Progress' }}
                        </div>
                        <div class="col-md-12 leftmar">
                            <!-- <span class="material-icons ico-specify">place</span>{{row.addr}} -->

                        </div>
                    </div>

                </div>
                <div class="statusicon" align="right">

                    <span class="material-icons">
                                {{row.st == "2" ? "beenhere" : "access_time"}}
                            </span>
                </div>
            </div>
        </div>

        <!-- <button (click)="getTripDelta()">Start Trip</button> -->

    </div>
</div>