<div class="card">
    <div class="header">
        <h4>Send Notification</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveNotification()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-6 border">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Group <strong>*</strong></label>
                        <select id="grpid" name="grpname" [(ngModel)]="grpid" class="form-control grpname" tabindex="5">
                            <option [value]="0">Select Group</option>
                            <option *ngFor="let row of groupDT" [value]="row.id">	
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Title <strong>*</strong></label>
                        <input [(ngModel)]="title" class="form-control title" maxlength="500" tabindex="3" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Message <strong>*</strong></label>
                        <textarea [(ngModel)]="msg" rows="5" class="form-control no-resize auto-growth msg" maxlength="500" tabindex="4"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row clearfix" *ngIf="standardDT.length">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input id="selectall" name="selectall" type="checkbox" (change)="selectAndDeselectAllCheckboxes()" class="filled-in">
                            <label for="selectall">Select All</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="allcheckboxes">
                            <div class="row clearfix">
                                <div class="col-md-4" *ngFor="let row of standardDT; let i = index;">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <span id="std{{row.id}}">
                                                <input id="{{row.id}}" name="std{{i + 1}}" type="checkbox" value="{{row.id}}" class="filled-in" />
                                                <label for="{{row.id}}">{{row.val}}</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>