.sortable-list-item {
    padding-top: 10px !important;
    padding-left: 10px !important;
    display: block !important;
    font-size: 15px;
}

.sortbbtn {
    margin-right: 9px;
}

.sortable-container .sortable-list {
    padding: 5px;
}

.sortable-container .sortable-list .active {
    background: #000000 !important;
    color: #ffffff !important;
}

.bordered {
    border: 1px solid #ccc !important;
    border-radius: 4px;
    height: 36px;
    padding: 4px!important;
}

.input-group-addon {
    padding: 6px 12px!important;
    background-color: #ccc!important;
}