<div class="card">
    <div class="header">
        <h4>User Vehicle Mapping</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme" (click)="saveUserVehicleMap()">
                    <i class="material-icons">save</i>
                </a>
            </li>
        </ul>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">User Name</label>
                        <p-autoComplete id="uname" name="uname" [(ngModel)]="selecteudUser" [tabindex]="1" (onSelect)="selectUserData($event, 1)" [suggestions]="usersDT" (completeMethod)="getUserData($event)" field="uname" [minLength]="1" [size]="30" class="form-controlAutoComplete uname"></p-autoComplete>
                        <span class="material-icons inputsearchico pad-20">search</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Vehicle</label>
                        <p-autoComplete id="vehname" name="vehname" [(ngModel)]="selectedvehicle" [tabindex]="2" (onSelect)="selectVehicleData($event, 1)" [suggestions]="usersDT" (completeMethod)="getVehicleData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete vehname"></p-autoComplete>
                        <span class="material-icons inputsearchico pad-20">search</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div *ngIf="vehicleDT.length">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let row of vehicleDT">
                                {{row.vehname}}
                                <button type="button" class="btn btn-danger pull-right" (click)="deleteVehicle(row)">
                                    <i class="material-icons">delete</i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>