<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-1">
                <h4>Entity</h4>
            </div>
            <div class="col-md-2">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="control-label">Entity Type</label>
                        <select id="entttype" [(ngModel)]="entttype" class="form-control entttype" (ngModelChange)="getEntityDetails()">
                            <option *ngFor="let row of entttypeDT" [value]="row.key">	
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Entity Name</label>
                        <p-autoComplete id="enttname" name="enttname" [(ngModel)]="enttname" [tabindex]="6" (onSelect)="selectEntityData($event)" [suggestions]="autoEntityDT" (completeMethod)="getEntityData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete enttname"></p-autoComplete>
                        <span class="material-icons inputserachico">search</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="padding-top: 20px;">
                <div class="form-group">
                    <button type="button" class="btn btn-theme btn-xs" (click)="resetEntityDetails()">
                        <span class="material-icons">restore</span>
                    </button>
                </div>
            </div>
            <div id="divShow" class="col-md-2 col-xs-2" align="right" style="padding-top: 20px">
                <button type="button" class="btn btn-theme btn-xs" (click)="isshEntity('grid')">
                    <i class="material-icons">apps</i></button>
                <button type="button" class="btn btn-theme btn-xs" (click)="isshEntity('list')">
                    <i class="material-icons">list</i></button>
            </div>
            <div class="col-md-1" style="padding-top: 20px;" align="right">
                <a role="button" class="btn btn-theme btn-xs" (click)="addEntityForm()"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>

    <div class="body no-padding">
        <div class="row clearfix" *ngIf="isShowGrid">
            <div class="col-md-12" *ngIf="entityDT.length">
                <div *ngFor="let row of entityDT | groupBy: 'entttype'">
                    <div class="header">
                        <b>{{row.key}}</b>
                    </div>
                    <p-dataGrid [value]="row.value" [paginator]="true" [rows]="8">
                        <template let-drow pTemplate="item">
                            <div style="padding:3px" class="col-md-3">
                                <p-panel [header]="drow.schoolname" [style]="{'text-align':'center'}">
                                    <a role="button" (click)="openMainForm(drow)">
                                        <img alt="{{drow.schoolname}}" src="{{global.uploadurl + drow.schlogo}}" onerror="this.src='assets/img/nologo.gif';" height="100px">
                                    </a>
                                    <hr class="hr ui-widget-content">
                                    <button type="button" class="btn btn-theme btn-xs" (click)="editEntityForm(drow)">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button type="button" class="btn btn-theme btn-xs" (click)="openMainForm(drow)">
                                        <i class="material-icons">arrow_forward</i>
                                    </button>
                                    {{drow.mode}}
                                </p-panel>
                            </div>
                        </template>
                    </p-dataGrid>
                </div>
            </div>
            <div class="col-md-12" *ngIf="!entityDT.length">
                No records found
            </div>
        </div>
        <div class="row clearfix" *ngIf="isShowList">
            <div class="col-md-12">
                <p-dataTable [value]="entityDT" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30,40]">
                    <p-column header="" [style]="{'width':'60px','text-align':'center','vertical-align':'top'}">
                        <template let-row="rowData" pTemplate type="body">
                            <img alt="{{row.studentname}}" src="{{global.uploadurl + row.schlogo}}" onerror="this.src='assets/img/default.gif';" height="40px" width="40px">
                        </template>
                    </p-column>
                    <p-column field="schoolcode" header="Code" [style]="{'width': '80px', 'text-align': 'left', 'vertical-align':'top'}"></p-column>
                    <p-column field="schoolname" header="Name" [style]="{'width': '220px', 'text-align': 'left', 'vertical-align':'top'}"></p-column>
                    <p-column field="ownbuses" header="Total Vehicles" [style]="{'width': '80px', 'text-align': 'center', 'vertical-align':'top'}"></p-column>
                    <p-column field="vanoperator" header="Operator Vehicles" [style]="{'width': '80px', 'text-align': 'center', 'vertical-align':'top'}"></p-column>
                    <p-column field="name" header="Primary Contact Name" [style]="{'width': '150px', 'text-align': 'left', 'vertical-align':'top'}"></p-column>
                    <p-column field="mobile" header="Primary Mobile" [style]="{'width': '120px', 'text-align': 'left', 'vertical-align':'top'}"></p-column>
                    <p-column field="email" header="Primary Email" [style]="{'width': '200px', 'text-align': 'left', 'vertical-align':'top'}"></p-column>
                    <p-column field="address" header="Address" [style]="{'text-align': 'left', 'vertical-align':'top'}"></p-column>
                    <p-column field="entttype" header="Type" [style]="{'width':'70px', 'text-align':'left', 'vertical-align':'top'}"></p-column>
                    <p-column field="mode" header="Status" [style]="{'width':'70px', 'text-align':'left', 'vertical-align':'top'}"></p-column>
                    <p-column [style]="{'width': '50px', 'align': 'left', 'vertical-align':'top'}">
                        <template let-row="rowData" pTemplate type="body">
                            <button type="button" class="btn btn-theme btn-xs" (click)="editEntityForm(row)">
                                <i class="material-icons">edit</i>
                            </button>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>