<div class="card">
    <div class="header">
        <h4>Add Subject Map To Teacher</h4>

        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveSubjectMapToTeacher()">
                    <i class="material-icons">save</i>
                </a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i>
                </a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-2">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Academic Year</label>
                        <select id="ayid" name="ayname" [(ngModel)]="ayid" class="form-control ayname" tabindex="1">
                            <option [value]="0">Select Academic Year</option>
                            <option *ngFor="let row of ayDT" [value]="row.key">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Teacher</label>
                        <p-autoComplete id="tchrid" name="tchrname" [(ngModel)]="tchrdata" [tabindex]="2" (onSelect)="selectTeacherData($event)" [suggestions]="teacherDT" (completeMethod)="getTeacherData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete tchrname"></p-autoComplete>
                        <span class="material-icons inputabsolutesearchico pad-20">
                            <a role="button" (click)="getSubjectMapToTeacher()" class="btn btn-search">search</a>
                        </span>
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>
                            Class Name / Time
                        </th>
                        <th>
                            Monday
                        </th>
                        <th>
                            Tuesday
                        </th>
                        <th>
                            Wednesday
                        </th>
                        <th>
                            Thursday
                        </th>
                        <th>
                            Friday
                        </th>
                        <th>
                            Saturday
                        </th>
                        <th>
                            Sunday
                        </th>
                    </tr>
                </thead>
                <tbody *ngFor="let row of submaptchrDT | groupBy: 'classname'">
                    <tr>
                        <th colspan="8">
                            {{row.key}}
                        </th>
                    </tr>
                    <tr *ngFor="let drow of row.value">
                        <td>
                            {{drow.frmtm}} to {{drow.totm}}
                        </td>
                        <td>
                            <span id="sub{{drow.monsubval}}" *ngIf="drow.monsubid != 0">
                                <input id="{{drow.monsubval}}" name="mon{{drow.monsubval}}" type="checkbox" [(ngModel)]="drow.ismonsub" (ngModelChange)="onChangeSubject(drow)" *ngIf="drow.ismonsub != null">
                                <label for="{{drow.monsubval}}">{{drow.monsubname}}</label>
                            </span>
                        </td>
                        <td>
                            <span id="sub{{drow.tuesubval}}" *ngIf="drow.tuesubid != 0">
                                <input id="{{drow.tuesubval}}" name="tue{{drow.tuesubval}}" type="checkbox" [(ngModel)]="drow.istuesub" (ngModelChange)="onChangeSubject(drow)" *ngIf="drow.istuesub != null">
                                <label for="{{drow.tuesubval}}">{{drow.tuesubname}}</label>
                            </span>
                        </td>
                        <td>
                            <span id="sub{{drow.wedsubval}}" *ngIf="drow.wedsubid != 0">
                                <input id="{{drow.wedsubval}}" name="wed{{drow.wedsubval}}" type="checkbox" [(ngModel)]="drow.iswedsub" (ngModelChange)="onChangeSubject(drow)" *ngIf="drow.iswedsub != null">
                                <label for="{{drow.wedsubval}}">{{drow.wedsubname}}</label>
                            </span>
                        </td>
                        <td>
                            <span id="sub{{drow.thusubval}}" *ngIf="drow.thusubid != 0">
                                <input id="{{drow.thusubval}}" name="thu{{drow.thusubval}}" type="checkbox" [(ngModel)]="drow.isthusub" (ngModelChange)="onChangeSubject(drow)" *ngIf="drow.isthusub != null">
                                <label for="{{drow.thusubval}}">{{drow.thusubname}}</label>
                            </span>
                        </td>
                        <td>
                            <span id="sub{{drow.frisubval}}" *ngIf="drow.frisubid != 0">
                                <input id="{{drow.frisubval}}" name="fri{{drow.frisubval}}" type="checkbox" [(ngModel)]="drow.isfrisub" (ngModelChange)="onChangeSubject(drow)" *ngIf="drow.isfrisub != null">
                                <label for="{{drow.frisubval}}">{{drow.frisubname}}</label>
                            </span>
                        </td>
                        <td>
                            <span id="sub{{drow.satsubval}}" *ngIf="drow.satsubid != 0">
                                <input id="{{drow.satsubval}}" name="sat{{drow.satsubval}}" type="checkbox" [(ngModel)]="drow.issatsub" (ngModelChange)="onChangeSubject(drow)" *ngIf="drow.issatsub != null">
                                <label for="{{drow.satsubval}}">{{drow.satsubname}}</label>
                            </span>
                        </td>
                        <td>
                            <span id="sub{{drow.sunsubval}}" *ngIf="drow.sunsubid != 0">
                                <input id="{{drow.sunsubval}}" name="sun{{drow.sunsubval}}" type="checkbox" [(ngModel)]="drow.issunsub" (ngModelChange)="onChangeSubject(drow)" *ngIf="drow.issunsub != null">
                                <label for="{{drow.sunsubval}}">{{drow.sunsubname}}</label>
                            </span>

                            <input type="text" [(ngModel)]="drow.subid" class="form-control hide">
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="col-md-6 hide">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Class <strong>*</strong></label>
                                <select id="clsid" name="clsname" [(ngModel)]="clsid" class="form-control clsname" (ngModelChange)="fillSubjectDropDown();onChangeClass();" tabindex="1">
                                    <option [value]="0">Select Class</option>
                                    <option *ngFor="let row of classDT" [value]="row.id">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix" *ngIf="subjectDT.length">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input id="selectall" name="selectall" type="checkbox" (change)="selectAndDeselectAllCheckboxes()">
                            <label for="selectall">Select All</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="allcheckboxes">
                            <div class="row clearfix">
                                <div class="col-md-4" *ngFor="let row of subjectDT; let i = index">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <span id="sub{{row.id}}">
                                                <input id="{{row.id}}" name="sub{{i + 1}}" type="checkbox" value="{{row.id}}" />
                                                <label for="{{row.id}}">{{row.val}}</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>