<div class="card">
    <div class="header">
        <h4>Teacher Remark</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveTeacherRemark()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-6 border">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Class <strong>*</strong></label>
                        <select id="classid" name="classname" [(ngModel)]="classid" class="form-control classname" tabindex="1" (ngModelChange)="fillStudentDropDown()">
                            <option [value]="0">Select Class</option>
                            <option *ngFor="let row of classDT" [value]="row.classid">	
                                {{row.classname}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Remark <strong>*</strong></label>
                        <textarea [(ngModel)]="remark" rows="5" class="form-control no-resize auto-growth remark" maxlength="500" tabindex="2"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row clearfix" *ngIf="studentDT.length">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input id="selectall" name="selectall" type="checkbox" (change)="selectAndDeselectAllCheckboxes()" class="filled-in">
                            <label for="selectall">Select All</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="allcheckboxes">
                            <div class="row clearfix">
                                <div class="col-md-4" *ngFor="let row of studentDT; let i = index;">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <span id="stud{{row.studid}}">
                                                <input id="{{row.studid}}" name="stud{{i + 1}}" type="checkbox" value="{{row.studid}}" class="filled-in" />
                                                <label for="{{row.studid}}">{{row.studname}}</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>