<div class="card">
    <div class="header">
        <h4>Teacher Remark</h4>

        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme" (click)="addTeacherRemark()">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-12">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th width="100px">Class</th>
                            <th width="200px">Student</th>
                            <th>Remark</th>
                            <th width="50px"></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!teacherRemarkDT.length">
                        <tr>
                            <td colspan="4">
                                <h5>No Data Found....</h5>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngFor="let row of teacherRemarkDT">
                        <tr>
                            <td>
                                {{row.classname}}
                            </td>
                            <td>
                                {{row.studname}}
                            </td>
                            <td>
                                {{row.remark}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-theme" (click)="editTeacherRemark(row)">
                                    <i class="material-icons">edit</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>