<div class="card">
    <div class="header">
        <h4>Prospectus Issued Approval > {{prntname}}</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveProspectusIssuedApproval()">
                    <i class="material-icons">save</i>
                </a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-9">
        <div class="card" *ngIf="prospectusIssuedDetailsDT.length">
            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Child Name : </label> {{childname}}
                        </div>

                        <div class="form-group">
                            <label>Gender : </label> {{gender}}
                        </div>

                        <div class="form-group">
                            <label>Class : </label> {{classname}}
                        </div>

                        <div class="form-group">
                            <label>Issued Date : </label> {{issddate}}
                        </div>

                        <div class="form-group">
                            <label>Remark : </label> {{remark}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Remark <strong>*</strong></label>
                                <textarea class="form-control" rows="6" [(ngModel)]="apprremark" tabindex="1"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-line">
                                <label>Status <strong>*</strong></label>
                                <select id="status" [(ngModel)]="status" class="form-control status" tabindex="2">
                                    <option [value]="0">Select Status</option>
                                    <option [value]="1">Accept</option>
                                    <option [value]="2">Reject</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                <b>Prospectus Issued</b>
            </div>
            <div class="body">
                <div *ngFor="let row of prospectusIssuedDT">
                    <div class="row clearfix">
                        <a role="button" (click)="getProspectusIssuedDetails(row);">
                            <span class="material-icons pull-left">child_care</span>
                            <span class="pad-06 pull-left">{{row.childname + "(" + row.gender + ")"}}</span>
                        </a>
                    </div>
                    <hr class="hr" />
                </div>
            </div>
        </div>
    </div>
</div>