<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-3 col-xs-3">
                <h4>View Books</h4>
            </div>
            <div class="col-md-9 col-xs-9" style="text-align: right;">
                <button type="button" class="btn btn-theme btn-xs" (click)="addSubject()">
                    <i class="material-icons">add</i></button>
            </div>
        </div>
    </div>

    <div class="body no-padding">
        <div class="row clearfix">
            <div class="col-md-12">
                <p-dataTable [value]="booksDT">
                    <p-column field="bkname" header="Book Name" [style]="{'width':'200px','text-align':'left'}"></p-column>
                    <p-column field="bkdesc" header="Description" [style]="{'text-align':'left'}"></p-column>
                    <p-column field="bktype" header="Book Type" [style]="{'width':'150px','text-align':'left'}"></p-column>
                    <p-column field="subname" header="Subject" [style]="{'width':'150px','text-align':'left'}"></p-column>
                    <p-column [style]="{'width': '50px', 'align': 'left'}">
                        <ng-template let-row="rowData" pTemplate type="body">
                            <button type="button" class="btn btn-theme btn-xs" (click)="editSubject(row)">
                                <i class="material-icons">edit</i>
                            </button>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>