<div class="card">
    <div class="header">
        <h4>Class Fees</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveClassFees()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Academic Year <strong>*</strong></label>
                        <select id="ayid" name="ayname" [(ngModel)]="ayid" class="form-control ay" (ngModelChange)="getClassFees()" tabindex="1">
                            <option [value]="0">Select Academic Year</option>
                            <option *ngFor="let row of ayDT" [value]="row.id">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Class <strong>*</strong></label>
                        <select id="clsid" name="clsname" [(ngModel)]="classid" class="form-control class" (ngModelChange)="getClassFees()" tabindex="2">
                            <option [value]="0">Select Class</option>
                            <option *ngFor="let row of classDT" [value]="row.id">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-9">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <table class="table table-bordered table-responsive reports">
                            <thead>
                                <tr>
                                    <th width="140px">Category</th>
                                    <th width="140px">Sub Category</th>
                                    <th width="60px">Fees</th>
                                    <th width="50px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <select id="catid" name="catname" [(ngModel)]="catid" class="form-control catname" tabindex="3">
                                                    <option [value]="0">Select Category</option>
                                                    <option *ngFor="let crow of categoryDT" [value]="crow.id">
                                                        {{crow.val}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <select id="subcatid" name="subcatname" [(ngModel)]="subcatid" class="form-control subcatname" tabindex="4">
                                                    <option [value]="0">No Sub Category</option>
                                                    <option *ngFor="let scrow of subCategoryDT" [value]="scrow.id">
                                                        {{scrow.val}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                    <td align="right">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" OnlyNumber="true" [(ngModel)]="fees" class="form-control text-right fees" tabindex="5">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group" *ngIf="!iseditfees">
                                            <button type="button" class="btn btn-theme btn-xs btn-xs-sm" (click)="addFeesDetails()">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </div>
                                        <div class="form-group" *ngIf="iseditfees">
                                            <button type="button" class="btn btn-theme btn-xs btn-xs-sm" (click)="updateFeesDetails()">
                                                <i class="material-icons">done</i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs btn-xs-sm" (click)="resetFeesDetails()">
                                                <i class="material-icons">cancel</i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngFor="let row of feesDT">
                                    <td>
                                        {{row.catname}}
                                    </td>
                                    <td>
                                        {{row.subcatname}}
                                    </td>
                                    <td align="right">
                                        {{row.fees | _currency:loginUser.globsettings[0]}}
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-theme btn-xs btn-xs-sm" (click)="editFeesDetails(row)">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs btn-xs-sm" (click)="deleteFeesDetails(row)">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">
                                        <b>Total</b>
                                    </td>
                                    <td align="right">
                                        <div class="form-group">
                                            {{totalFees() | _currency:loginUser.globsettings[0]}}
                                        </div>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered table-responsive reports">
                            <thead>
                                <tr>
                                    <th width="50px">Installment</th>
                                    <th width="100px">Fees</th>
                                    <th width="100px">Due Date</th>
                                    <th width="100px">Penalty Fees</th>
                                    <th width="50px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" OnlyNumber="true" [(ngModel)]="instlfees" class="form-control text-right" tabindex="4">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="date" [(ngModel)]="duedate" class="form-control" tabindex="5">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" OnlyNumber="true" [(ngModel)]="pnltyfees" class="form-control text-right" tabindex="6">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group" *ngIf="!iseditinstlfees">
                                            <button type="button" class="btn btn-theme btn-xs btn-xs-sm" (click)="addFeesInstallment()">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </div>
                                        <div class="form-group" *ngIf="iseditinstlfees">
                                            <button type="button" class="btn btn-theme btn-xs btn-xs-sm" (click)="updateFeesInstallment()">
                                                <i class="material-icons">done</i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs btn-xs-sm" (click)="resetFeesInstallment()">
                                                <i class="material-icons">cancel</i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngFor="let row of installmentDT | filterBy: {'isactive': true}; let i = index">
                                    <td>
                                        {{i + 1}}
                                    </td>
                                    <td align="right">
                                        {{row.instlfees | _currency:loginUser.globsettings[0]}}
                                    </td>
                                    <td>
                                        {{row.duedate}}
                                    </td>
                                    <td align="right">
                                        {{row.pnltyfees | _currency:loginUser.globsettings[0]}}
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-theme btn-xs btn-xs-sm" (click)="editFeesInstallment(row)">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs btn-xs-sm" (click)="deleteFeesInstallment(row)">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                        <b>Total</b>
                                    </td>
                                    <td align="right">
                                        <div class="form-group">
                                            {{totalInstallmentFees() | _currency:loginUser.globsettings[0]}}
                                        </div>
                                    </td>
                                    <td>
                                    </td>
                                    <td align="right">
                                        <div class="form-group">
                                            {{totalPenaltyFees() | _currency:loginUser.globsettings[0]}}
                                        </div>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>