<div class="card">
    <div class="header">
        <h4>Fees Collection</h4>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-4 col-xs-8">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">School <strong>*</strong></label>
                        <select id="enntid" name="enttname" [(ngModel)]="enttid" class="form-control enttname" (ngModelChange)="fillDropDownList();getFeesCollection();" tabindex="1">
                            <option *ngFor="let row of schoolDT" [value]="row.enttid">
                                {{row.enttname}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-4">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Academic Year <strong>*</strong></label>
                        <select id="ayid" name="ayname" [(ngModel)]="ayid" class="form-control ayname" (ngModelChange)="getFeesCollection()" tabindex="2">
                            <option [value]="0">Select Academic Year</option>
                            <option *ngFor="let row of ayDT" [value]="row.id">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-4">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Class <strong>*</strong></label>
                        <select id="clsid" name="clsname" [(ngModel)]="classid" class="form-control class" (ngModelChange)="getFeesCollection();" tabindex="3">
                            <option [value]="0">Select Class</option>
                            <option *ngFor="let row of classDT" [value]="row.id">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-4 col-xs-8">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Student Name <strong>*</strong></label>
                        <p-autoComplete id="studid" name="studname" [(ngModel)]="selectedStudent" [tabindex]="3" (onSelect)="selectStudentData($event)" [suggestions]="studentDT" (completeMethod)="getStudentData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete studname"></p-autoComplete>
                        <span class="material-icons inputlinkico"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 pad-20">
                <div class="form-group">
                    <button type="button" class="btn btn-theme btn-xs" (click)="getFeesCollection()">
                        <i class="material-icons">arrow_forward</i>
                    </button>
                </div>
            </div>
            <div class="col-md-2 pad-20">
                <div class="form-group" *ngIf="classid != 0">
                    Class Fees : {{classfees | _currency:loginUser.globsettings[0]}}
                </div>
            </div>
            <div class="col-md-4 pad-20 text-right">
                <div class="form-group">
                    <button type="button" class="btn btn-theme btn-xs" (click)="openBulkUploadPopup()">
                        <i class="material-icons">add</i> <i class="font-no-italic">Bulk Upload</i>
                    </button>
                </div>
            </div>
        </div>

        <div class="row clearfix" *ngIf="feesCollDT.length">
            <div class="col-md-12">
                <table class="table table-bordered table-responsive reports">
                    <thead>
                        <tr>
                            <th width="100px">GR No</th>
                            <th width="100px">Class Name</th>
                            <th width="100px">Roll No</th>
                            <th>Student Name</th>
                            <th width="100px">Fees</th>
                            <th width="80px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of feesCollDT">
                            <td align="center">
                                {{row.grno}}
                            </td>
                            <td align="center">
                                {{row.classname}}
                            </td>
                            <td align="center">
                                {{row.rollno}}
                            </td>
                            <td>
                                {{row.studname}}
                            </td>
                            <td align="right">
                                {{row.feescoll | _currency:loginUser.globsettings[0]}}
                            </td>
                            <td align="right">
                                <div class="form-group">
                                    <button type="button" class="btn btn-danger btn-xs btn-xs-sm" (click)="addFeesCollection(row)">
                                        <i class="material-icons">shopping_cart</i></button>
                                    <button type="button" class="btn btn-theme btn-xs btn-xs-sm" (click)="viewFeesCollection(row)">
                                        <i class="material-icons">arrow_forward</i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="tr-table">
                            <th colspan="3"></th>
                            <th>
                                <b>Total</b>
                            </th>
                            <th align="right">
                                <b>{{totalFees() | _currency:loginUser.globsettings[0]}}</b>
                            </th>
                            <th>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bulkUploadModal" tabindex="-1" role="dialog">
    <div class="modal-dialog full-width" role="document">
        <div class="modal-lg modal-content">
            <div class="modal-header">
                <div class="row clearfix">
                    <div class="col-md-8 col-xs-8">
                        <h4>Student : Bulk Upload</h4>
                    </div>
                    <div class="col-md-4 col-xs-4 text-right">
                        <a role="button" (click)="closeBulkUploadPopup()">
                            <i class="material-icons">cancel</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-body" id="user">
                <div class="form-group">
                    <strong>Allowed only below 150 KB File</strong> <br />
                    <p-fileUpload mode="basic" name="fileUploaded" url="{{uploadfileconfig.server + '?width=150'}}" chooseLabel="Excel Upload" (onBeforeUpload)="onBeforeUpload($event)" (onUpload)="onFileUpload($event)" accept="{{uploadfileconfig.acceptedFiles}}" maxFileSize="{{uploadfileconfig.maxFilesize}}"
                        auto="true"></p-fileUpload>

                    <div *ngIf="uploadFileDT.length">
                        <div *ngFor="let file of uploadFileDT" class="box">
                            {{file.athurl}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-header">
                <div class="row clearfix">
                    <div class="col-md-2">
                        <h4>View : Excel Format</h4>
                    </div>
                    <div class="col-md-1">
                        <a role="button" target="_blank" href="assets\file\tblstudentfees.xlsx">
                            <i class="material-icons">file_download</i> Download
                        </a>
                    </div>
                </div>
            </div>

            <div class="modal-body table-overflow">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>
                                gr_no
                            </th>
                            <th>
                                roll_no
                            </th>
                            <th>
                                student_name
                            </th>
                            <th>
                                category
                            </th>
                            <th>
                                sub_category
                            </th>
                            <th>
                                fees
                            </th>
                            <th>
                                receive_date
                            </th>
                            <th>
                                payment_mode
                            </th>
                            <th>
                                cheque_no
                            </th>
                            <th>
                                cheque_date
                            </th>
                            <th>
                                remark
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                Nimit Nilesh Shah
                            </td>
                            <td>
                                Admission Fees
                            </td>
                            <td>
                            </td>
                            <td>
                                500
                            </td>
                            <td>
                                01-May-2018
                            </td>
                            <td>
                                Cash
                            </td>
                            <td>
                                1234321
                            </td>
                            <td>
                                05-May-2018
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>