<div class="header">
    <div class="row clearfix">
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-line">
                    <label class="control-label">Student Name <strong>*</strong></label>
                    <p-autoComplete id="psngrid" name="psngrname" [(ngModel)]="selectPassenger" [tabindex]="2" (onSelect)="selectPassengerData($event)" [suggestions]="autoPassengerDT" (completeMethod)="getPassengerData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete psngrname"></p-autoComplete>
                    <span class="material-icons inputsearchico pad-12">
                        <a role="button" (click)="viewPassengerDashboard()" class="btn btn-search">arrow_forward</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-right pad-20">
            <div class="form-group">
                <a role="button" class="btn btn-theme" (click)="viewPassengerProfile()">
                    <span class="float-left pad-03">View Profile</span> <span class="material-icons">arrow_forward</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="body">
    <div class="row clearfix">
        <div class="col-md-8">
            <div class="row clearfix">
                <div class="col-md-6">
                    <div class="card">
                        <div class="header-title">
                            Personal Details
                        </div>
                        <div class="body" *ngFor="let row of infoDT">
                            <div class="row clearfix">
                                <div class="col-md-3">
                                    <img *ngIf="row.gndrkey == 'M'" alt="{{row.studentname}}" src="{{global.uploadurl + row.studentphoto}}" onerror="this.src='assets/img/default-male.png';" height="100px" width="100px">
                                    <img *ngIf="row.gndrkey == 'F'" alt="{{row.studentname}}" src="{{global.uploadurl + row.studentphoto}}" onerror="this.src='assets/img/default-female.png';" height="100px" width="100px">
                                </div>
                                <div class="col-md-9">
                                    <p>{{row.schoolname}}</p>
                                    <p><b>Student : </b>{{row.studentname}}</p>
                                    <p><b>Father : </b> {{row.fathername}} <span class="p-5 {{row.mob1bgcolor}}">{{row.mobileno1}}</span></p>
                                    <p><b>Mother : </b> {{row.mothername}} <span class="p-5 {{row.mob2bgcolor}}">{{row.mobileno2}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>

            <div class="card">
                <div class="header-title">
                    Schedule
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-md-6" *ngFor="let row of scheduleDT">
                            <p><b>Schedule : </b>{{row.schdlname}}</p>
                            <p><b>Batch : </b>{{row.batchname}}</p>
                            <p><span innerHtml="{{row.wkdays}}"></span></p>
                            <p><b>Date : </b>{{row.schdldate}}</p>
                            <p>
                                <b>Driver : </b>
                                <a role="button" (click)="viewDriverDashboard(row)">{{row.drivername}}</a>
                            </p>
                            <p>
                                <b>Vehicle : </b>
                                <a role="button" (click)="viewVehicleDashboard(row)">{{row.vehiclename}}</a>
                            </p>
                            <p><b>Route : </b>{{row.rtname}}</p>
                            <p><b>Stop : </b>{{row.stpname}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="header-title">
                    Notification
                </div>
                <div class="body">
                    <div *ngFor="let row of notificationDT | groupBy: 'typname'">
                        <h4>{{row.key}}</h4>

                        <div *ngFor="let drow of row.value">
                            <div class="row clearfix">
                                <div class="col-md-8">
                                    <p>{{drow.msg1}}</p>
                                </div>
                                <div class="col-md-4 text-right">
                                    <p>{{drow.crdate1}}</p>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-md-8">
                                    <p>{{drow.msg2}}</p>
                                </div>
                                <div class="col-md-4 text-right">
                                    <p>{{drow.crdate2}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header-title">
                    Trip Details
                </div>
                <div class="body padding-0">
                    <iframe id="divtrip" width="100%" height="520" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>