<div class="header">
    <div class="row clearfix">
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-line">
                    <label class="control-label">Vehicle Name <strong>*</strong></label>
                    <p-autoComplete id="vehid" name="vehname" [(ngModel)]="selectVehicle" [tabindex]="1" (onSelect)="selectVehicleData($event)" [suggestions]="autoVehicleDT" (completeMethod)="getVehicleData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete vehname"></p-autoComplete>
                    <span class="material-icons inputsearchico pad-11">
                        <a role="button" (click)="viewVehicleDashboard()" class="btn btn-search">arrow_forward</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="body">
    <div class="row clearfix">
        <div class="col-md-8">
            <div class="row clearfix">
                <div class="col-md-6">
                    <div class="card">
                        <div *ngFor="let row of infoDT">
                            <div class="header-title">
                                General Details
                            </div>
                            <div class="body">
                                <p><b>Registration No : </b>{{row.vehicleno}}</p>
                                <p><b>IMEI : </b>{{row.imei}}</p>
                                <p><b>SIM No : </b>{{row.simno}}</p>
                                <p *ngIf="row.vehicletype != ''"><b>Vehicle Type : </b>{{row.vehicletype}}</p>
                                <p *ngIf="row.vehiclemake != ''"><b>Vehicle Make : </b>{{row.vehiclemake}}</p>
                                <p *ngIf="row.vehiclecondition != ''"><b>Vehicle Condition : </b>{{row.vehiclecondition}}</p>
                                <p *ngIf="row.devtype != ''"><b>Device Type : </b>{{row.devtype}}</p>
                            </div>

                            <div class="header-title">
                                Mapped School
                            </div>
                            <div class="body overflow-panel">
                                <div *ngFor="let wsrow of row.schooldt | groupBy: 'wsname'">
                                    <h5>{{wsrow.key}}</h5>

                                    <div *ngFor="let schrow of wsrow.value; let i = index;" [ngClass]="schrow.isowner == true ? 'bg-green' : ''">
                                        <b *ngIf="wsrow.value.length > 1">{{i + 1}}.</b> {{schrow.schname}}
                                    </div>

                                    <hr class="hr" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="header-title">
                            Mapped User
                        </div>
                        <div class="body overflow-panel">
                            <div *ngFor="let row of userDT; let i = index;" class="p-b-5">
                                <h5>
                                    <a role="button" (click)="viewUserDashboard(row)">
                                        {{row.fullname}} ({{row.utypename}})
                                    </a>
                                </h5>

                                <p *ngFor="let schrow of row.schooldt; let i = index;" [ngClass]="schrow.isowner == true ? 'bg-green' : ''">
                                    <b>{{i + 1}}.</b> {{schrow.schname}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="header-title">
                    Schedule
                </div>
                <div class="body padding-0">
                    <div *ngFor="let row of scheduleDT | groupBy: 'schoolname'">
                        <div class="header">
                            <b class="font-18">{{row.key}}</b>
                        </div>
                        <p-dataGrid [value]="row.value">
                            <ng-template let-drow pTemplate="item">
                                <div class="col-md-6 p-t-5">
                                    <p-panel [header]="drow.schdlname">
                                        <p>
                                            <b>Batch : </b>
                                            <span class="title" title="{{drow.batchname}}">{{drow.batchname}}</span>
                                        </p>
                                        <p><span innerHtml="{{row.wkdays}}"></span></p>
                                        <p><b>Date : </b>{{drow.schdldate}}</p>
                                        <p>
                                            <b>Driver : </b>
                                            <a role="button" (click)="viewDriverDashboard(drow)" class="title" title="{{drow.drivername}}">{{drow.drivername}}</a>
                                        </p>
                                        <p>
                                            <b>Vehicle : </b>
                                            <span class="title" title="{{drow.vehiclename}}">{{drow.vehiclename}}</span>
                                        </p>
                                        <p>
                                            <b>Route : </b>
                                            <span class="title" title="{{drow.rtname}}">{{drow.rtname}}</span>
                                        </p>
                                        <p><b>Total Student : </b>{{drow.countstuds}}</p>

                                        <p class="font-12" *ngFor="let srow of drow.studdata; let i = index;">
                                            <b>{{i + 1}}.)</b>
                                            <a role="button" (click)="viewStudentDashboard(srow)">{{srow.stdnm}}</a>
                                        </p>
                                    </p-panel>
                                </div>
                            </ng-template>
                        </p-dataGrid>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header-title">
                    Trip Details
                </div>
                <div class="body padding-0">
                    <iframe id="divtrip" width="100%" height="520" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>