<div class="header">
    <div class="row clearfix">
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-line">
                    <label class="control-label">Vehicle Name <strong>*</strong></label>
                    <p-autoComplete id="vehid" name="vehname" [(ngModel)]="selectVehicle" [tabindex]="2" (onSelect)="selectVehicleData($event)" [suggestions]="autoVehicleDT" (completeMethod)="getVehicleData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete vehname"></p-autoComplete>
                    <span class="material-icons inputsearchico pad-12">
                        <a role="button" (click)="viewVehicleDashboard()" class="btn btn-search">arrow_forward</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="body">
    <div class="row clearfix">
        <div class="col-md-8">
            <div class="row clearfix">
                <div class="col-md-6">
                    <div class="card">
                        <div class="header-title">
                            Personal Details
                        </div>
                        <div class="body" *ngFor="let row of infoDT">
                            <p><b>Registration No : </b>{{row.vehicleno}}</p>
                            <p><b>IMEI : </b>{{row.imei}}</p>
                            <p><b>SIM No : </b>{{row.simno}}</p>
                            <p *ngIf="row.vehicletype != ''"><b>Vehicle Type : </b>{{row.vehicletype}}</p>
                            <p *ngIf="row.vehiclemake != ''"><b>Vehicle Make : </b>{{row.vehiclemake}}</p>
                            <p *ngIf="row.vehiclecondition != ''"><b>Vehicle Condition : </b>{{row.vehiclecondition}}</p>
                            <p *ngIf="row.devtype != ''"><b>Device Type : </b>{{row.devtype}}</p>

                            <p *ngFor="let erow of row.enttdata; let i = index;">
                                <b>{{i + 1}}.</b> {{erow.enttname}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="header-title">
                            Mapped User
                        </div>
                        <div class="body overflow-panel">
                            <div *ngFor="let row of userDT; let i = index;" class="p-b-5">
                                <h5>
                                    <a role="button" (click)="viewUserDashboard(row)">
                                        {{row.fullname}} ({{row.utypename}})
                                    </a>
                                </h5>

                                <p *ngFor="let erow of row.enttdata; let i = index;">
                                    {{i + 1}}. {{erow.enttname}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="header-title">
                    Schedule
                </div>
                <div class="body">
                    <div *ngFor="let row of scheduleDT | groupBy:'schoolname'">
                        <h4>{{row.key}}</h4>

                        <div class="row clearfix">
                            <div class="col-md-6" *ngFor="let drow of row.value">
                                <p><b>Schedule : </b>{{drow.schdlname}}</p>
                                <p><b>Batch : </b>{{drow.batchname}}</p>
                                <p><span innerHtml="{{row.wkdays}}"></span></p>
                                <p><b>Date : </b>{{drow.schdldate}}</p>
                                <p>
                                    <b>Driver : </b>
                                    <a role="button" (click)="viewDriverDashboard(drow)">{{drow.drivername}}</a>
                                </p>
                                <p><b>Vehicle : </b>{{drow.vehiclename}}</p>
                                <p><b>Route : </b>{{drow.rtname}}</p>
                                <p><b>Student : </b>{{drow.countstuds}}</p>

                                <p class="font-12" *ngFor="let srow of drow.studdata; let i = index;">
                                    <b>{{i + 1}}.)</b>
                                    <a role="button" (click)="viewStudentDashboard(srow)">{{srow.stdnm}}</a>
                                </p>

                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header-title">
                    Trip Details
                </div>
                <div class="body padding-0">
                    <iframe id="divtrip" width="100%" height="520" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>