<div class="card">
    <div class="header">
        <h4>Student</h4>
        <ul class="header-dropdown m-r--5">
            <li *ngIf="studid !== 0">
                <span class="switch">
                    <label><input type="checkbox" [(ngModel)]="isactive" (ngModelChange)="active_deactiveStudentInfo()"><span class="lever"></span></label>
                </span>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveStudentInfo()">
                    <i class="material-icons">save</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-8">
                <div class="row clearfix">
                    <div class="col-md-4">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Academic Year</label>
                                <select id="ayid" name="ayname" [(ngModel)]="ayid" class="form-control ayname" (ngModelChange)="getStudentDetails()" tabindex="1">
                                    <option [value]="0">Select Academic Year</option>
                                    <option *ngFor="let row of ayDT" [value]="row.key">	
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Student Name <strong>*</strong></label>
                                <p-autoComplete id="studid" name="studname" [(ngModel)]="studsdata" [tabindex]="2" (onSelect)="selectStudentData($event)" [suggestions]="autoStudentDT" (completeMethod)="getStudentData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete studname"></p-autoComplete>
                                <span class="material-icons inputlinkico"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Class <strong>*</strong></label>
                                <select id="classid" name="classname" [(ngModel)]="classid" class="form-control class" tabindex="3">
                                    <option [value]="0">Select Class</option>
                                    <option *ngFor="let row of classDT" [value]="row.key">	
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Roll No <strong>*</strong></label>
                                <input type="text" OnlyNumber="true" name="rollno" [(ngModel)]="rollno" maxlength="50" class="form-control rollno" tabindex="4" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="header">
        <h4>Vehicle Mapping</h4>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-4 border">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="control-label">Alert</label>
                        <select id="alert" name="alert" [(ngModel)]="alert" class="form-control" tabindex="5">
                            <option [value]="''">Select Alert</option>
                            <option *ngFor="let row of alertDT" [value]="row.key">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="control-label">Residental Address <strong>*</strong></label>
                        <textarea name="resiaddr" [(ngModel)]="resiaddr" rows="4" class="form-control no-resize auto-growth resiaddr" (keydown.tab)="getLatAndLong('resiaddr')" tabindex="6"></textarea>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Residental Lat <strong>*</strong></label>
                                <input type="text" name="resilet" [(ngModel)]="resilet" maxlength="50" class="form-control resilet" tabindex="7" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Residental Long <strong>*</strong></label>
                                <input type="text" name="resilong" [(ngModel)]="resilong" maxlength="50" class="form-control resilong" tabindex="8" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 border">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Pick Up Route</label>
                                <select id="pickrtid" name="pickrtnm" [(ngModel)]="pickrtid" class="form-control" tabindex="9" (ngModelChange)="fillPickStopsDDL()">
                                    <option [value]="0">Select Route</option>
                                    <option *ngFor="let row of pickrouteDT" [value]="row.rtid">
                                        {{row.rtname}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Pick Up Stops</label>
                                <select id="pickstpid" name="pickstpnm" [(ngModel)]="pickstpid" class="form-control" tabindex="10" (ngModelChange)="getPickAddressLatLon()">
                                    <option [value]="0">Select Stops</option>
                                    <option *ngFor="let row of pickstopsDT" [value]="row.stpid">
                                        {{row.stpname}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input *ngIf="pickstpid == 0" id="pickaddr" name="chkpickaddr" type="checkbox" [(ngModel)]="isCopyPickAddr" (change)="copyPDAddrAndLatLong('pickaddr')" class="filled-in">
                        <label for="pickaddr" class="control-label">Pick Up Address <strong>*</strong></label>
                        <textarea name="pickaddr" [(ngModel)]="pickaddr" rows="4" class="form-control no-resize auto-growth pickaddr" (keydown.tab)="getLatAndLong('pickaddr')" tabindex="11"></textarea>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Pick Lat <strong>*</strong></label>
                                <input type="text" name="picklet" [(ngModel)]="picklet" maxlength="50" class="form-control picklet" tabindex="12" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Pick Long <strong>*</strong></label>
                                <input type="text" name="picklong" [(ngModel)]="picklong" maxlength="50" class="form-control picklong" tabindex="13" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Drop Route</label>
                                <select id="droprtid" name="droprtnm" [(ngModel)]="droprtid" class="form-control" (ngModelChange)="fillDropStopsDDL()" tabindex="14">
                                    <option [value]="0">Select Route</option>
                                    <option *ngFor="let row of droprouteDT" [value]="row.rtid">
                                        {{row.rtname}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Drop Stops</label>
                                <select id="dropstpid" name="dropstpnm" [(ngModel)]="dropstpid" class="form-control" (ngModelChange)="getDropAddressLatLon()" tabindex="15">
                                    <option [value]="0">Select Stops</option>
                                    <option *ngFor="let row of dropstopsDT" [value]="row.stpid">
                                        {{row.stpname}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group form-float">
                    <div class="form-line">
                        <input *ngIf="dropstpid == 0" id="dropaddr" name="chkdropaddr" type="checkbox" [(ngModel)]="isCopyDropAddr" (change)="copyPDAddrAndLatLong('dropaddr')" class="filled-in">
                        <label for="dropaddr" class="control-label">Drop Address <strong>*</strong></label>
                        <textarea name="dropaddr" [(ngModel)]="dropaddr" rows="4" class="form-control no-resize auto-growth dropaddr" (keydown.tab)="getLatAndLong('dropaddr')" tabindex="16"></textarea>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Drop Lat <strong>*</strong></label>
                                <input type="text" name="droplet" [(ngModel)]="droplet" maxlength="50" class="form-control droplet" tabindex="17" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Drop Long <strong>*</strong></label>
                                <input type="text" name="droplong" [(ngModel)]="droplong" maxlength="50" class="form-control droplong" tabindex="18" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>