<div class="card" *ngIf="grpcd != ''">
    <div class="header">
        <h4>Master Of Master : {{headertitle}}</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="addMOMForm()">
                    <i class="material-icons">add</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of momDT">
                    <td width="150px">
                        {{row.key}}
                    </td>
                    <td>
                        {{row.val}}
                    </td>
                    <td width="50px">
                        <div class="form-group" *ngIf="row.typ != 'global'">
                            <button type="button" (click)="editMOMForm(row)" class="btn btn-theme btn-xs">
                                <span class="material-icons">edit</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>