<div class="card">
    <div class="header">
        <h4>Assesment</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme" (click)="addAssesment()">
                    <i class="material-icons">add</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-2 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Academic Year <strong>*</strong></label>
                        <select id="ayid" name="ayname" [(ngModel)]="ayid" class="form-control ayname" tabindex="1">
                            <option [value]="0">Select Academic Year</option>
                            <option *ngFor="let row of ayDT" [value]="row.id">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Class <strong>*</strong></label>
                        <select id="clsid" name="clsname" [(ngModel)]="clsid" (ngModelChange)="fillAssesmentTypeDropDown();getAssesmentDetails();" class="form-control class" tabindex="3">
                            <option [value]="0">Select Class</option>
                            <option *ngFor="let row of classDT" [value]="row.id">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Assesment Type <strong>*</strong></label>
                        <select id="asstypid" name="asstypname" [(ngModel)]="asstype" class="form-control asstype" tabindex="2">
                            <option [value]="''">Select Assesment Type</option>
                            <optgroup value="subject" label="Subject">
                                <option *ngFor="let row of subjectDT" [value]="row.subtypeid">
                                    {{row.val}}
                                </option>
                            </optgroup>
                            <optgroup value="activity" label="Activity">
                                <option *ngFor="let row of activityDT" [value]="row.subtypeid">
                                    {{row.val}}
                                </option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-3 pad-20">
                <div class="form-group">
                    <button type="button" class="btn btn-theme" (click)="getAssesmentDetails()">
                        <i class="material-icons">arrow_forward</i></button>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12">
                <table class="table table-bordered reports">
                    <thead>
                        <tr>
                            <th width="100px">
                                Class
                            </th>
                            <th width="200px">
                                Heading
                            </th>
                            <th>
                                Sub Heading
                            </th>
                            <th width="200px">
                                Grade
                            </th>
                            <th width="200px">
                                Assesment Type
                            </th>
                            <th width="50px"></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!assesmentDT.length">
                        <tr>
                            <td colspan="6">
                                <h5>No Data Found</h5>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngFor="let row of assesmentDT">
                        <tr>
                            <td>
                                {{row.classname}}
                            </td>
                            <td>
                                {{row.heading}}
                            </td>
                            <td>
                                {{row.subheading}}
                            </td>
                            <td>
                                {{row.gradename}}
                            </td>
                            <td>
                                {{row.asstypehead}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-theme" (click)="editAssesment(row)">
                                    <i class="material-icons">edit</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>