<div class="card">
    <div class="header">
        <h4>Exam</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <input id="issendemail" name="issendemail" [(ngModel)]="issendemail" type="checkbox" class="filled-in">
                <label for="issendemail">Send Email To Parent</label>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" title="Save Result" (click)="saveExamResult()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" title="Back For View Result" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-2">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Academic Year <strong>*</strong></label>
                        <select id="ayid" name="ayname" [(ngModel)]="ayid" (ngModelChange)="getExamResult()" class="form-control ayname" tabindex="1">
                            <option [value]="0">Select Academic Year</option>
                            <option *ngFor="let row of ayDT" [value]="row.id">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Exam Type <strong>*</strong></label>
                        <select id="smstrid" name="smstrname" [(ngModel)]="smstrid" (ngModelChange)="getExamResult()" class="form-control smstrname" tabindex="2">
                            <option [value]="0">Select Exam Type</option>
                            <option *ngFor="let row of examTypeDT" [value]="row.id">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Class <strong>*</strong></label>
                        <select id="clsid" name="clsname" [(ngModel)]="clsid" (ngModelChange)="getExamResult();resetStudentData();" class="form-control class" tabindex="3">
                            <option [value]="0">Select Class</option>
                            <option *ngFor="let row of classDT" [value]="row.id">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Student <strong>*</strong></label>
                        <p-autoComplete id="studid" name="studname" [(ngModel)]="studsdata" [tabindex]="4" (onSelect)="selectStudentData($event)" [suggestions]="studentDT" (completeMethod)="getStudentData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete studname"></p-autoComplete>
                        <span class="material-icons inputlinkico"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" style="padding-top: 20px;">
                    <button type="button" class="btn btn-theme btn-xs" (click)="getExamResult()">
                        <i class="material-icons">arrow_forward</i>
                    </button>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12">
                <table class="table table-bordered reports">
                    <thead>
                        <tr>
                            <th width="100px">
                                Date
                            </th>
                            <th width="150px">
                                Subject
                            </th>
                            <th width="100px">
                                Passing Marks
                            </th>
                            <th width="100px">
                                Marks
                            </th>
                            <th width="100px">
                                Out Of Marks
                            </th>
                            <th>
                                Remark
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let row of examList">
                        <tr>
                            <td>
                                {{row.examdate}}
                            </td>
                            <td>
                                {{row.subname}}
                            </td>
                            <td align="right">
                                {{row.passmarks}}
                            </td>
                            <td align="right">
                                <div class="form-group" *ngIf="row.marks != -1">
                                    <div class="form-line">
                                        <input type="text" OnlyNumber="true" class="form-control text-right {{'marks' + row.subid}}" [(ngModel)]="row.marks">
                                    </div>
                                </div>
                            </td>
                            <td align="right">
                                {{row.outofmarks}}
                            </td>
                            <td *ngIf="row.marks != -1">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control resremark" [(ngModel)]="row.resremark">
                                    </div>
                                </div>
                            </td>
                            <td *ngIf="row.marks == -1" class="{{row.resclass}}">
                                {{row.resremark}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>