<div class="card">
    <div class="header">
        <h4>Qualification</h4>

        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="addQualification()">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>

        <div class="row clearfix">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Group <strong>*</strong></label>
                        <select id="qlfgrpid" [(ngModel)]="qlfgrpid" (ngModelChange)="getQualification()" class="form-control qlfgrpname" tabindex="1">
                            <option [value]="0">Select Group</option>
                            <option *ngFor="let row of groupDT" [value]="row.qlfgrpid">
                                {{row.qlfgrpname}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="body no-padding">
        <div class="row clearfix">
            <div class="col-md-12">
                <p-dataTable [value]="qualificationDT">
                    <p-column field="qlfgrpname" header="Group" [style]="{'width': '200px', 'text-align': 'left'}"></p-column>
                    <p-column field="qlftitle" header="Title" [style]="{'width': '200px', 'text-align': 'left'}"></p-column>
                    <p-column field="qlfdesc" header="Description" [style]="{'text-align': 'left'}"></p-column>
                    <p-column [style]="{'width': '50px', 'align': 'left'}">
                        <ng-template let-row="rowData" pTemplate type="body">
                            <button type="button" class="btn btn-theme btn-xs" (click)="editQualification(row)">
                                <i class="material-icons">edit</i>
                            </button>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>