<div class="card">
    <div class="header">
        <h4>User</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <span class="switch">
                    <label><input type="checkbox" [(ngModel)]="isactive" (ngModelChange)="active_deactiveUserInfo()"><span class="lever"></span></label>
                </span>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="saveUserInfo()">
                    <i class="material-icons">save</i></a>
            </li>
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="backViewData()">
                    <i class="material-icons">arrow_back</i></a>
            </li>
        </ul>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-6 border">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">User Code <strong>*</strong></label>
                                <input type="text" [(ngModel)]="ucode" class="form-control ucode" maxlength="10" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Password <strong>*</strong></label>
                                <input type="password" [(ngModel)]="upwd" class="form-control upwd" maxlength="15" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">First Name <strong>*</strong></label>
                                <input type="text" [(ngModel)]="fname" class="form-control fname" maxlength="50" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Last Name <strong>*</strong></label>
                                <input type="text" [(ngModel)]="lname" class="form-control lname" maxlength="50" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">User Type <strong>*</strong></label>
                                <select [(ngModel)]="utype" class="form-control utype">
                                    <option [value]="''">Select Type</option>
                                    <option [value]="'admin'">System Admin</option>
                                    <option [value]="'entity'">Entity</option>
                                    <option [value]="'internal'">Internal</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Remark</label>
                                <textarea [(ngModel)]="remark1" rows="5" class="form-control no-resize auto-growth" maxlength="500"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="allenttrights" name="allenttrights" type="checkbox" [(ngModel)]="isAllEnttRights" (change)="isAllEntityRights()" class="filled-in">
                                <label for="allenttrights" class="control-label">All Entity Rights</label>
                                <div class="row clearfix" *ngIf="!isAllEnttRights">
                                    <div class="col-md-10">
                                        <p-autoComplete id="entityname" name="entityname" [(ngModel)]="entityname" [tabindex]="9" (onSelect)="selectEntityData($event)" [suggestions]="entityDT" (completeMethod)="getEntityData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete entityname"></p-autoComplete>
                                    </div>
                                    <div class="col-md-2" align="right">
                                        <span class="material-icons">search</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="entityList.length">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let row of entityList">
                            {{row.schnm}}
                            <button type="button" class="btn btn-xs pull-right" (click)="deleteEntity(row)"><i class="material-icons">delete</i></button>
                        </li>
                    </ul>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="allolrights" name="allolrights" type="checkbox" [(ngModel)]="isAllOLRights" (change)="isAllOutletRights()" class="filled-in">
                                <label for="allolrights" class="control-label">All Outlet Rights</label>
                                <div class="row clearfix" *ngIf="!isAllOLRights">
                                    <div class="col-md-10">
                                        <p-autoComplete id="olnm" name="olnm" [(ngModel)]="olnm" [tabindex]="9" (onSelect)="selectOutletData($event)" [suggestions]="outletDT" (completeMethod)="getOutletData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete olnm"></p-autoComplete>
                                    </div>
                                    <div class="col-md-2" align="right">
                                        <span class="material-icons">search</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="outletList.length">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let row of outletList">
                            {{row.olnm}}
                            <button type="button" class="btn btn-xs pull-right" (click)="deleteOutlet(row)"><i class="material-icons">delete</i></button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Mobile (Login No) <strong>*</strong></label>
                                <input type="text" [(ngModel)]="mobileno1" class="form-control mobileno1" maxlength="10" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Alternate Mobile</label>
                                <input type="text" [(ngModel)]="mobileno2" class="form-control" maxlength="10" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Email <strong>*</strong></label>
                                <input type="text" [(ngModel)]="email1" class="form-control email1" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Alternate Email</label>
                                <input type="text" [(ngModel)]="email2" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Address</label>
                                <textarea [(ngModel)]="address" rows="5" class="form-control no-resize auto-growth address" maxlength="500"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Country <strong>*</strong></label>
                                <input type="text" [(ngModel)]="country" class="form-control country" maxlength="20" tabindex="11" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">State <strong>*</strong></label>
                                <select [(ngModel)]="state" class="form-control state" tabindex="12" (ngModelChange)="fillCityDropDown()">
                                    <option [value]="0">Select State</option>
                                    <option *ngFor="let row of stateDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">City <strong>*</strong></label>
                                <select [(ngModel)]="city" class="form-control city" tabindex="13" (ngModelChange)="fillAreaDropDown()">
                                    <option [value]="0">Select City</option>
                                    <option *ngFor="let row of cityDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label class="control-label">Area <strong>*</strong></label>
                                <select [(ngModel)]="area" class="form-control area" tabindex="14">
                                    <option [value]="0">Select Area</option>
                                    <option *ngFor="let row of areaDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label class="control-label">Pin Code</label>
                                <input type="text" [(ngModel)]="pincode" class="form-control" maxlength="20" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>