<div class="card">
    <div class="header">
        <h4>
            <a role="button" (click)="openForm()">{{headertitle}}</a>
            <a role="button" class="btn btn-theme btn-xs" (click)="openForm()">
                <i class="material-icons">arrow_forward</i>
            </a>
        </h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="addWorkspaceForm()">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row clearfix">
    <div *ngFor="let row of workspaceDT" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="card" style="height: 150px;">
            <div class="header">
                <h2>
                    <img class="logo pull-left" src="{{uploadconfig.uploadurl + row.wslogo}}" onerror="this.src='assets/img/nologo.gif';" height="40px" style="margin-right: 7px;">
                    <a role="button" (click)="getMainForm(row)">{{row.wsname}}</a> <small>{{row.lgcode + "." + row.wscode}}</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a role="button" (click)="getMainForm(row)"><i class="material-icons">arrow_forward</i> Go</a></li>
                            <li><a role="button" (click)="editWorkspaceForm(row)"><i class="material-icons">edit</i> Edit</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <ul>
                    <li>{{row.name}}</li>
                    <li>{{row.mobileno1}}</li>
                    <li>{{row.email1}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="card" style="display: none;">
    <div class="body no-padding">
        <div class="row clearfix">
            <div class="col-md-12">
                <p-dataTable>
                    <p-column field="wscode" header="Workspace Code" [style]="{'width': '150px', 'text-align': 'left'}"></p-column>
                    <p-column field="wsname" header="Workspace Name" [style]="{'text-align': 'left'}"></p-column>
                    <p-column field="name" header="Contact Person" [style]="{'width': '150px', 'text-align': 'left'}"></p-column>
                    <p-column field="mobileno1" header="Mobile No" [style]="{'width': '150px', 'text-align': 'left'}"></p-column>
                    <p-column field="email1" header="Email" [style]="{'width': '200px', 'text-align': 'left'}"></p-column>
                    <p-column [style]="{'width': '50px', 'align': 'left'}">
                        <template let-row="rowData" pTemplate type="body">
							<button type="button" class="btn btn-theme btn-xs" (click)="editWorkspaceForm(row)">
                                <i class="material-icons">edit</i>
                            </button>
						</template>
                    </p-column>
                    <p-column [style]="{'width': '50px', 'align': 'left'}">
                        <template let-row="rowData" pTemplate type="body">
							<button type="button" class="btn btn-theme btn-xs" (click)="getMainForm(row)">
                                <i class="material-icons">subdirectory_arrow_right</i>
                            </button>
						</template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>