<div class="card">
    <div class="header">
        <h4>Class Fees</h4>
        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme btn-xs" (click)="addClassFees()">
                    <i class="material-icons">add</i></a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Academic Year <strong>*</strong></label>
                        <select id="ayid" name="ayname" [(ngModel)]="ayid" class="form-control ay" (ngModelChange)="getClassFees()" tabindex="1">
                            <option [value]="0">Select Academic Year</option>
                            <option *ngFor="let row of ayDT" [value]="row.id">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Class <strong>*</strong></label>
                        <select id="clsid" name="clsname" [(ngModel)]="classid" class="form-control class" (ngModelChange)="getClassFees()" tabindex="2">
                            <option [value]="0">Select Class</option>
                            <option *ngFor="let row of classDT" [value]="row.id">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-9">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <table class="table table-bordered table-responsive reports">
                            <thead>
                                <tr>
                                    <th width="140px">Category</th>
                                    <th width="60px">Fees</th>
                                    <th width="50px" align="right"></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="feesDT.length">
                                <tr *ngFor="let row of feesDT">
                                    <td>
                                        {{row.catname}}
                                    </td>
                                    <td align="right">
                                        {{row.fees | _currency:loginUser.globsettings[0]}}
                                    </td>
                                    <td align="right">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-theme btn-xs btn-xs-sm" (click)="editFeesDetails(row)">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="!feesDT.length">
                                <tr>
                                    <td colspan="3">
                                        No records found
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="feesDT.length">
                                <tr>
                                    <td>
                                        <b>Total</b>
                                    </td>
                                    <td align="right">
                                        {{totalFees() | _currency:loginUser.globsettings[0]}}
                                    </td>
                                    <td align="right">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table *ngIf="installmentDT.length" class="table table-bordered table-responsive reports">
                            <thead>
                                <tr>
                                    <th width="50px">Installment</th>
                                    <th width="100px">Fees</th>
                                    <th width="100px">Due Date</th>
                                    <th width="100px">Penalty Fees</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let row of installmentDT | groupBy: 'category'">
                                <tr class="tr-table">
                                    <th colspan="4">
                                        {{row.key}}
                                    </th>
                                </tr>
                                <tr *ngFor="let drow of row.value; let i = index">
                                    <td>
                                        {{i + 1}}
                                    </td>
                                    <td align="right">
                                        {{drow.instlfees | _currency:loginUser.globsettings[0]}}
                                    </td>
                                    <td>
                                        {{drow.duedate}}
                                    </td>
                                    <td align="right">
                                        {{drow.pnltyfees | _currency:loginUser.globsettings[0]}}
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                        <b>Total</b>
                                    </td>
                                    <td align="right">
                                        {{totalInstallmentFees() | _currency:loginUser.globsettings[0]}}
                                    </td>
                                    <td>
                                    </td>
                                    <td align="right">
                                        {{totalPenaltyFees() | _currency:loginUser.globsettings[0]}}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>