<div class="hovercard" *ngFor="let row of workspaceDT">
    <div class="card">
        <div class="body">
            <img src="assets/img/coverphoto.png" onerror="this.src='assets/img/nologo.gif';" class="cover-img">

            <div class="avatar">
                <img alt="{{row.wsname}}" src="{{global.uploadurl + row.wslogo}}" onerror="this.src='assets/img/nologo.gif';" height="100px">
                <div class="title">
                    {{row.wsname}}
                </div>

                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" (click)="openEntityForm(row)">
                        <i class="material-icons">arrow_forward</i>
                    </a>
                </div>
            </div>
            <div class="info">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="desc">
                            <b>Total Entity : </b>{{row.countentity}}
                        </div>
                        <div class="hr"></div>
                        <div class="desc">
                            <b>Workspace Type : </b>{{row.wstype}}
                        </div>
                        <div class="hr"></div>
                        <div class="desc">
                            <b>Workspace Code : </b>{{row.ucode}}
                        </div>
                        <div class="hr"></div>
                        <div class="desc">
                            <b>Description : </b>{{row.wsdesc}}
                        </div>
                        <div class="hr"></div>
                        <div class="desc">
                            <b>Contact Person : </b>{{row.name}}
                        </div>
                        <div class="hr"></div>
                        <div class="desc">
                            <b>Mobile : </b>{{row.mobileno1}}
                        </div>
                        <div class="hr"></div>
                        <div class="desc" *ngIf="row.mobileno2 !== ''">
                            <b>Alternate Mobile : </b>{{row.mobileno2}}
                        </div>
                        <div class="hr"></div>
                        <div class="desc">
                            <b>Email : </b>{{row.email1}}
                        </div>
                        <div class="hr"></div>
                        <div class="desc" *ngIf="row.email2 !== ''">
                            <b>Alternate Email : </b>{{row.email2}}
                        </div>
                        <div class="hr"></div>
                        <div class="desc" *ngIf="row.address !== ''">
                            <b>Address : </b>{{row.address}}
                        </div>
                        <div class="hr"></div>
                        <div class="desc" *ngIf="row.country !== ''">
                            <b>Country : </b>{{row.country}}
                        </div>
                        <div class="hr"></div>
                        <div class="desc" *ngIf="row.state !== ''">
                            <b>State : </b>{{row.state}}
                        </div>
                        <div class="hr"></div>
                        <div class="desc" *ngIf="row.city !== ''">
                            <b>City : </b>{{row.city}}
                        </div>
                        <div class="hr"></div>
                        <div class="desc" *ngIf="row.area !== ''">
                            <b>Area : </b>{{row.area}}
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>