<div class="card">
    <div class="body">
        <h4>DASHBOARD</h4>
    </div>
</div>

<div class="row clearfix">
    <div *ngFor="let item of dashboardData" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box-2 bg-{{item.color}} hover-zoom-effect">
            <div class="icon">
                <i class="material-icons">blur_on</i>
            </div>
            <div class="content">
                <div class="text">{{item.vehtype}}</div>
                <div class="number">{{item.counts}}</div>
            </div>
        </div>
    </div>
</div>