<div class="card">
    <div class="header">
        <h4>Homework</h4>

        <ul class="header-dropdown m-r--5">
            <li>
                <a role="button" class="btn btn-theme" (click)="addAssignment()">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-12">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th width="200px">Title</th>
                            <th width="100px">Class Name</th>
                            <th width="200px">Assignment By</th>
                            <th width="150px">From Date</th>
                            <th width="150px">To Date</th>
                            <th width="50px"></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!assignmentDT.length">
                        <tr>
                            <td colspan="6">
                                <h5>No Data Found....</h5>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngFor="let row of assignmentDT">
                        <tr>
                            <td>
                                {{row.title}}
                            </td>
                            <td>
                                {{row.classname}}
                            </td>
                            <td>
                                {{row.assnmby}}
                            </td>
                            <td>
                                {{row.frmdt}}
                            </td>
                            <td>
                                {{row.todt}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-theme" (click)="editAssignment(row)">
                                    <i class="material-icons">edit</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>