/* all vehicles */
.vehiclewrapper {
    background-color: #ccc;
    /* height: calc(100% - 59px); */
    height: calc(100% - 0px);
    overflow-y: scroll;
}

ul.vehicles {
    list-style-type: none;
    height: calc(100% - 15px);
    padding: 0px;
}

li.vehicle {
    /* margin-bottom: 7px; */
    padding: 4px 4px;
}

.vhwrapper {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    border: 2px solid #636363;
    opacity: 0.8;
}

.vhwrapper:hover {
    opacity: 1;
}

.vhbody {
    display: block;
    /* padding: 4px 8px; */
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 10px;
}

.vhchkbx {
    width: 10%;
    float: left;
    height: 46px;
}

.vhchkbx img {
    height: 25px;
    position: relative;
    left: -1px;
    top: -4px;
}

.vhtitle {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-left: 29px;
}

.vhsubtitle {
    margin-left: 29px;
    display: block;
    font-size: 11px;
    color: #8c8c8c;
}




.vhwrapper span.speed {
    color: #af2020;
    
    margin-top: 0px;
}

.vhwrapper span.time {
    color: #3f51b5;
    margin-right: 8px;
}

.vhwrapper span.shortdet {
    color: #4e4e4e;
    margin-right: 8px;
}

.vhwrapper.ol, .subicons.ol {
    border: 2px solid #2b982b;
    opacity: 1;
}

.vhwrapper.of , .subicons.of{
    border: 2px solid orange;
    opacity: 0.8;
}

.vhwrapper.ou, .subicons.ou {
    border: 2px solid #636363;
    opacity: 0.5;
}


.card .body {
    padding: 5px;
}

.imgProf {
    background-image: url('../../../assets/img/no.jpg')
}


.tripstatus{
color: #0043ff;
    font-size: 10px;
    font-weight: bold;
    margin-top: 0px;
}

.shake {
    animation-name: shake;
}
.bounce{
    animation-name: bounce;
    transform-origin: center bottom;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.swing{
        transform-origin: top center;
    animation-name: swing;
}

.subicons{
    background-color: #d6e6ee;
    border-radius: 0px 0px 7px 7px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.16), -2px 12px 10px rgba(0, 0, 0, 0.12);
    border: 2px solid #da9b28;
    /* opacity: 0.8; */
    border-top: 0px!important;
    z-index: 1130;
    margin-top: -2px;
    position: relative;
}

.vhfooter a.btn{
    font-size: 11px;
}