<div class="col-md-3 card" id="sidepanel" style="height: calc(100vh - 50px);overflow: auto;margin-bottom:0px;border-right: 1px solid #ddd;background-color: #fcfcfc;">
    <div class="body" style="height:55px;">
        <div class="row clearfix">
            <div class="form-group">
                <div class="form-line">
                    <p-autoComplete id="enttname" name="enttname" [(ngModel)]="enttname" [tabindex]="1" (onSelect)="selectEntityData($event)"
                        [suggestions]="entityDT" (completeMethod)="getEntityData($event)" field="label" [minLength]="1" [size]="30"
                        class="form-controlAutoComplete enttname" placeholder="Search for entity"></p-autoComplete>
                    <span class="material-icons inputserachico" style="top:4px;">search</span>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-12 vehiclewrapper" id="style-15">
        <ul class="vehicles">
            <li class="vehicle" *ngFor="let row of vehtypeDT">
                <div class="vhwrapper {{row.isshow ? row.min > 3 ? 'of' : 'ol' : 'ou'}}" (click)="clickVehicle(row)">
                    <div class="vhbody">
                        <div class="titlewrap">
                            <div>

                                <div class="vhchkbx">
                                    <input type="checkbox" id="{{row.vhid}}" data-md-icheck (change)="onchange($event, row)" class="filled-in">
                                    <label for="{{row.vhid}}"></label>
                                    <img src="assets/img/map/{{row.ico}}_0.png" height="40px" />
                                </div>
                                <span class="vhbatr pull-right" *ngIf="row.isshow">
                                    {{row.isempty}}
                                <span class="vhbtrper">{{row.btr | _currency:{'decimals':0, 'currsym': '' }  }}%</span>
                                <span class="btr">
										<span class="btr-line" title="{{row.btr}}%" [ngStyle]="{'width': row.btr+'%'}"></span>
                                </span>

                                </span>

                                <div class="vhtitle">
                                    {{row.vno}}
                                </div>

                                <div class="vhsubtitle">
                                    <div><span class="shortdet">{{row.vrg}}&nbsp;&nbsp;&nbsp;{{row.vmodl}}</span></div>
                                </div>
                                <div class="vhsubtitle">
                                    <div *ngIf="row.isshow"><span class="time">{{row.sertm | timeAgo}}</span><span class="speed pull-right">{{row.speed | _currency:{'decimals':3, 'currsym': '' } }} km/h</span>                                        </div>
                                    <span *ngIf="!row.isshow">No updates found</span>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="vhfooter">
                        <div class="btn-group btn-group-xs btn-group-justified" role="group" aria-label="Justified button group">
                            <a href="javascript:void(0);" class="btn bg-info waves-effect" role="button">INFO</a>
                            <a href="javascript:void(0);" class="btn bg-info waves-effect" role="button">PASSENGERS</a>
                            <a href="javascript:void(0);" class="btn bg-info waves-effect" role="button">HISTORY</a>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
<div class="col-md-9" id="map" style="margin-bottom:0px;padding:0px!important">
    <div class="col-md-12" style="    height: 40px;
    border-bottom: 1px solid #ddd;
    background-color: #fcfcfc;">

    </div>

    <div style="left: 0px;z-index: 1;position: absolute;top:113px;background:#ffffff;height:40px;"><a role="button" (click)="closesidepanel()"> <i class="material-icons" id="closeicon">keyboard_arrow_left</i></a></div>
    <p-gmap #gmap [style]="{'width':'100%','height':'500px', 'height': 'calc(100vh - 92px)', 'position': 'relative', 'overflow': 'hidden'}"
        [options]="options" [overlays]="overlays"></p-gmap>
</div>