<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-4">
                <h4>Subject Map To Teacher</h4>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Teacher</label>
                        <p-autoComplete id="tchrid" name="tchrname" [(ngModel)]="tchrdata" [tabindex]="5" (onSelect)="selectTeacherData($event)" [suggestions]="teacherDT" (completeMethod)="getTeacherData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete tchrname"></p-autoComplete>
                        <span class="material-icons inputserachico">search</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-4">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Class <strong>*</strong></label>
                        <select id="classid" name="classname" [(ngModel)]="classid" class="form-control classname" (ngModelChange)="getSubjectMapToTeacher()" tabindex="1">
                            <option [value]="0">Select Class</option>
                            <option *ngFor="let row of classDT" [value]="row.id">
                                {{row.val}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2 pad-20 text-right">
                <div class="form-group">
                    <button type="button" class="btn btn-theme btn-xs" (click)="addSubjectMapToTeacher()">
                        <i class="material-icons">add</i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="body no-padding">
        <div class="row clearfix">
            <div class="col-md-12">
                <table class="table table-bordered reports">
                    <thead>
                        <tr>
                            <th>
                                Teacher Name
                            </th>
                            <th>
                                Subject
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let row of submaptchrDT | groupBy:'classname'">
                        <tr class="tr-table">
                            <th colspan="3">
                                {{row.key}}
                            </th>
                        </tr>
                        <tr *ngFor="let drow of row.value">
                            <td>
                                {{drow.tchrname}}
                            </td>
                            <td>
                                {{drow.subject}}
                            </td>
                            <td>
                                <div class="form-group">
                                    <button type="button" class="btn btn-theme btn-xs" (click)="editSubjectMapToTeacher(drow)">
                                        <i class="material-icons">edit</i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>